/**
 * Table of Contents
 *
 * 1.0 - Pagination
 * 2.0 - Social Media Icon
 * 3.0 - Default Blog Template
 * 4.0 - Classical Template
 * 5.0 - Light Breeze Template
 * 6.0 - Spektrum Template
 * 7.0 - Evolution Template
 * 8.0 - Timeline Template
 * 9.0 - News Template
 * 10.0 - Media Queries
 *
 */

/**
 * 1.0 - Pagination
 */

.bd_pagination_box.wl_pagination_box {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    text-align: center;
}
.bd_pagination_box.wl_pagination_box.news {
    padding: 10px;
}
.bd_pagination_box.wl_pagination_box .paging-navigation ul.page-numbers,
.bd_pagination_box.wl_pagination_box .paging-navigation {
    margin: 0;
    padding: 0;
}
.bd_pagination_box.wl_pagination_box .paging-navigation ul.page-numbers li {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 10px;
    vertical-align: middle;
}
.bd_pagination_box.wl_pagination_box .paging-navigation ul.page-numbers li span.current {
    padding: 5px 10px;
}
.bd_pagination_box.wl_pagination_box .paging-navigation ul.page-numbers li a.page-numbers {
    text-decoration: none !important;
    padding: 5px 10px;
    box-shadow: none;
}

/**
 * 2.0 - Social Media Icon
 */
.bdp_blog_template .social-component {
    clear: left;
    display: inline-block;
}
.bdp_blog_template.box-template .social-component {
    display: inline-block;
    width:100%;
}
.bdp_blog_template.timeline .social-component {
    box-sizing: border-box;
    float: left;
    margin-bottom: 0;
    width: 100%;
    display:inline-block;
}
.bdp_blog_template .social-component a {
    border: 1px solid #cccccc;
    float: left;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px 0;
    text-align: center;
    width: 38px;
    font-size: 15px;
    line-height:20px;
    box-shadow: none;
}
.bdp_blog_template.timeline .social-component a {
    padding: 5px 0;
    width: 30px;
}
.social-component a.bd-facebook-share:hover {
    background: none repeat scroll 0 0 #3a589d;
    border-color: #3a589d;
    color: #fff;
}
.social-component a.bd-twitter-share:hover {
    background: none repeat scroll 0 0 #2478ba;
    border-color: #2478ba;
    color: #fff;
}
.social-component a.bd-google-share:hover {
    background: none repeat scroll 0 0 #dd4e31;
    border-color: #dd4e31;
    color: #fff;
}
.social-component a.bd-linkedin-share:hover {
    background: none repeat scroll 0 0 #0177B5;
    border-color: #0177B5;
    color: #fff;
}
.social-component a.bd-pinterest-share:hover {
    background: none repeat scroll 0 0 #cb2320;
    border-color: #cb2320;
    color: #fff;
}
.social-component .bd-social-share {
    cursor: pointer;
}

/**
 * 3.0 - Default Blog Template
 */

.bdp_blog_template {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.bdp_blog_template .bd-meta-data-box {
    float: left;
    margin: 10px 0;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    font-style: italic;
}
.bdp_blog_template [class^="bd-icon-"],
.bdp_blog_template [class*=" bd-icon-"] {
    background: url(../images/glyphicons-halflings.png ) no-repeat 14px 14px;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    width: 14px;
}
.bdp_blog_template .bd-meta-data-box .bd-metadate,
.bdp_blog_template .bd-meta-data-box .bd-metauser,
.bdp_blog_template .bd-meta-data-box .bd-metacats {
    float: left;
    padding: 0 10px 0 0;
    font-size: 15px;
}
.bdp_blog_template .bd-meta-data-box .bd-metacomments {
    float: left;
    font-size: 15px;
}
.entry-content .bdp_blog_template a,
.entry-content .bdp_blog_template .bd-tags a,
.entry-content .bdp_blog_template .bd-meta-data-box .bd-metacats a,
.entry-content .bdp_blog_template .bd-meta-data-box .bd-metacomments a {
    text-decoration: none;
    box-shadow: none;
}
.bdp_blog_template a.bd-more-tag:hover {
    box-shadow: none;
}
.bdp_blog_template .bd-icon-author {
    background-position: -168px 1px;
    margin-right: 5px;
}
.bdp_blog_template span.calendardate {
    color: #6D6D6D;
    margin-left: 18px;
    font-size: 12px;
}
.bdp_blog_template .bd-metacomments i,
.bdp_blog_template .bd-metadate i,
.bdp_blog_template .mdate i,
.bdp_blog_template span.calendardate i {
    margin-right: 5px;
}
.bdp_blog_template .bd-icon-cats {
    background-position: -49px -47px;
}
.bdp_blog_template .bd-icon-comment {
    background-position: -241px -119px;
}
.bdp_blog_template .bd-blog-header .bd-metadatabox {
    border-bottom: none;
    float: none;
    font-size: 13px;
    font-style: italic;
    margin: 5px 0 0;
    width: 100%;
    line-height: 2;
}
.bdp_blog_template .bd-blog-header .bd-metadatabox .bd-metacomments {
    float: right;
    border-radius: 5px;
}
.bdp_blog_template .bd-blog-header .bd-metadatabox .bd-icon-date {
    background-position: -48px -24px;
    margin-right: 3px;
}
.bdp_blog_template .bd-tags {
    padding: 5px 10px;
    border-radius: 3px;
}
.bdp_blog_template.box-template .bd-tags {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 7px;
}
.bdp_blog_template .bd-tags .bd-icon-tags {
    background-position: -25px -47px;
}
.bdp_blog_template .bd-blog-header {
    overflow: hidden;
    margin: 15px 0;
}
.bdp_blog_template .bd-post-footer {
    display: inline-block;
    width: 100%;
}
.bdp_blog_template .bd-blog-header img {
    box-shadow: none;
    width: 100%;
}
.bdp_blog_template .bd-blog-header h2 {
    display: block;
    padding: 3px 0;
    margin: 0;
    border-radius: 3px;
    line-height: 1.5;
}
.blog_template .bd-more-tag-inline {
    margin-left: 5px;
}
.classical .bd-post-content {
    margin-bottom: 30px;
}
.bd-post-content {
    margin-bottom: 15px;
}
.bd-link-label {
    display: inline-block !important;
    padding: 0 !important;
}
.bd-link-label i {
    margin-right: 3px;
}
.bdp_blog_template a.bd-more-tag {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 5px;
    float: right;
}
.bd-tags,
span.bd-category-link,
.bdp_blog_template .bd-categories,
.bd-meta-data-box .bd-metacats,
.bd-meta-data-box .bd-metacats a,
.bd-meta-data-box .bd-metacomments a,
.bdp_blog_template .bd-categories a,
.bd-post-content a,
.bd-tags a,
span.bd-category-link a,
.bdp_blog_template a {
    font-size: 14px;
}

/**
* 4.0 - Classical Template
*/

.bdp_blog_template.classical {
    border-bottom: 1px dashed rgb(204, 204, 204);
    padding: 0 0 40px;
    background: none;
}
.bdp_blog_template.classical .bd-post-image {
    margin:0;
}
.bdp_blog_template.classical .bd-post-image img {
    width: 100%;
}
.bdp_blog_template.classical .bd-post-image img:hover {
    opacity: 1;
}
.bdp_blog_template.classical .bd-blog-header h2 {
    border-radius: 0;
    padding: 0;
}
.bdp_blog_template.classical .bd-blog-header .bd-tags {
    background: none;
    border-radius: 0px;
    padding: 0px;
}
.bdp_blog_template.classical .bd-category-link {
    font-size: 14px;
}

/**
 * 5.0 - Light Breeze Template
 */

.bdp_blog_template.lightbreeze {
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border: 1px solid #ccc;
}
.bdp_blog_template.lightbreeze .bd-post-image {
    overflow: hidden;
    margin: 0;
}
.bdp_blog_template.lightbreeze .bd-post-image img {
    transform: scale(1);
    transition: all 1s ease 0s;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.bdp_blog_template.lightbreeze .bd-post-image img:hover {
    transform: scale(1);
}
.bdp_blog_template.lightbreeze .bd-blog-header h2 {
    padding: 0;
}
.bdp_blog_template.lightbreeze .bd-meta-data-box {
    margin: 10px 0 0;
    padding-bottom: 15px;
}
.bdp_blog_template.lightbreeze .bd-tags {
    padding: 5px 0;
}
.bdp_blog_template.lightbreeze .social-component {
    width: auto;
    display: inline-block;
}

/**
 * 6.0 - Spektrum Template
 */

.bdp_blog_template.spektrum {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: none;
    border: none;
    border-radius: 0px;
    padding: 0px;
}
.bdp_blog_template.spektrum .spektrum_content_div {
    box-shadow: 0 3px 5px rgba(196, 196, 196, 0.3);
    float: left;
    padding: 15px;
    max-width: 100%;
}
.bdp_blog_template.spektrum img {
    float: left;
    width: 100%;
}
.bdp_blog_template.spektrum .bd-post-image {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
}
.bdp_blog_template.spektrum .bd-post-image .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: rotateY(180deg) scale(0.5, 0.5);
    transition: all 450ms ease-out 0s;
    width: 100%;
}
.bdp_blog_template.spektrum .bd-post-image:hover .overlay {
    cursor: pointer;
}
.bdp_blog_template.spektrum .bd-post-image .overlay a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    padding: 15px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate3d(-50%, -50%, 0px);
    position:absolute;
    left:50%;
    top:50%;
}
.bdp_blog_template.spektrum .bd-blog-header.disable_date {
    padding-left: 0;
}
.bdp_blog_template.spektrum .bd-blog-header {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0;
    padding-left: 70px;
    min-height: 55px;
}
.bdp_blog_template.spektrum .bd-blog-header h2 {
    border-radius: 0;
    box-sizing: border-box;
    padding: 0px 10px 0 0;
    font-size: 30px;
}
.bdp_blog_template.spektrum .date {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    font-size: 10px;
    height: 55px;
    margin: 0;
    padding: 5px;
    text-align: center;
    min-width: 60px;
    position: absolute;
    left: 0;
    color: #fff;
}
.bdp_blog_template.spektrum .number-date {
    display: block;
    font-size: 20px;
    line-height: 14px;
    padding: 7px 5px 5px;
}
.bdp_blog_template.spektrum .post-bottom {
    clear: both;
    margin-top: 15px;
    position: relative;
    width: 100%;
    float: left;
}
.bdp_blog_template.spektrum .post-bottom .bd-categories,
.bdp_blog_template.spektrum .post-bottom .bd-metacomments,
.bdp_blog_template.spektrum .post-bottom .post-by,
.bdp_blog_template.spektrum .post-bottom .bd-tags {
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    padding: 0;
}
.bdp_blog_template.spektrum .details a {
    display: inline-block;
    padding: 4px 10px;
    text-decoration: none;
}
.bdp_blog_template.spektrum .bd-post-content {
    width: 100%;
    display: inline-block;
}
.bdp_blog_template.spektrum .bd-icon-cats {
    background-position: -70px -49px;
}
.bdp_blog_template.spektrum .bd-icon-author {
    background-position: -168px -1px;
}
.bdp_blog_template.spektrum .bd-icon-comment {
    background-position: -241px -120px;
}

/**
 * 7.0 - Evolution Template
 */

.bdp_blog_template.evolution .post-entry-meta .bd-icon-date {
    background-position: -48px -25px;
}
.bdp_blog_template.evolution .post-entry-meta .bd-icon-author {
    background-position: -168px -1px;
    margin-right: 0;
}
.bdp_blog_template.evolution .post-entry-meta .bd-icon-comment {
    background-position: -241px -120px;
}
.bdp_blog_template.evolution .post-entry-meta .bd-icon-tags {
    background-position: -25px -48px;
}
.bdp_blog_template.evolution {
    border: none;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
}
.bdp_blog_template.evolution .bd-blog-header {
    margin: 10px 0;
    text-align: center;
}
.bdp_blog_template.evolution .bd-post-image {
    overflow: hidden;
    margin: 0;
    position: relative;
}
.bdp_blog_template.evolution .bd-post-image img {
    transform: scale(1);
    transition: all 1s ease 0s;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.bdp_blog_template.evolution .bd-post-image:hover img {
    transform: scale(1);
}
.bdp_blog_template.evolution .bd-post-image .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    height: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.bdp_blog_template.evolution .bd-post-image:hover .overlay {
    transition: all 0.1s ease 0s;
}
.bdp_blog_template.evolution .bd-post-content {
    margin-top: 10px;
}
.bdp_blog_template.evolution .bd-post-content p {
    margin-bottom: 10px;
}
.bdp_blog_template.evolution .post-entry-meta > span {
    display: inline-block;
    margin: 0 5px;
}
.bdp_blog_template.evolution .bd-tags {
    padding: 0;
    margin-bottom: 10px;
}
.bdp_blog_template.evolution .bd-categories,
.bdp_blog_template.evolution .post-entry-meta {
    text-align: center;
    margin-bottom: 10px;
    display: block;
    font-size: 15px;
}
.bdp_blog_template.evolution .bd-categories a {
    font-size: 15px;
}
.bdp_blog_template.evolution .social-component {
    float: left;
}
.bdp_blog_template.evolution .bd-post-footer {
    padding-top: 10px;
    border-top: 1px solid #777777;
}

/**
 * 8.0 - Timeline Template
 */

.bdp_blog_template.timeline {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background:none;
}
.timeline_bg_wrap:before {
    content: "";
    height: 100%;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 3px;
}
.bdp_blog_template.timeline .bd-post-image {
    position: relative;
}
.bdp_blog_template.timeline .bd-post-image .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    display: block;
    height: 0;
    position: absolute;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
.bdp_blog_template.timeline .bd-post-image:hover .overlay {
    transition: all 0.1s ease-out 0s;
}
.bdp_blog_template.timeline .photo {
    text-align:center;
}
.bdp_blog_template.timeline .desc {
    margin-top: 15px;
}
.timeline_bg_wrap {
    padding: 0 0 50px;
    position: relative;
    margin-bottom: 50px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.timeline_bg_wrap .timeline_back {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.bd-datetime {
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    height: 70px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: -30px;
    width: 70px;
    z-index: 1;
}
.timeline.blog-wrap:nth-child(2n+1) .bd-datetime {
    left: -30px;
}
.timeline.blog-wrap:nth-child(2n) .bd-datetime {
    left: inherit;
    right: -30px;
}
.timeline .bd-datetime .month {
    font-size:15px;
    color:#fff;
    float:left;
    width:100%;
    padding:12px 0 0 0;
}
.timeline .bd-datetime .date {
    font-size:26px;
    color:#fff;
    float:left;
    width:100%;
    padding:5px 0 0 0;
}
.timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2) {
    margin-top: 100px;
}
.timeline_bg_wrap .timeline_back .timeline.blog-wrap {
    display: block;
    padding-bottom: 35px;
    padding-top: 45px;
    position: relative;
    width: 50%;
}
.timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n) {
    clear: right;
    float: right;
    padding-left: 50px;
    padding-right: 30px;
}
.timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n+1) {
    clear: left;
    float: left;
    padding-right: 50px;
    padding-left: 30px;
}
.bdp_blog_template.timeline .post_hentry {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.bdp_blog_template.timeline .post_hentry > i {
    box-shadow:0 0 0 4px white, 0 1px 0 rgba(0, 0, 0, 0.2) inset, -3px 3px 8px 5px rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    content: "\f040";
    height: 35px;
    position: absolute;
    right: -68px;
    top: 0;
    width: 35px;
    box-sizing: unset;
    color:#fff;
    display: block;
    font-size: 24px;
    text-align: center;
    line-height: 1.3;
}
.bdp_blog_template.timeline:nth-child(2n) .post_hentry > i {
    left: -68px;
    right: auto;
}
.bdp_blog_template.timeline {
    border: none;
    box-shadow: none;
    margin: 0;
}
.bdp_blog_template.timeline:nth-child(2n+1) .post_content_wrap:before,
.bdp_blog_template.timeline:nth-child(2n+1) .post_content_wrap:after {
    border-bottom: 8px solid transparent;
    border-top: 8px dashed transparent;
    border-right: none;
    content: "";
    position: absolute;
    right: -8px;
    top: 13px;
}
.bdp_blog_template.timeline:nth-child(2n) .post_content_wrap:before,
.bdp_blog_template.timeline:nth-child(2n) .post_content_wrap:after {
    border-bottom: 8px solid transparent;
    border-top: 8px dashed transparent;
    border-left: none;
    content: "";
    left: -8px;
    position: absolute;
    top: 13px;
}
.bdp_blog_template.timeline:nth-child(2n+1) .post_content_wrap {
    float: right;
    margin-left: 0;
}
.post_content_wrap {
    border-radius: 3px;
    margin: 0;
    word-wrap: break-word;
    font-weight: normal;
    float: left;
    width: 100%;
}
.bdp_blog_template.timeline .post_wrapper.box-blog {
    float: left;
    padding: 15px;
    max-width: 100%;
}
.clearfix:after {
    clear: both;
}
.bdp_blog_template.timeline:nth-child(1),
.bdp_blog_template.timeline:nth-child(2) {
    padding-top: 100px;
}
.bdp_blog_template.blog-wrap .desc a.desc_content {
    display: block;
    padding: 15px 15px 5px;
    position: relative;
    text-align: center;
}
.bdp_blog_template .blog_footer.blog_footer,
.bdp_blog_template .blog_div {
    background: none repeat scroll 0 0 #ffffff;
}
.bdp_blog_template .post_content_wrap .blog_footer {
    padding-left: 5px;
    width: 100%;
}
.bdp_blog_template .blog_footer span {
    padding: 5px;
    text-transform:none;
    display: inherit;
    font-size: 15px;
}
.bdp_blog_template .date_wrap span {
    text-transform:capitalize;
}
.bdp_blog_template span.leave-reply i,
.blog_footer span i {
    padding-right: 5px;
}
.bdp_blog_template.timeline .read_more {
    display: block;
    text-align: center;
}
.bdp_blog_template.timeline .bd-more-tag {
    float: none;
    margin-bottom: 8px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 15px;
}
.bdp_blog_template .post-icon {
    color: #ffffff;
}
.bdp_blog_template .date_wrap {
    padding-bottom: 5px;
}
.bd-datetime span.month{
    color:#555;
}
.bdp_blog_template.timeline {
    box-sizing: border-box;
}
.bdp_blog_template.timeline .blog_footer {
    box-sizing: border-box;
    float: left;
    padding: 15px;
    width: 100%;
    border-radius: 0px 0 3px 3px;
}
.bdp_blog_template.timeline .bd-post-content{
    padding-bottom:10px;
    margin: 0;
}
.bdp_blog_template.timeline .bd-post-content p {
    margin: 0;
}
.bdp_blog_template.timeline .bd-post-content a.more-link {
    display: none;
}
.bdp_blog_template.timeline .desc a h3 {
    margin-bottom: 10px;
    text-align: left;
}
.bdp_blog_template.timeline .bd-tags {
    padding: 5px;
}

/**
 * 9.0 - News Template
 */

.bdp_blog_template.news {
    padding: 10px;
}
.bdp_blog_template.news .bd-post-image {
    float: left;
    height: auto;
    width: 40%;
}
.bdp_blog_template.news .bd-post-image img {
    width: 100%;
    max-width: 100%;
}
.bdp_blog_template.news .post-content-div.full_with_class {
    width: 100%;
    padding: 0;
}
.bdp_blog_template.news .post-content-div {
    border: medium none;
    color: #9b9999;
    float: right;
    margin-top: 0;
    padding: 0 0 0 2%;
    width: 58%;
}
.bdp_blog_template.news .post-content-div .bd-category-link .fa-bookmark {
    margin-right: 5px;
}
.bdp_blog_template.news .bd-blog-header .bd-metadatabox {
    margin-top: 0;
    margin-bottom: 5px;
}
.bdp_blog_template.news .bd-blog-header {
    margin: 0;
}
.bdp_blog_template.news .bd-blog-header .date {
    margin-bottom: 5px;
    font-size: 14px;
}
.bdp_blog_template.news .bd-blog-header h2.title a {
    color: #333;
    font-size: 30px;
}
.bdp_blog_template.news .bd-blog-header h2.title {
    margin: 5px 0;
    width: 100%;
}
.bdp_blog_template.news .bd-blog-header .bd-metadatabox a {
    font-size: 14px;
    text-transform: capitalize;
    margin-right: 10px;
}
.bdp_blog_template.news .post-content-div .post_cat_tag > span i {
    color: #333;
    font-size: 14px;
}
.bdp_blog_template.news .post-content-div .post_cat_tag > span {
    display: block;
    margin-bottom: 5px;
    padding: 0;
}
.bdp_blog_template.news .bd-post-content {
    width: 100%;
    display: inline-block;
}
.bdp_blog_template.news .bd-post-image:hover {
    opacity: 1;
}

/**
 * 9.0 - Media Queries
 */

@media screen and (max-width: 992px){

    .bdp_blog_template .timeline_bg_wrap:before {
        left: 6%;
    }
    .bdp_blog_template .timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n+1) {
        clear: right;
        float: right;
        padding-left: 50px;
        padding-right: 30px;
    }
    .bdp_blog_template .timeline_bg_wrap .timeline_back .timeline.blog-wrap {
        width: 94%;
    }
    .bdp_blog_template.timeline:nth-child(n) .post_hentry:before {
        left: -68px;
        right: auto;
    }
    .bdp_blog_template.timeline:nth-child(2n+1) .post_content_wrap:before,
    .bdp_blog_template.timeline:nth-child(2n+1) .post_content_wrap:after {
        left: -8px;
        border-right: 8px solid #000000;
        border-left: none;
        right:auto;
    }
    .bdp_blog_template .bd-datetime {
        height: 60px;
        width: 60px;
    }
    .bdp_blog_template.timeline .bd-datetime .month {
        font-size: 14px;
    }
    .bdp_blog_template.timeline .bd-datetime .date {
        font-size: 20px;
    }
    .bdp_blog_template.timeline:nth-child(2n+1) .bd-datetime,
    .bdp_blog_template.timeline:nth-child(2n) .bd-datetime {
        left: inherit;
        right: -30px;
    }
    .bdp_blog_template.timeline:nth-child(2) {
        margin-top: 0;
        padding-top: 45px;
    }
    .bdp_blog_template.timeline:nth-child(2n+1) .post_content_wrap {
        float: left;
    }
    .timeline_bg_wrap:before {
        left: 10%;
    }
    .timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n+1),
    .timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n) {
        float: right;
        padding-left: 50px;
        padding-right: 50px;
    }
    .timeline_bg_wrap .timeline_back .timeline.blog-wrap {
        width: 90%;
    }
    .bdp_blog_template.timeline .post_hentry > i {
        left: -68px;
    }
    .bdp_blog_template.timeline:nth-child(2n+1) .post_content_wrap::before,
    .bdp_blog_template.timeline:nth-child(2n+1) .post_content_wrap::after {
        border-right: 8px solid #db4c59;
        border-left: none !important;
        right: none;
        border-left: none !important;
    }
}

@media screen and (max-width: 640px){
    .bdp_blog_template.news .bd-post-image {
        width: 100%;
    }
    .bdp_blog_template.news .post-content-div {
        width: 100%;
        padding: 0;
        margin-top: 15px;
    }
}