.bdp_blog_template.classical {
    background-color: #ffffff;
    border-bottom: 1px dashed rgb(204, 204, 204);
    padding: 35px 0 40px;
    background: none;
    display: block;
    overflow: hidden;
    position: relative;
}
.bdp_blog_template.classical:first-child {
    padding-top: 0;
}
.bdp_blog_template.classical .bdp-post-image.post-video {
    overflow: visible;
    line-height: 0;
}
.bdp_blog_template.classical .bdp-post-image {
    background: none repeat scroll 0 0 #f4f4f4;
    float: left;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.bdp_blog_template.classical .label_featured_post {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    background: #000000;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 0px;
}
.bdp_blog_template.classical .blog_header {
    float: left;
    line-height: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    padding: 0 15px;
}
.bdp_blog_template.classical .blog_header h2 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.bdp_blog_template.classical .blog_header h2 a {
    box-shadow: none;
}
.bdp_blog_template.classical a {
    box-shadow: none;
}
.bdp_blog_template.classical p,
.bdp_blog_template.classical .metadatabox {
    padding: 0;
}
.bdp_blog_template.classical .metadatabox {
    color: #777777;
    font-size: 15px;
    line-height: 1.8;
    display: inline-block;
    width: 100%;
}
.bdp_blog_template.classical .metadatabox .metadata {
    display: inline-block;
    margin-right: 20px;
    float: left;
}
.bdp_blog_template.classical .metadatabox .metacomments {
    float: right;
}
.bdp_blog_template.classical .entry-container {
    background: none repeat scroll 0 0 #f7f7f7;
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}
.bdp_blog_template.classical .entry-title {
    height: 50px;
}
.bdp-wrapper-like {
    padding-left: 10px;
}
.bdp_blog_template.classical small {
    font-size: 85%;
}

.bdp_blog_template.classical .metacomments {
    display: inline-block;
}
.bdp_blog_template.classical .metacomments i {
    margin-right: 3px;
}
.bdp_blog_template.classical .bdp-post-image img {
    transition: all 0.35s ease-in-out 0s;
    max-width: 100%;
}
.bdp_blog_template.classical .post-video iframe,
.bdp_blog_template.classical .thumb {
    display: block;
}
.bdp_blog_template.classical .post-meta-cats-tags {
    margin-top: 10px;
    color: #777777;
    float: left;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
}
.bdp_blog_template.classical .post-meta-cats-tags .tags,
.bdp_blog_template.classical .post-meta-cats-tags .category-link {
    color: #777777;
    font-size: 14px;
}
.bdp_blog_template.classical .post-meta-cats-tags .link-lable {
    text-transform: capitalize;
}
.bdp_blog_template.classical .post_content {
    float: left;
    font-weight: 300;
    width: 100%;
    padding: 0 15px;
}
.bdp_blog_template.classical .post_content p {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.bdp_blog_template.classical .post_content h2,
.bdp_blog_template.classical .post_content h2,
.bdp_blog_template.classical .post_content h3,
.bdp_blog_template.classical .post_content h4,
.bdp_blog_template.classical .post_content h5,
.bdp_blog_template.classical .post_content h6 {
    margin: 15px 0 10px 0;
    display: inline-block;
    width: 100%;
}
.bdp_blog_template.classical .clearfix:before {
    content: "";
    display: table;
    line-height: 0;
}
.bdp_blog_template.classical .clearfix:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.bdp_blog_template.classical .entry-meta {
    background: none repeat scroll 0 0 #F7F7F7;
    border-color: #dddddd;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 15px 0 15px 3%;
    position: relative;
    display: table;
    width: calc(100% - 6%);
    float: left;
}
.bdp_blog_template.classical .read-more {
    display: inline-block;
    margin-right: 15px;
    float: right;
    margin: 0;
}
.bdp_blog_template.classical .read-more a {
    border: 1px solid #ddd;
    border-radius: 3px;
    float: right;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #f7f7f7;
}
.bdp_blog_template.classical .social-component {
    margin-top: 0;
}
.bdp_blog_template.classical .social-component .social-share,
.bdp_blog_template.classical .social-component > a {
    margin: 5px 10px 5px 0 !important;
}
.bdp_blog_template.classical .social-component .social-share .count {
    border-color: #dddddd;
}
.bdp_blog_template.classical .social-component-count-top .social-share .count:before {
    border-top-color: #dddddd;
}
.bdp_blog_template.classical .social-component-count-bottom .social-share .count:before {
    border-bottom-color: #dddddd;
}
.bdp_blog_template.classical .social-component-count-right .social-share .count:before {
    border-right-color: #dddddd;
}

.bdp_blog_template.classical .social-component-count-bottom,
.bdp_blog_template.classical .social-component-count-top,
.bdp_blog_template.classical .social-component-count-right {
    padding: 0 15px;
    display: inline-block;
    width: 100%;
}
/*author page style for archive page */
.bdp_archive.classical .author-avatar-div {
    background: #ffffff none repeat scroll 0 0;
    padding: 15px 3%;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
.bdp_archive.classical .avtar-img {
    float: left;
    margin-right: 15px;
}
.bdp_archive.classical .avtar-img img {
    border: 3px solid #dddddd;
    border-radius: 0;
    transition: all 0.35s ease-in-out 0s;
    -o-transition: all 0.35s ease-in-out 0s;
    -ms-transition: all 0.35s ease-in-out 0s;
    -webkit-transition: all 0.35s ease-in-out 0s;
    width: 78px;
    height: auto;
}
.bdp_archive.classical .avtar-img img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: transform 0.35s ease-in-out 0s;
    -o-transition: -o-transform 0.35s ease-in-out 0s;
    -ms-transition: -ms-transform 0.35s ease-in-out 0s;
    -webkit-transition: -webkit-transform 0.35s ease-in-out 0s;
}
.bdp_archive.classical .author_content {
    color: #666666;
    display: inline-block;
    width: calc(100% - 100px);
}
.bdp_archive.classical .author_content .author {
    display: block;
}
.bdp_archive.classical .author_content .author a,
.bdp_archive.classical .author_content .author {
    font-weight: normal;
}
.bdp_archive.classical .author_content .social-component a {
    margin-right: 5px;
}
.bdp_archive.classical .author_content p {
    font-family: sans serif;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 0;
}
.bdp_blog_template.classical .social-component {
    float: left;
    width: auto;
}
.bdp_blog_template.classical .social-component a {
    padding-bottom: 5px;
}
.bdp_blog_template.classical .entry-meta .pull-left {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.bdp_blog_template.classical .social-component .social-share:last-child,
.bdp_blog_template.classical .social-component > a:last-child {
    margin-right: 0 !important;
}
.bdp_blog_template.classical .post-video iframe {
    margin-bottom: 0;
}
@media screen and (max-width: 640px) {
    .bdp_blog_template.classical .blog_header .post-avatar {
        margin: 10px 0 0 0;
        float: none;
        display: inline-block;
    }
    .bdp_blog_template.classical .entry-meta .pull-left,
    .bdp_blog_template.classical .entry-meta .social-component-count-bottom,
    .bdp_blog_template.classical .entry-meta .social-component-count-top,
    .bdp_blog_template.classical .entry-meta .social-component-count-right {
        float: left;
        clear: both;
    }
    .bdp_blog_template.classical .entry-meta .pull-left {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 480px) {
    .bdp_blog_template.classical .metadatabox .metacomments {
        float: left;
    }
    .bdp_blog_template.classical .post-meta-cats-tags {
        margin-top: 20px;
    }
}