.blog_template.evolution.bdp_blog_template {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    border: none;
    border-radius: 0px;
    box-shadow: 0 0 15px rgba(195, 195, 195, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(195, 195, 195, 0.4);
    -moz-box-shadow: 0 0 15px rgba(195, 195, 195, 0.4);
    padding: 30px 0 30px;
}
.evolution.bdp_blog_template .label_featured_post {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.evolution.bdp_blog_template .label_featured_post span {
    color: #ffffff;
    background: transparent;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 0;
    display: inline-block;
}
.evolution.bdp_blog_template .post-category,
.evolution.bdp_blog_template .post-title,
.post-entry-meta {
    text-align: center;
}
.evolution.bdp_blog_template .post-category.custom-post-category {
    text-align: left;
    margin-bottom: 10px;
}
.bdp_blog_template.evolution .social-component {
    float: left;
    margin-top: 15px;
    width: auto;
}
.evolution.bdp_blog_template .post-title {
    margin-bottom: 5px;
    margin-top: 0;
    padding: 5px 0;
}
.evolution.bdp_blog_template .bdp-post-image {
    margin-top: 5px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}
.evolution.bdp_blog_template .post-content-body {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding: 0 20px;
}
.evolution.bdp_blog_template .author {
    text-transform: capitalize;
    font-size: 15px;
}
.evolution.bdp_blog_template .post-category a {
    font-size: 14px;
    text-transform: capitalize;
}
.evolution.bdp_blog_template img {
    box-shadow: none;
    border-radius: 0px;
}
.evolution.bdp_blog_template .date {
    font-size: 15px;
    margin: 0px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 10px;
    display: inline-block;
}
.evolution.bdp_blog_template .number-date {
    line-height: 14px;
    padding: 3px 5px;
}
.evolution.bdp_blog_template .tags {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-transform: capitalize;
    width: 100%;
}
.bdp_blog_template.evolution .tags [class^="icon-"],
.bdp_blog_template.evolution .tags [class*=" icon-"] {
    background: url(../images/glyphicons-halflings.png ) no-repeat -25px -47px;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}
.evolution.bdp_blog_template .tags .icon-tags {
    margin-top: 4px;
    background-position: -25px -47px;
}
.evolution.bdp_blog_template .icon_cnt {
    font-size: 15px;
    margin-left: 12px;
}
.evolution.bdp_blog_template .icon_cnt i {
    margin-right: 4px;
}
.evolution.bdp_blog_template .icon_cnt a {
    text-decoration: none;
}
.evolution.bdp_blog_template .blog_header {
    width: 100%;
    position: relative;
}
.evolution.bdp_blog_template .blog_header .title {
    float: left;
    width: 81.5%;
}
.evolution.bdp_blog_template .blog_header h2 {
    background: none;
    border-radius: 0px;
    display: block;
    line-height: normal;
    padding: 6px 10px;
    border-bottom: 1px dotted #CCCCCC;
    margin: 0 0 5px 0;
    word-wrap: break-word;
}
.evolution.bdp_blog_template .blog_header h2 a {
    text-transform: none;
}
.evolution.bdp_blog_template .blog_header .title .metadate {
    font-size: 12px;
    font-style: italic;
    padding: 0 10px;
}
.evolution.bdp_blog_template .blog_header .title .metadate a:hover {
    color: #212121;
    text-decoration: none;
}
.evolution .footer_meta {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}
.evolution .footer_meta .border_top {
    width: 100%;
    float: left;
    border-top: 1px solid #cccccc;
}
.evolution.bdp_blog_template .post_content {
    background: none;
    padding: 20px;
    border-bottom: none;
    box-sizing: border-box;
}
.evolution.bdp_blog_template .post_content p {
    margin: 0;
    padding: 0;
}
.evolution.bdp_blog_template .post-bottom {
    float: right;
    margin-top: 15px;
}
.evolution.bdp_blog_template .post-bottom a {
    float: right;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}
.evolution.bdp_blog_template .post-bottom .categories {
    display: inline-block;
    text-transform: capitalize;
}
.evolution.bdp_blog_template .post-bottom .categories a {
    text-decoration: none;
}
.evolution.bdp_blog_template .post_content.blog_full_content p {
    margin: 0 0 10px;
}
.evolution.bdp_blog_template .details a {
    color: inherit;
    display: inline-block;
    float: right;
    padding-right: 10px;
    text-decoration: none;
    text-transform: capitalize;
}
.entry-content .blog_template.bdp_blog_template.evolution blockquote:not(.alignleft):not(.alignright) {
    margin-left: 0;
}
.wl_pagination_box.evolution {
    width: 97.5%;
}
.wl_pagination_box.evolution .wl_pagination {
    float: right;
}
.wl_pagination_box.evolution .wl_pagination span,
.wl_pagination_box.evolution .wl_pagination a {
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    text-decoration: none;
    margin: 0 0 0 8px;
}
.wl_pagination_box.evolution .wl_pagination span {
    color: #fff;
}
.wl_pagination_box.evolution .wl_pagination a {
    color: #fff;
}
.blog_template.bdp_archive.evolution {
    display: inline-block;
    width: 100%;
}
.bdp_blog_template .social-component {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    padding: 0;
}
.bdp_blog_template .social-component a {
    margin-bottom: 10px;
}
.bdp_blog_template.evolution .bdp-post-image img {
    max-width: 100%;
    transition: all 0.35s ease-in-out 0s;
}
.bdp_blog_template.evolution .bdp-post-image:hover img {
    transform: scale(1.06);
}
.bdp_archive.evolution .author-avatar-div:hover:after {
    height: 80px;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
}
.bdp_archive.evolution .author-avatar-div:hover:before {
    width: 90px;
    transition: width 0.3s ease-in;
    -webkit-transition: width 0.3s ease-in;
    -ms-transition: width 0.3s ease-in;
    -o-transition: width 0.3s ease-in;
}
.bdp_archive.evolution .author-avatar-div:before {
    background: #333333 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    left: -1px;
    position: absolute;
    top: -2px;
    width: 15px;
    z-index: 2;
    transition: height 0.3s ease-in;
    -webkit-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
}
.bdp_archive.evolution .author-avatar-div:after {
    background: #333333 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 15px;
    left: -2px;
    position: absolute;
    top: -2px;
    transition: width 0.3s ease-in;
    -webkit-transition: width 0.3s ease-in;
    -ms-transition: width 0.3s ease-in;
    -o-transition: width 0.3s ease-in;
    width: 2px;
}
.bdp_archive.evolution .author-avatar-div {
    border: 2px solid #dddddd;
    position: relative;
    padding: 15px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.bdp_archive.evolution .author-avatar-div .avtar-img > a {
    border: 8px solid #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -khtml-border-radius: 100%;
    display: inline-block;
}
.bdp_archive.evolution .avtar-img {
    display: inline-block;
    width: 24%;
    float: left;
}
.bdp_archive.evolution .avtar-img img {
    border-radius: 50%;
}
.bdp_archive.evolution .author_content {
    display: inline-block;
    width: 75%;
    font-size: 14px;
    padding: 0 15px;
    float: left;
}
.bdp_archive.evolution .author_content p {
    margin-bottom: 0;
}
.bdp_archive.evolution .author-avatar-div {
    background-color: white;
}
.bdp_blog_template .social-component {
    margin-top: 5px !important;
    padding-bottom: 10px;
}
.bdp_archive.evolution .author {
    text-transform: capitalize;
}
.bdp-wrapper-like{
    padding-left: 10px;
    font-size: 15px;
}
@media screen and (max-width: 767px) {
    .blog_template h2.post-title,
    .blog_template h2.post-title a {
        font-size: 20px;
    }
    .evolution.bdp_blog_template .post-bottom {
        width: 100%;
    }
    .evolution.bdp_blog_template .post-bottom a {
        float: left;
    }
}
@media screen and (max-width: 360px) {
    .bdp_archive.evolution .bdp_blog_template .social-component.large a {
        height: inherit;
    }
}