.bdp_blog_template.famous-grid {
    float: left;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    display: inline-block;
}
.bdp-row > .famous-grid-wrapper > .famous-grid:nth-child(3n+1) {
    clear: both;
}
.famous-grid-wrap.first_post .bdp_blog_template.famous-grid{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.bdp_blog_template.famous-grid .post-body-div .label_featured_post {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    color: #ffffff;
    background: #000000;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 2px;
}
.bdp_blog_template.famous-grid .post-body-div {
    margin: 20px 10px ;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
}
.bdp_blog_template.famous-grid .post-body-div .bdp_post_content {
    padding: 15px;
}
.bdp_blog_template .bdp-post-image:hover .bdp-pinterest-share-image {
    z-index: 15;
}
.bdp_blog_template.famous-grid .post-body-div span.category-link {
    margin: 0 0 20px 0;
    display: inline-block;
    width: 100%;
}
.bdp_blog_template.famous-grid .post-body-div h2 {
    margin: 0 0 20px 0;
    padding: 0;
}
.bdp_blog_template.famous-grid .post-body-div .post_content {
    margin: 0 0 20px 0;
    padding: 0;
}
.bdp_blog_template.famous-grid .read_more_div {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.bdp_blog_template.famous-grid .read_more_div a {
    padding: 8px 10px;
    background: #f42887;
    color: #ffffff;
    float: left;
}
.bdp_blog_template.famous-grid .read_more_div a:hover {
    background: #333;
    color: #fff;
}
.bdp_blog_template.famous-grid .post-body-div .metadatabox {
    margin: 0 0 15px 0;
}
.bdp_blog_template.famous-grid .post-body-div .metadatabox > span {
    display: inline-block;
    margin-right: 10px;
}
.famous-grid .post-body-div .metadatabox .bdp-wrapper-like {
    padding-left: 0;
}
.bdp_blog_template.famous-grid .post-body-div .post-tags {
    margin: 0 0 5px 0;
}
.bdp_blog_template.famous-grid .post-body-div .post-tags:last-child {
    margin: 0 0 20px 0;
}
.bdp_blog_template.famous-grid .post-body-div .social-component {
    margin-top: 0;
    margin-bottom: 15px;
    float: none;
    display: inline-block;
}
.bdp_blog_template.famous-grid .post-body-div .social-component .social-share {
    float: none;
}
.famous-grid .clear {
    clear: both;
}
.famous-grid-wrap {
    clear: both;
}
.bdp_archive.famous-grid .bdp_blog_template .bdp-pinterest-share-image,
.bdp_blog_template.famous-grid .bdp-pinterest-share-image {
    bottom: 10px;
    top: auto;
}

.bdp_archive.famous .author-avatar-div {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px -10px #000;
}
.bdp_archive.famous .author-avatar-div .avtar-img {
    display: inline-block;
    vertical-align: top;
}
.bdp_archive.famous .author-avatar-div .author_content {
    display: inline-block;
    width: calc(100% - 165px);
    margin-left: 10px;
}
.bdp_archive.famous .author-avatar-div .author_content p {
    margin-bottom: 0;
}

@media screen and (min-width: 981px) {
    .column_layout_1 .famous-grid {
        width: 100%;
    }
    .column_layout_2 .famous-grid {
        width: 50%;
    }
    .column_layout_3 .famous-grid {
        width: 33.3333333%;
    }
    .column_layout_4 .famous-grid {
        width: 25%;
    }

    .column_layout_1 .famous-grid:nth-child(n) {
        clear: both;
    }
    .column_layout_2 .famous-grid:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_3 .famous-grid:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_4 .famous-grid:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (min-width: 721px) and (max-width: 980px) {
    .column_layout_ipad_1 .famous-grid {
        width: 100%;
    }
    .column_layout_ipad_2 .famous-grid {
        width: 50%;
    }
    .column_layout_ipad_3 .famous-grid {
        width: 33.3333333%;
    }
    .column_layout_ipad_4 .famous-grid {
        width: 25%;
    }

    .column_layout_ipad_1 .famous-grid:nth-child(n) {
        clear: both;
    }
    .column_layout_ipad_2 .famous-grid:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_ipad_3 .famous-grid:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_ipad_4 .famous-grid:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .column_layout_tablet_1 .famous-grid {
        width: 100%;
    }
    .column_layout_tablet_2 .famous-grid {
        width: 50%;
    }
    .column_layout_tablet_3 .famous-grid {
        width: 33.3333333%;
    }
    .column_layout_tablet_4 .famous-grid {
        width: 25%;
    }

    .column_layout_tablet_1 .famous-grid:nth-child(n) {
        clear: both;
    }
    .column_layout_tablet_2 .famous-grid:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_tablet_3 .famous-grid:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_tablet_4 .famous-grid:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (max-width: 480px) {
    .column_layout_mobile_1 .famous-grid {
        width: 100%;
    }
    .column_layout_mobile_2 .famous-grid {
        width: 50%;
    }
    .column_layout_mobile_3 .famous-grid {
        width: 33.3333333%;
    }
    .column_layout_mobile_4 .famous-grid {
        width: 25%;
    }
    .column_layout_mobile_1 .famous-grid:nth-child(n) {
        clear: both;
    }
    .column_layout_mobile_2 .famous-grid:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_mobile_3 .famous-grid:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_mobile_4 .famous-grid:nth-child(4n + 1) {
        clear: both;
    }
    .bdp_archive.famous .author-avatar-div .author_content {
        width: 100%;
        margin-left: 0;
    }
    .famous .comments-link {
        white-space: inherit;
    }
}
