.bdp_blog_template.blog_template.lightbreeze {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}
.bdp_blog_template.lightbreeze .bdp-post-image {
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
    line-height: 0;
    max-width: 100%;
    overflow: hidden;
}
.bdp_blog_template.lightbreeze .label_featured_post {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: right;
}
.bdp_blog_template.lightbreeze .label_featured_post span {
    color: #ffffff;
    background: #000000;
    padding: 4px 8px;
    font-size: 14px;
    display: inline-block;
}
.bdp_blog_template.lightbreeze .bdp-post-image.post-video {
    display: block;
}
.bdp_blog_template.lightbreeze .blog_header img {
    box-shadow: none;
    width: 100%;
}
.bdp_blog_template.lightbreeze .blog_header h2 {
    display: block;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 3px;
    word-wrap: break-word;
}
.bdp_blog_template.lightbreeze .blog_header h2 a {
    text-decoration: none;
    box-shadow: none;
}
.bdp_blog_template.box-template .read-more {
    margin-top: 10px;
    float: right;
}
.bdp_blog_template.box-template .read-more a {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: none;
}
.bdp_blog_template.lightbreeze .metadatabox {
    float: left;
    width: 100%;
    font-style: italic;
    margin: 0 0 10px 0;
}
.bdp_blog_template.lightbreeze .meta_data_box {
    border-bottom: 1px solid #CCCCCC;
    padding: 5px 0 10px 0;
}
.bdp_blog_template.lightbreeze .meta_data_box [class^="icon-"],
.bdp_blog_template.lightbreeze .meta_data_box [class*=" icon-"],
.bdp_blog_template.lightbreeze .tags [class^="icon-"],
.bdp_blog_template.lightbreeze .tags [class*=" icon-"] {
    background: url(../images/glyphicons-halflings.png ) no-repeat 14px 14px;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}
.bdp_blog_template.lightbreeze .metadatabox .metauser,
.bdp_blog_template.lightbreeze .metadatabox .metadate,
.bdp_blog_template.lightbreeze .metadatabox .category-link,
.bdp_blog_template.lightbreeze .metadatabox .metacomments {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}
.blog_template.lightbreeze .post_content {
    float: left;
    width: 100%;
}
.bdp_blog_template.lightbreeze .metadatabox .metacats {
    float: left;
    text-align: center;
    width: 100%;
}
.bdp_blog_template.lightbreeze .metadatabox .metacats a {
    text-decoration: none;
    box-shadow: none;
}
.bdp_blog_template.lightbreeze .metadatabox .metacomments a {
    text-decoration: none;
    box-shadow: none;
}
.bdp_blog_template.lightbreeze .metadatabox .icon-author-date {
    background-position: -168px 1px;
    margin-right: 5px;
}
.bdp_blog_template.lightbreeze .metadatabox i {
    margin-right: 5px;
}
.bdp_blog_template.lightbreeze .metadatabox span.calendardate {
    color: #6D6D6D;
    margin-left: 18px;
    font-size: 12px;
}
.bdp_blog_template.lightbreeze .metadatabox span.calendardate i {
    margin-right: 5px;
}
.bdp_blog_template.lightbreeze .tags {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.bdp_blog_template.lightbreeze .tags a {
    box-shadow: none;
}
.wl_pagination_box.lightbreeze .wl_pagination span,
.wl_pagination_box.lightbreeze .wl_pagination a {
    border-radius: 2px;
    display: inline-block;
    padding: 0 8px;
    text-decoration: none;
    margin-right: 5px;
}
.wl_pagination_box .paging-navigation ul.page-numbers li a.page-numbers {
    box-shadow: none;
}
.bdp_blog_template.lightbreeze .blog_header {
    float: left;
    width: 100%;
}
.bdp_blog_template.no-category-display .blog_header_img {
    margin-top: 0;
}

.bdp_blog_template.lightbreeze .category-main-wrap {
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.bdp_blog_template.lightbreeze .category-main {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    color: #000000;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    width: calc(100% - 61px);
}
.bdp_blog_template.lightbreeze .category-main-wrap a {
    box-shadow: none !important;
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0;
    line-height: 1.75;
}
.blog_template.bdp_blog_template .bdp-pinterest-share-image {
    bottom: 40px;
}
.bdp_blog_template.lightbreeze .social-component {
    float: left;
    display: inline-block;
}
.bdp_blog_template.lightbreeze .social-component .social-share,
.bdp_blog_template.lightbreeze .social-component > a {
    display: inline-block;
    float: none;
    margin: 10px 2px 0;
    vertical-align: top;
}
.bdp_archive.lightbreeze .author-avatar-div {
    width: 100%;
    display: inline-block;
    padding: 15px;
    border: 1px solid #ddd;
}
.bdp_archive.lightbreeze .avtar-img {
    display: inline-block;
    float: left;
    max-width: 150px;
    width: 150px;
}
.bdp_archive.lightbreeze .avtar-img > a {
    border: 2px solid #dddddd;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    display: inline-block;
}
.bdp_archive.lightbreeze .avtar-img > a img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
}
.bdp_archive.lightbreeze .author_content {
    padding-left: 20px;
    display: inline-block;
    width: calc(100% - 150px);
    vertical-align: top;
}
.bdp_archive.lightbreeze .author_content p {
    margin: 0;
}
.author_content p {
    color: #333333;
    font-size: 16px;
}
.bdp_archive.lightbreeze .avtar-img {
    display: inline-block;
    float: left;
    width: 24%;
}
.bdp_archive.lightbreeze .author_content .author {
    border-bottom: 1px solid #dddddd;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 8px;
}
.bdp_archive .bdp_archive.lightbreeze .social-component a {
    border: 1px solid #cccccc;
    box-shadow: none;
    color: #333333;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    margin: 5px;
    padding: 8px 0;
    text-align: center;
    vertical-align: top;
    width: 38px;
}
.bdp_archive.lightbreeze .social-component {
    float: left;
    width: 100%;
}
.bdp_archive.lightbreeze .social-component .social-share,
.bdp_archive.lightbreeze .social-component > a {
    display: inline-block;
    vertical-align: top;
}
.bdp_archive.lightbreeze .author-avatar-div {
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.bdp_archive.lightbreeze .social-component {
    padding-top: 5px;
    margin: 0;
}
.blog_template.lightbreeze .social-component.bottom .social-share,
.blog_template.lightbreeze .social-component.bottom a,
.blog_template.lightbreeze .social-component.right .social-share,
.blog_template.lightbreeze .social-component.right a {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.blog_template.lightbreeze .social-component.bottom .social-share .count {
    float: none;
}
.blog_template.lightbreeze .metadatabox .bdp-wrapper-like {
    width: auto;
    padding: 0;
    margin: 0 5px;
}
@media screen and (max-width: 480px) {
    .bdp_archive.lightbreeze .author-avatar-div .avtar-img {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
    .bdp_archive.lightbreeze .author_content {
        padding: 15px 0;
        width: 100%;
        display: inline-block;
    }
}