.bdp_blog_template.media-grid div.post-content > *:first-child:first-letter,
.bdp_blog_template.media-grid div.post-content > p:first-child:first-letter,
.bdp_blog_template.media-grid div.post-content:first-letter,
.bdp_blog_template.media-grid div.post_content > *:first-child:first-letter,
.bdp_blog_template.media-grid div.post_content > p:first-child:first-letter,
.bdp_blog_template.media-grid div.post_content:first-letter{
    float: none;
    line-height: normal;
}
.bdp_blog_template.media-grid {
    float: left;
    line-height: 1.5;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.media-grid-wrap {
    clear: both;
    float: none;
    width: 100%;
    display: inline-block;
}
.media-grid-wrap.first_post .bdp_blog_template.media-grid{
    width: 100%;
}
.bdp_blog_template.media-grid .post-body-div {
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.bdp_blog_template.media-grid .bdp-post-image {
    text-align: center;
}
.bdp_blog_template.media-grid .bdp-post-image .label_featured_post {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #ffffff;
    background: #000000;
    padding: 5px 10px;
    font-size: 14px;
}
.bdp_blog_template.media-grid .bdp-post-image > a {
    display: block;
    position: relative;
    overflow: hidden;
}
.bdp_blog_template.media-grid .bdp-post-image > a > img {
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    width: 100%;
}
.bdp_blog_template.media-grid .post-body-div:hover > .bdp-post-image > a > img {
    transform: scale(1.2) rotate(0deg);
    -webkit-transform: scale(1.2) rotate(0deg);
    -ms-transform: scale(1.2) rotate(0deg);
    -o-transform: scale(1.2) rotate(0deg);
}
.bdp_blog_template.media-grid .bdp-post-image .category-link {
    bottom: 27px;
    padding: 5px 10px;
    position: relative;
    z-index: 3;
    color: #ffffff;
}
.bdp_blog_template.media-grid .bdp-post-image .category-link a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}
.bdp_blog_template.media-grid h2.entry-title {
    margin-top: 0;
    margin-bottom: 12px;
    word-wrap: break-word;
}
.bdp_blog_template.media-grid h2.entry-title a {
    font-weight: bold;
    font-size: 23px;
    line-height: normal;
}
.bdp_blog_template.media-grid .post-body-div:hover .content-container {
    box-shadow: 0 0 15px rgba(188, 188, 188, 0.4);
    -moz-box-shadow: 0 0 15px rgba(188, 188, 188, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(188, 188, 188, 0.4);
}
.bdp_blog_template.media-grid .content-container {
    box-sizing: border-box;
    float: left;
    height: 100%;
    margin: 15px 3%;
    position: relative;
    top: -55px;
    transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    width: 94%;
    word-wrap: break-word;
}
.bdp_blog_template.media-grid .post-body-div.category-not-visible .content-container {
    top: -15px;
}
.bdp_blog_template.media-grid.video .content-container,
.bdp_blog_template.media-grid.audio .content-container {
    top: -30px;
}
.bdp_blog_template.media-grid.video .bdp-post-image .category-link,
.bdp_blog_template.media-grid.audio .bdp-post-image .category-link {
    bottom: 0;
}
.bdp_blog_template.media-grid .content-inner {
    background-color: #ffffff;
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 25px;
    position: relative;
    width: 100%;
    z-index: 2;
    text-align: center;
}
.bdp_blog_template.media-grid .post_content {
    margin-bottom: 10px;
}
.bdp_blog_template.media-grid .read-more {
    display: inline-block;
    margin: 10px 0;
    width: 100%
}
.bdp_blog_template.media-grid .read-more > a {
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 10px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
.bdp_blog_template.media-grid .separator {
    color: #999999;
    font-weight: bold;
    line-height: 16px;
    vertical-align: middle;
}
.bdp_blog_template.media-grid .metadatabox span {
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
}
.bdp_blog_template.media-grid .metadatabox span.metacomments {
    margin-left: 5px;
}
.bdp_blog_template.media-grid .metadatabox {
    margin-bottom: 10px;
    margin-top: 10px;
}
.bdp_blog_template.media-grid .metadatabox span.metacomments {
    color: #757581;
    display: inline-block;
}
/*.bdp_blog_template.media-grid .tags {
    margin-bottom: 10px;
}*/
.bdp_blog_template.media-grid .tags a {
    font-size: 14px;
    text-transform: capitalize;
}
.media-grid .content-container .shadow-box {
    box-shadow: 0 0 13px 5px rgba(188, 188, 188, 0.3);
    -webkit-box-shadow: 0 0 13px 5px rgba(188, 188, 188, 0.3);
    -moz-box-shadow: 0 0 13px 5px rgba(188, 188, 188, 0.3);
    height: 40px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: 0.5s all;
    width: 100%;
    z-index: 1;
}
.bdp_blog_template.media-grid .bdp-pinterest-share-image {
    bottom: 60px;
}
.bdp_blog_template.media-grid.video iframe {
    margin-bottom: 0;
}
.bdp_archive.media-grid .author_content .author {
    width: 100%;
    float: left;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}
.bdp_archive.media-grid .author-avatar-div .avtar-img a {
    position: relative;
    display: block;
}
.bdp_archive.media-grid .author-avatar-div {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    float: left;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    background-color: #ffffff;
}
.bdp_archive.media-grid .author-avatar-div .avtar-img a::before {
    background: none repeat scroll #47c2dc;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: -22px;
    width: 100%;
}
.bdp_archive.media-grid .author-avatar-div .avtar-img {
    display: inline-block;
    border-right: 1px solid #eee;
    float: left;
    margin-right: 2%;
    text-align: center;
    width: 20%;
    padding: 0 2%;
}
.bdp_archive.media-grid .author_content {
    float: left;
    width: 78%;
}
.bdp_archive.media-grid .author-avatar-div .avatar {
    width: 100px;
    border-radius: 50%;
    height: auto;
}
.bdp_archive.media-grid .author-avatar-div .avtar-img a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    padding: 4px;
    width: 100px;
    display: inline-block;
}
.bdp_archive.media-grid .author-avatar-div p {
    margin-bottom: 0;
    font-size: 14px;
    color: #999999;
}
.bdp_archive.media-grid .author_content .author > a {
    font-size: 16px;
    font-style: italic;
    text-transform: capitalize;
}
.bdp_archive.media-grid .author_content .social-component {
    float: left;
    width: auto;
}
.blog_template.media-grid .content-inner .social-component {
    float: left;
    width: 100%;
    margin: 0;
}
.bdp_archive.media-grid .author_content .social-component {
    float: left;
    padding-right: 0;
    margin-top: 0;
    width: 100%;
}
.blog_template.media-grid .social-component .social-share {
    float: none !important;
}
.blog_template.media-grid .social-component.bottom .social-share {
    display: inline-block;
    float: none;
    margin: 10px 10px 0 0;
    min-height: 40px;
    position: relative;
}
.bdp-wrapper-like{
    padding-left: 5px;
}

@media screen and (min-width: 981px) {
    .column_layout_1 .bdp_blog_template.media-grid {
        width: 100%;
    }
    .column_layout_2 .bdp_blog_template.media-grid {
        width: 50%;
    }
    .column_layout_3 .bdp_blog_template.media-grid {
        width: 33.3333333%;
    }
    .column_layout_4 .bdp_blog_template.media-grid {
        width: 25%;
    }
    .column_layout_3 .media-grid-wrap.first_post .bdp_blog_template.media-grid,
    .column_layout_4 .media-grid-wrap.first_post .bdp_blog_template.media-grid {
        width: 50%;
    }

    .column_layout_1 .media-grid-wrapper .media-grid:nth-child(n) {
        clear: both;
    }
    .column_layout_2 .media-grid-wrapper .media-grid:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_3 .media-grid-wrapper .media-grid:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_4 .media-grid-wrapper .media-grid:nth-child(4n + 1) {
        clear: both;
    }

}

@media screen and (min-width: 721px) and (max-width: 980px) {
    .column_layout_ipad_1 .bdp_blog_template.media-grid {
        width: 100%;
    }
    .column_layout_ipad_2 .bdp_blog_template.media-grid {
        width: 50%;
    }
    .column_layout_ipad_3 .bdp_blog_template.media-grid {
        width: 33.3333333%;
    }
    .column_layout_ipad_4 .bdp_blog_template.media-grid {
        width: 25%;
    }
    .column_layout_ipad_3 .media-grid-wrap.first_post .bdp_blog_template.media-grid,
    .column_layout_ipad_4 .media-grid-wrap.first_post .bdp_blog_template.media-grid {
        width: 50%;
    }

    .column_layout_ipad_1 .media-grid-wrapper .media-grid:nth-child(n) {
        clear: both;
    }
    .column_layout_ipad_2 .media-grid-wrapper .media-grid:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_ipad_3 .media-grid-wrapper .media-grid:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_ipad_4 .media-grid-wrapper .media-grid:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .column_layout_tablet_1 .bdp_blog_template.media-grid {
        width: 100%;
    }
    .column_layout_tablet_2 .bdp_blog_template.media-grid {
        width: 50%;
    }
    .column_layout_tablet_3 .bdp_blog_template.media-grid {
        width: 33.3333333%;
    }
    .column_layout_tablet_4 .bdp_blog_template.media-grid {
        width: 25%;
    }
    .column_layout_tablet_3 .media-grid-wrap.first_post .bdp_blog_template.media-grid,
    .column_layout_tablet_4 .media-grid-wrap.first_post .bdp_blog_template.media-grid {
        width: 50%;
    }

    .column_layout_tablet_1 .media-grid-wrapper .media-grid:nth-child(n) {
        clear: both;
    }
    .column_layout_tablet_2 .media-grid-wrapper .media-grid:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_tablet_3 .media-grid-wrapper .media-grid:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_tablet_4 .media-grid-wrapper .media-grid:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (max-width: 676px) {
    .bdp_blog_template.media-grid .post-body-div h2.post-title a {
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    .bdp_blog_template.media-grid .post-body-div {
        padding: 0;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .bdp_archive.media-grid .author-avatar-div .avtar-img {
        width: 25%;
    }
    .bdp_archive.media-grid .author_content {
        width: 73%;
    }
}

@media screen and (max-width: 480px) {
    .bdp_archive.media-grid .author-avatar-div .avtar-img {
        width: 100%;
    }

    .column_layout_mobile_1 .bdp_blog_template.media-grid {
        width: 100%;
    }
    .column_layout_mobile_2 .bdp_blog_template.media-grid {
        width: 50%;
    }
    .column_layout_mobile_3 .bdp_blog_template.media-grid {
        width: 33.3333333%;
    }
    .column_layout_mobile_4 .bdp_blog_template.media-grid {
        width: 25%;
    }
    .column_layout_mobile_3 .media-grid-wrap.first_post .bdp_blog_template.media-grid,
    .column_layout_mobile_4 .media-grid-wrap.first_post .bdp_blog_template.media-grid {
        width: 50%;
    }

    .column_layout_mobile_1 .media-grid-wrapper .media-grid:nth-child(n) {
        clear: both;
    }
    .column_layout_mobile_2 .media-grid-wrapper .media-grid:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_mobile_3 .media-grid-wrapper .media-grid:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_mobile_4 .media-grid-wrapper .media-grid:nth-child(4n + 1) {
        clear: both;
    }
}