.my_diary_wrapper:before {
    background: rgba(0, 0, 0, 0.03);
    content: "";
    margin: 0 auto;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    height: 100%;
    width: 70%;
    position: absolute;
}

.my_diary_wrapper {
    position: relative;
}

.diary-post {
    clear: both;
    padding: 50px 0;
    position: relative;
}

.my_diary .diary-post:first-child {
    padding-top: 0;
}

.diary-post .diary-thumb .label_featured_post {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
    color: #ffffff;
    background: #000000;
    border: 1px solid #000000;
    padding: 4px 8px;
    font-size: 14px;
}

.diary-thumb {
    backface-visibility: hidden;
    background: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    float: left;
    height: auto;
    width: 50%;
    overflow: hidden;
    padding: 15px;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.diary-thumb img {
    backface-visibility: hidden;
    opacity: 0.9;
    transition: all 0.2s ease 0s;
}

.diary-post .post-content-area {
    padding-left: 50px;
    width: 50%;
    vertical-align: top;
    float: left;
    display: inline-block;
}

.diary-post .post-title {
    margin: 10px 0 20px;
    text-align: left;
    word-wrap: break-word;
}

.diary-post .post-title a:before {
    background: #000;
    content: "";
    width: 0;
    height: 3px;
    margin-left: 0;
    position: absolute;
    bottom: -15px;
    left: 0;
    margin-left: -50px;
    transition:  all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.post-title a:after {
    backface-visibility: hidden;
    background: #000;
    border: 5px solid transparent;
    content: "";
    overflow: hidden;
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: -20px;
    right: 5px;
    transform: rotate(45deg) scale(0);
    -webkit-transform: rotate(45deg) scale(0);
    -moz-transform: rotate(45deg) scale(0);
    -ms-transform: rotate(45deg) scale(0);
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.post-title,
.post-title a {
    border: 3px solid transparent;
    display: block;
    position: relative;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.post-title a:hover:before {
    width: 100%;
}

.post-title a:hover:after {
    transform: rotate(-135deg) scale(1);
    -webkit-transform: rotate(-135deg) scale(1);
    -moz-transform: rotate(-135deg) scale(1);
    -ms-transform: rotate(-135deg) scale(1);
}

.diary-posthead .categories {
    position: relative;
    font-size: 16px;
}

.diary-posthead .categories span {
    font-style: italic;
    margin-right: 5px;
    font-size: 18px;
    opacity: 0.7;
}

.metadatabox {
    position: relative;
    font-size: 16px;
}

.metadatabox div {
    display: inline-block;
    margin-right: 5px;
}

.metadatabox div span {
    font-size: 18px;
    font-style: italic;
    opacity: 0.7;
    margin-right: 5px;
}

.diary-postcontent {
    background: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    margin-left: -300px;
    margin-top: 50px;
    padding: 55px 50px 0 50px;
    position: relative;
}

.diary-postcontent:before {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-size: 18px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
}

.diary-post .post_content {
    margin: 0;
    word-wrap: break-word;
}

.diary-postcontent .bdp-wrapper-like {
    font-size: 16px;
    position: absolute;
    top: 22px;
    left: 40px;
}

.diary_postfooter {
    border-top: 1px solid  rgba(0,0,0,0.1);
    margin: 30px -50px 0;
    padding: 0 50px 15px;
    min-height: 70px;
    position: relative;
    display: inline-block;
}

.read-more-div {
    text-align: right;
}

.diary-post .read-more-div .more-tag {
    border: 1px solid #e21130;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.07);
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 100%;
    padding: 15px 35px;
    background: #e21130;
    color: #fff;
    position: relative;
    top: -22px;
}

.read-more-div .more-tag:hover {
    background: #101010;
    color: #fff;
}

.diary_postfooter .tags {
    width: 75%;
    position: relative;
    top: -30px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

.diary_postfooter .tags i {
    margin-right: 5px;
    opacity: 0.8;
}

.diary_postfooter .social-component {
    display: inline-block;
    margin: 0;
    top: -20px;
    position: relative;
}

.diary_postfooter .post-comment {
    float: right;
    position: relative;
    top: 0;
    font-size: 16px;
}

.diary_postfooter .post-comment i {
    opacity: 0.8;
}

.bdp_blog_template .diary_postfooter .social-component {
    float: none;
    margin-top: 0;
    width: auto;
}

.wl_pagination_box {
    text-align: center;
    margin-top: 25px;
}

.author-avatar-div {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 80%;
    margin: 0 10% 30px;
}

.avtar-img {
    display: inline-block;
    vertical-align: top;
}

.avtar-img img.avatar {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.author_content {
    display: inline-block;
    width: calc(100% - 160px);
    padding-left: 20px;
}

@media screen and (max-width: 1199px) {
    .diary_postfooter .tags,
    .diary_postfooter .social-component {
        top: -20px;
    }
    .diary_postfooter .post-comment {
        float: none;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 991px) {
    .my_diary_wrapper:before {
        width: 100%;
    }
    .diary-post {
        text-align: center;
    }
    .diary-post .post-content-area {
        padding: 15px;
        width: 100%;
        float: none;
        text-align: center;
        display: inline-block;
    }
    .diary-post .post-title {
        margin-bottom: 10px;
        text-align: center;
    }
    .diary-post .diary-thumb {
        width: 100%;
    }
    .diary-post .diary-postcontent {
        margin-left: 0;
        margin-top: 30px;
        width: 95%;
    }
    .diary-post .diary_postfooter {
        text-align: left;
    }
    .diary-post .post-title a:before,
    .diary-post .post-title a:after {
        content: none;
        display: none;
    }
    .diary-post .author-avatar-div {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .diary_postfooter {
        margin-top: 30px;
        text-align: center;
    }
    .diary_postfooter .tags {
        top: -10px;
        display: inline-block;
        text-align: center;
    }
    .diary_postfooter .social-component {
        top: 0;
        margin-bottom: 15px;
    }
    .bdp_blog_template .diary_postfooter .social-component {
        top: -10px;
    }
    .diary_postfooter .social-component .social-share-default {
        text-align: center;
    }

    .read-more-div {
        text-align: center;
    }
    .post-title {
        font-size: 24px;
    }
    .diary_postfooter .post-comment {
        float: none;
        margin: 5px 0 10px;
    }
}

@media screen and (max-width: 480px) {
    .my_diary.bdp_archive .author-avatar-div .avtar-img,
    .my_diary.bdp_archive .author-avatar-div .author_content {
        float: none;
    }
}