.bdp_blog_template.nicy {
    background: #ffffff;
    border-bottom: 2px solid #dddddd;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    background: #F7F7F7;
    position: relative;
}
.bdp_blog_template.nicy a {
    box-shadow: none;
}
.bdp_blog_template.nicy p,
.bdp_blog_template.nicy .metadatabox {
    padding: 0;
}
.bdp_blog_template.nicy .metadatabox {
    color: #777777;
    font-size: 15px;
    line-height: 1.8;
}
.bdp_blog_template.nicy .metadatabox .metadata {
    display: inline-block;
    margin-right: 20px;
}
.bdp_blog_template.nicy .entry-container {
    background: none repeat scroll 0 0 #f7f7f7;
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}
.bdp_blog_template.nicy .entry-title {
    height: 50px;
}
.bdp-wrapper-like {
    padding-left: 10px;
}
.bdp_blog_template.nicy .label_featured_post {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #ffffff;
    background: #000000;
    border: 1px solid #000000;
    padding: 4px 8px;
    font-size: 14px;
}
.bdp_blog_template.nicy .blog_header {
    border-bottom: 1px solid #dddddd;
    float: left;
    font-weight: 300;
    line-height: 28px;
    min-height: 112px;
    padding: 15px 100px 15px 3%;
    position: relative;
    width: 100%;
}
.bdp_blog_template.nicy .blog_header h2 {
    margin: 0 0 10px;
    font-size: 25px;
    word-wrap: break-word;
}
.bdp_blog_template.nicy .blog_header h2 a {
    box-shadow: none;
}
.bdp_blog_template.nicy small {
    font-size: 85%;
}
.bdp_blog_template.nicy .blog_header .blog-header-avatar {
    border-radius: 50%;
    float: right;
    height: 70px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 70px;
}
.bdp_blog_template.nicy .metacomments {
    display: inline-block;
}
.bdp_blog_template.nicy .metacomments i {
    margin-right: 3px;
}
.bdp_blog_template.nicy .bdp-post-image.post-video {
    overflow: visible;
}
.bdp_blog_template.nicy .bdp-post-image {
    background: none repeat scroll 0 0 #f4f4f4;
    float: left;
    overflow: hidden;
    width: 100%;
}
.bdp_blog_template.nicy .bdp-post-image img {
    transition: all 0.35s ease-in-out 0s;
    max-width: 100%;
}
.bdp_blog_template.nicy .post-video iframe,
.bdp_blog_template.nicy .thumb {
    display: block;
}
.bdp_blog_template.nicy .post-meta-cats-tags {
    margin-top: 20px;
    border-left: 10px solid #dddddd;
    color: #777777;
    float: left;
    font-weight: 300;
    line-height: 1.5;
    padding: 5px 3% 5px 2%;
    width: 100%;
    position: relative;
}
.bdp_blog_template.nicy .post-meta-cats-tags .tags,
.bdp_blog_template.nicy .post-meta-cats-tags .category-link {
    color: #777777;
    font-size: 14px;
    margin-bottom: 5px;
}
.bdp_blog_template.nicy .post_content {
    float: left;
    font-weight: 300;
    padding: 15px 3%;
    width: 100%;
}
.bdp_blog_template.nicy .post_content p {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.bdp_blog_template.nicy .post_content h2,
.bdp_blog_template.nicy .post_content h2,
.bdp_blog_template.nicy .post_content h3,
.bdp_blog_template.nicy .post_content h4,
.bdp_blog_template.nicy .post_content h5,
.bdp_blog_template.nicy .post_content h6 {
    margin: 15px 0 10px 0;
    display: inline-block;
    width: 100%;
}
.bdp_blog_template.nicy .clearfix:before {
    content: "";
    display: table;
    line-height: 0;
}
.bdp_blog_template.nicy .clearfix:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.bdp_blog_template.nicy .entry-meta {
    background: none repeat scroll 0 0 #F7F7F7;
    border-color: #dddddd;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 15px 0 15px 3%;
    position: relative;
    display: table;
    width: calc(100% - 6%);
    float: left;
}
.bdp_blog_template.nicy .entry-meta .up_arrow:after,
.bdp_blog_template.nicy .entry-meta .up_arrow:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #F7F7F7;
    border-style: solid;
    border-width: 15px;
    content: "";
    height: 0;
    left: 40px;
    position: absolute;
    top: -28px;
    width: 0;
}
.bdp_blog_template.nicy .entry-meta .up_arrow:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #dddddd;
    top: -29px;
}
.bdp_blog_template.nicy .read-more {
    display: inline-block;
    margin-right: 15px;
    margin-top: 12px;
}
.bdp_blog_template.nicy .entry-meta .read-more a {
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    float: left;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #f7f7f7;
}
.bdp_blog_template.nicy .social-component {
    margin-top: 0;
}
.bdp_blog_template.nicy .social-component .social-share,
.bdp_blog_template.nicy .social-component > a {
    margin: 5px 10px 5px 0 !important;
}
.bdp_blog_template.nicy .social-component .social-share .count {
    border-color: #dddddd;
}
.bdp_blog_template.nicy .social-component-count-top .social-share .count:before {
    border-top-color: #dddddd;
}
.bdp_blog_template.nicy .social-component-count-bottom .social-share .count:before {
    border-bottom-color: #dddddd;
}
.bdp_blog_template.nicy .social-component-count-right .social-share .count:before {
    border-right-color: #dddddd;
}
/*author page style for archive page */
.bdp_archive.nicy .author-avatar-div {
    background: #ffffff none repeat scroll 0 0;
    padding: 15px 3%;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
.bdp_archive.nicy .avtar-img {
    float: left;
    margin-right: 15px;
}
.bdp_archive.nicy .avtar-img img {
    border: 3px solid #dddddd;
    border-radius: 0;
    transition: all 0.35s ease-in-out 0s;
    -o-transition: all 0.35s ease-in-out 0s;
    -ms-transition: all 0.35s ease-in-out 0s;
    -webkit-transition: all 0.35s ease-in-out 0s;
    width: 78px;
    height: auto;
}
.bdp_archive.nicy .avtar-img img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: transform 0.35s ease-in-out 0s;
    -o-transition: -o-transform 0.35s ease-in-out 0s;
    -ms-transition: -ms-transform 0.35s ease-in-out 0s;
    -webkit-transition: -webkit-transform 0.35s ease-in-out 0s;
}
.bdp_archive.nicy .author_content {
    color: #666666;
    display: inline-block;
    width: calc(100% - 100px);
}
.bdp_archive.nicy .author_content .author {
    display: block;
}
.bdp_archive.nicy .author_content .author a,
.bdp_archive.nicy .author_content .author {
    font-weight: normal;
}
.bdp_archive.nicy .author_content .social-component a {
    margin-right: 5px;
}
.bdp_archive.nicy .author_content p {
    font-family: sans serif;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 0;
}
.bdp_blog_template.nicy .social-component {
    float: left;
    width: auto;
}
.bdp_blog_template.nicy .social-component a {
    padding-bottom: 5px;
}
.bdp_blog_template.nicy .entry-meta .pull-left {
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.bdp_blog_template.nicy .entry-meta .pull-right {
    float: right;
}
.bdp_blog_template.nicy .social-component .social-share:last-child,
.bdp_blog_template.nicy .social-component > a:last-child {
    margin-right: 0 !important;
}
.bdp_blog_template.nicy .post-video iframe {
    margin-bottom: 0;
}
@media screen and (max-width: 640px) {
    .bdp_blog_template.nicy .blog_header .post-avatar {
        margin: 10px 0 0 0;
        float: none;
        display: inline-block;
    }
    .bdp_blog_template.nicy .entry-meta .pull-left,
    .bdp_blog_template.nicy .entry-meta .social-component-count-bottom,
    .bdp_blog_template.nicy .entry-meta .social-component-count-top,
    .bdp_blog_template.nicy .entry-meta .social-component-count-right {
        float: left;
        clear: both;
    }
    .bdp_blog_template.nicy .entry-meta .pull-left {
        margin-bottom: 10px;
    }
    .bdp_blog_template.nicy .label_featured_post {
        position: relative;
        display: inline-block;
    }
}