.roctangle-post-wrapper {
    float: left;
    padding: 0 15px;
    margin-bottom: 50px;
}
.roctangle-post-wrapper .post-image-wrap .bdp-video iframe {
    margin: 0;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper{
    position: relative;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper.bdp-no-thumbnail {
    display: inline-block;
    margin-top: 20px;
    min-height: 80px;
    width: 100%;
}
.roctangle-post-wrapper .post-image-wrap .post-image {
    -ms-transform: matrix(1, -0.14, 0, 1, 0, 20);
    -webkit-transform: matrix(1, -0.14, 0, 1, 0, 20);
    transform: matrix(1, -0.14, 0, 1, 0, 20);
    margin-bottom: 70px;
}
.roctangle-post-wrapper .post-image-wrap .post-image .label_featured_post {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #ffffff;
    background: #000000;
    padding: 4px 8px;
    font-size: 14px;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post_date {
    height: 80px;
    width: 80px;
    background: #f18293;
    border-radius: 50%;
    padding: 6px;
    float: left;
    position: absolute;
    bottom: -5px;
    left: 15px;
}
.column_layout_3 .roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post_date, 
.column_layout_4 .roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post_date {
    bottom: 0;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper.bdp-no-thumbnail .post_date {
    left: 0;
    top: 0;
    bottom: auto;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post_date a span {
    display: block;
    text-align: center;
    color: #fff;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post_date a span.date {
    font-size: 18px;
    font-weight: bold;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post_date a span.month {
    line-height: 10px
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post-meta-div {
   position: absolute;
    right: 0;
    top: 2px;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post-meta-div span i {
    margin-right: 8px;
    color: #656565;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post-comment {
    position: absolute;
    right: 0;
    top: -70px;
    color: #656565;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post-comment i {
    font-size: 42px;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post-comment a {
    position: absolute;
    font-size: 14px;
    top: 45%;
    bottom: 0;
    left: auto;
    right: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.roctangle-post-wrapper .post-image-wrap .post-meta-div-cover {
    position: relative;
    display: inline-block;
    float: right;
    text-align: right;
    top: 10px;
    width: calc(100% - 80px);
}
.roctangle-post-wrapper .post-image-wrap .post-meta-div-cover .post-meta-div {
    position: relative;
    display: inline-block;
}
.roctangle-post-wrapper .post-image-wrap .post-meta-div-cover .post-comment {
    position: relative;
    top: 0;
    display: inline-block;
}
.roctangle-post-wrapper .post-content-wrapper {
    margin-top: 120px;
    position: relative;
}
.roctangle-post-wrapper .post-content-wrapper.bdp-no-thumbnail {
    margin-top: 20px;
}
.roctangle-post-wrapper .post-content-wrapper .post-title h2 {
    margin: 20px 0;
    color: #222222;
}
.roctangle-post-wrapper .post-content-wrapper .post-content,
.roctangle-post-wrapper .post-content-wrapper .tags,
.roctangle-post-wrapper .post-content-wrapper .category-link,
.roctangle-post-wrapper .post-content-wrapper .content-footer {
    margin: 20px 0;
    color: #696969;
}
.post-content-wrapper .social-component {
    position: relative;
    right: 0;
    bottom: -10px;
}
.roctangle-post-wrapper .post-content-wrapper .category-link span,
.roctangle-post-wrapper .post-content-wrapper .tags span {
    border: 1px solid #696969;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 5px 5px;
}
.roctangle-post-wrapper .post-content-wrapper .content-footer .read-more a.more-tag {
    border-left: 1px solid #696969;
    padding-left: 10px;
}
.bdp_wrapper.bdp_archive.roctangle .author-avatar-div {
    display: inline-flex;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
}
.bdp_wrapper.bdp_archive.roctangle .author-avatar-div .avtar-img {
    float: left;
    margin-right: 20px;
}
.bdp_wrapper.bdp_archive.roctangle .author-avatar-div .author_content {
    display: inline-block;
    width: 100%;
    float: right;
}


@media screen and (min-width: 991px) {
    .column_layout_1 .roctangle-post-wrapper {
        width: 100%;
    }
    .column_layout_2 .roctangle-post-wrapper {
        width: 50%;
    }
    .column_layout_3 .roctangle-post-wrapper {
        width: 33.3333333%;
    }
    .column_layout_4 .roctangle-post-wrapper {
        width: 25%;
    }

    .column_layout_1 .roctangle-post-wrapper:nth-child(n) {
        clear: both;
    }
    .column_layout_2 .roctangle-post-wrapper:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_3 .roctangle-post-wrapper:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_4 .roctangle-post-wrapper:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .column_layout_ipad_1 .roctangle-post-wrapper {
        width: 100%;
    }
    .column_layout_ipad_2 .roctangle-post-wrapper {
        width: 50%;
    }
    .column_layout_ipad_3 .roctangle-post-wrapper {
        width: 33.3333333%;
    }
    .column_layout_ipad_4 .roctangle-post-wrapper {
        width: 25%;
    }

    .column_layout_ipad_1 .roctangle-post-wrapper:nth-child(n) {
        clear: both;
    }
    .column_layout_ipad_2 .roctangle-post-wrapper:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_ipad_3 .roctangle-post-wrapper:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_ipad_4 .roctangle-post-wrapper:nth-child(4n + 1) {
        clear: both;
    }
    .roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post_date {
        left: 8px;
    }
    .roctangle-post-wrapper .post-image-wrap .post-meta-wrapper .post-comment {
        top: -60px;
    }
    .post-content-wrapper .social-component {
        position: relative;
    }
}

@media screen and (max-width: 991px) {
    .roctangle-post-wrapper .post-image-wrap .post-meta-div-cover .post-comment {
        top: 0;
    }
    .roctangle-post-wrapper .post-image-wrap .post-meta-div-cover {
        width: 100%;
        text-align: left;        
        top: 0;
        margin-top: 80px;
    }
}

@media screen and (max-width: 767px) {
    .post-content-wrapper .social-component {
        position: relative;
        margin-top: 20px;
        bottom: 0;
    }
}

@media screen and (min-width: 981px) {
    .column_layout_1 .roctangle-post-wrapper {
        width: 100%;
    }
    .column_layout_2 .roctangle-post-wrapper {
        width: 50%;
    }
    .column_layout_3 .roctangle-post-wrapper {
        width: 33.3333333%;
    }
    .column_layout_4 .roctangle-post-wrapper {
        width: 25%;
    }

    .column_layout_1 .roctangle-post-wrapper:nth-child(n) {
        clear: both;
    }
    .column_layout_2 .roctangle-post-wrapper:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_3 .roctangle-post-wrapper:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_4 .roctangle-post-wrapper:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (min-width: 721px) and (max-width: 980px) {
    .column_layout_ipad_1 .roctangle-post-wrapper {
        width: 100%;
    }
    .column_layout_ipad_2 .roctangle-post-wrapper {
        width: 50%;
    }
    .column_layout_ipad_3 .roctangle-post-wrapper {
        width: 33.3333333%;
    }
    .column_layout_ipad_4 .roctangle-post-wrapper {
        width: 25%;
    }

    .column_layout_ipad_1 .roctangle-post-wrapper:nth-child(n) {
        clear: both;
    }
    .column_layout_ipad_2 .roctangle-post-wrapper:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_ipad_3 .roctangle-post-wrapper:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_ipad_4 .roctangle-post-wrapper:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .column_layout_tablet_1 .roctangle-post-wrapper {
        width: 100%;
    }
    .column_layout_tablet_2 .roctangle-post-wrapper {
        width: 50%;
    }
    .column_layout_tablet_3 .roctangle-post-wrapper {
        width: 33.3333333%;
    }
    .column_layout_tablet_4 .roctangle-post-wrapper {
        width: 25%;
    }

    .column_layout_tablet_1 .roctangle-post-wrapper:nth-child(n) {
        clear: both;
    }
    .column_layout_tablet_2 .roctangle-post-wrapper:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_tablet_3 .roctangle-post-wrapper:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_tablet_4 .roctangle-post-wrapper:nth-child(4n + 1) {
        clear: both;
    }
}

@media screen and (max-width: 480px) {
    .column_layout_mobile_1 .roctangle-post-wrapper {
        width: 100%;
    }
    .column_layout_mobile_2 .roctangle-post-wrapper {
        width: 50%;
    }
    .column_layout_mobile_3 .roctangle-post-wrapper {
        width: 33.3333333%;
    }
    .column_layout_mobile_4 .roctangle-post-wrapper {
        width: 25%;
    }

    .column_layout_mobile_1 .roctangle-post-wrapper:nth-child(n) {
        clear: both;
    }
    .column_layout_mobile_2 .roctangle-post-wrapper:nth-child(2n + 1) {
        clear: both;
    }
    .column_layout_mobile_3 .roctangle-post-wrapper:nth-child(3n + 1) {
        clear: both;
    }
    .column_layout_mobile_4 .roctangle-post-wrapper:nth-child(4n + 1) {
        clear: both;
    }
}



