.bdp_blog_template.sallet_slider,
.blog_template.sallet_slider {
    position: relative;
    display: inline-block;
    width: 100%;
}

.bdp_blog_template.sallet_slider img {
    margin-left: auto;
    margin-right: auto;
}

.bdp_blog_template.sallet_slider .post_hentry{
    position: relative;
    text-align: center;
}
.bdp_blog_template.sallet_slider .blog_header > div{
    display: table;
    height: 100%;
    margin: 0 auto;
    width: 70%;
}
.bdp_blog_template.sallet_slider .blog_header > div > div{
    display: table-cell;
    vertical-align: middle;
}
.bdp_blog_template.sallet_slider .blog_header > div > div > div{
    background: #fff;
    padding: 45px 35px 40px 45px;
    text-align: center;
    position: relative;
}
.bdp_blog_template.sallet_slider .blog_header > div > div > div::before {
    background: #ff00ae none repeat scroll 0 0;
    content: "";
    height: 46px;
    position: absolute;
    top: 0;
    width: 2px;
}
.bdp_blog_template.sallet_slider .blog_header{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.bdp_blog_template.sallet_slider.columns_2 .blog_header{
    padding: 30px 20px 25px 30px;
}
.bdp_blog_template.sallet_slider.columns_3 .blog_header{
    padding: 25px 15px 20px 30px;
}
.blog_template.sallet_slider .label_featured_post {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #ffffff;
    background: #000000;
    padding: 4px 8px;
    font-size: 14px;
}
.blog_template.sallet_slider .blog_header h2{
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
    word-wrap: break-word;
}
.blog_template.bdp_blog_template.sallet_slider .category-link a{
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 2px 12px;
    background: #ff00ae;
}
.bdp_blog_template.sallet_slider .bdp-pinterest-share-image{
    right: 10px;
    left: auto;
}
.blog_template.sallet_slider .metadatabox{
    display: inline-block;
    margin-bottom: 10px
}
.blog_template.sallet_slider .metadatabox > div{
    display: inline-block;
}
.blog_template.sallet_slider .post_content{
    margin-bottom: 10px;
}
.blog_template.sallet_slider .post_content a.more-tag{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    color: #000000;
    padding: 5px 10px;
    display: inline-block;
    transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
}
.blog_template.sallet_slider .metadatabox > div{
    margin-right: 5px;
}
.blog_template.sallet_slider .metadatabox div i{
    margin-right: 5px;
}
.blog_template.sallet_slider .metadatabox .bdp-wrapper-like{
    padding: 0;
}
.blog_template.sallet_slider .post_content .read-more{
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.blog_template.sallet_slider .flex-direction-nav i {
    display: block;
    font-size: 20px;
    line-height: 62px;
    padding: 0 5px;
}
.blog_template.sallet_slider .flex-direction-nav .flex-prev {
    left: 0;
}
.blog_template.sallet_slider .flex-direction-nav a {
    height: 45px;
}
.blog_template.sallet_slider .flex-direction-nav a::before {
    display: none;
}
.bdp_blog_template.sallet_slider .social-component {
    display: inline-block;
    float: none;
    margin-top: 0;
}
.bdp_blog_template.sallet_slider .social-component .social-share,
.blog_template.bdp_blog_template.sallet_slider .social-component > a{
    float: none;
}