.story .year-number {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 3px 0px 0px 0px;
    font-family: sans-serif;
    line-height: 34px;
    position: absolute;
    z-index: 1;
}
.story .left-year {
    margin-left: 40px;
    float: left;
    left: auto;
}
.story_wrapper {
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.story .right-year {
    float: right;
    margin-right: 40px;
    right: 0;
}
.bdp_template.story .story.yearly-info:first-child{
    margin-top: 30px;
}
.bdp_template.story .story.yearly-info:last-child{
    margin-bottom: 60px;
}
.story.yearly-info {
    float: left;
    width: 100%;
    position: relative;
    margin-top: -40px;
}
.story .line-col-top {
    float: left;
    height: 40px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
.story .line-col-right {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-image: none;
    border-radius: 0 50% 50% 0;
    border-style: solid solid solid none;
    border-width: 40px 40px 40px medium;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    right: 15px;
    width: 22%;
}
.story .line-col-right::before {
    background: transparent;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.story .line-col-bottom {
    width: 550px;
    height: 40px;
    float: right;
}
.story .line-col-left {
    background: none;
    border-image: none;
    border-radius: 50% 0 0 50%;
    border-style: solid none solid solid;
    border-width: 40px 40px 40px 40px;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    left: 15px;
    width: 22%;
}
.story .line-col-left::before {
    background: transparent;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.story .line-col-bottom-secound {
    float: left;
    height: 40px;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    width: 70%;
}
.story .date-information {
    text-align:center;
    width: 270px;
}
.story .left-date-information {
    float: left;
    margin: 60px 0px 30px 150px;
}
.story .right-date-information {
    float: right;
    margin: 45px 0px 70px 150px;
}
.story .date-information h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}
.story .date-information p {
    color: #fff;
    margin-bottom: 10px;
}
.story .date-icon {
    width: 76px;
    height: 76px;
    position: absolute;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 76px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    z-index: 1;
    font-family: sans-serif;
    top: -100px;
}
.story .date-icon img {
    margin: 8px 0px 0px 0px;
}
.story .date-icon-left {
    left: 145px;
}
.story .date-icon-arrow-bottom:before {
    content: "";
    bottom: -14px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
}
.story .date-icon-arrow-bottom:after {
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-top: 6px solid;
    content: "";
    position: absolute;
    left: 33px;
    bottom: -6px;
}
.story .date-icon-arrow-top:before {
    content: "";
    top: -14px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
}
.story .date-icon-arrow-top:after {
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid;
    content: "";
    position: absolute;
    left: 33px;
    top: -6px;
}
.story .dote span {
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 2px;
    display: block;
}
.story .dote-bottom {
    position: absolute;
    left: 34px;
    bottom: -30px;
}
.story .post_hentry {
    box-sizing: border-box;
    padding: 0 0 40px;
    margin: 40px 15%;
    width: 70%;
    float: left;
    position: relative;
}
.story .entity-content .blog_post_wrap.no-post-media {
    padding: 0;
}
.story .entity-content-left .blog_post_wrap {
    float: left;
    padding-left: 175px;
    position: relative;
    width: 100%;
    min-height: 150px;
}
.story .entity-content-right .post_content:first-letter{
    float: none;
    line-height: 0.5;
}
.story .entity-content-right .blog_post_wrap {
    float: left;
    padding-right: 175px;
    position: relative;
    width: 100%;
    min-height: 150px;
    text-align: right;
}
.story .entity-content-right .label_featured_post {
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    z-index: 1;
    color: #ffffff;
    background: #000000;
    padding: 4px 8px;
    font-size: 14px;
}
.story .entity-content-left .label_featured_post {
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    z-index: 1;
    color: #ffffff;
    background: #000000;
    padding: 4px 8px;
    font-size: 14px;
}
.story .entity-content-right .label_featured_post + .no-post-media {
    padding-right: 175px;
}
.story .entity-content-left .label_featured_post + .no-post-media {
    padding-left: 175px;
}
.story .entity-content-left .blog_post_wrap.right .post-media,
.story .entity-content-right .blog_post_wrap.right .post-media {
    left: auto;
    right: 0;
}
.story .entity-content-left .blog_post_wrap.right,
.story .entity-content-right .blog_post_wrap.right {
    padding-right: 175px;
    padding-left: 0;
}
.story .entity-content-left .blog_post_wrap.right,
.story .entity-content-right .blog_post_wrap.right {
    text-align: right;
}
.story .entity-content-left .blog_post_wrap.no-post-media.right,
.story .entity-content-right .blog_post_wrap.no-post-media.right {
    padding: 0;
}
.story .entity-content-left .blog_post_wrap.left .post-media,
.story .entity-content-right .blog_post_wrap.left .post-media {
    right: auto;
    left: 0;
}
.story .entity-content-left .blog_post_wrap.left,
.story .entity-content-right .blog_post_wrap.left {
    padding-left: 175px;
    padding-right: 0;
}
.story .entity-content-left .blog_post_wrap.left,
.story .entity-content-right .blog_post_wrap.left {
    text-align: left;
}
.story .entity-content-left .blog_post_wrap.no-post-media.left,
.story .entity-content-right .blog_post_wrap.no-post-media.left {
    padding: 0;
}
.story.bdp_blog_template .entity-content-right .social-component .social-share {
    margin-left: 10px;
    margin-right: 0;
}
.story.bdp_blog_template .entity-content-right .social-component {
    float: right;
    margin-top: 5px;
    width: auto;
}
.story .blog_post_wrap .post-media img {
    border:10px solid #ffffff;
}
.story .blog_post_wrap .post-media.circle img {
    border-radius: 50%;
}
.story .entity-content-left .blog_post_wrap .post-media {
    left: 0;
    position: absolute;
    top: 0;
}
.story .entity-content-right .blog_post_wrap .post-media {
    right: 0;
    position: absolute;
    top: 0;
}
.story .blog_header {
    margin-bottom: 15px;
    word-wrap: break-word;
}
.story .entity-content-inner {
    width: 100%;
    float: left;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.story .entity-content.entity-content-left.animateblock,
.story .entity-content.entity-content-right.animateblock.left {
    margin-left: 10%;
}
.story .entity-content.entity-content-left.animated,
.story .entity-content.entity-content-right.animateblock.right.animated {
    transition: margin-left 0.3s ease-in;
}
.story .entity-content.entity-content-right.animateblock,
.story .entity-content.entity-content-left.animateblock.right {
    margin-right: 10%;
}
.story .entity-content.entity-content-right.animated,
.story .entity-content.entity-content-left.animateblock.right.animated {
    transition: margin-right 0.3s ease-in;
}
.story .date-icon-rights {
    right: 145px;
}
.story .read-more a.more-tag {
    display: inline-block;
    font-size: 13px;
    margin: 10px 0 0;
    padding: 7px 15px;
    transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}
.yearly-info:first-child .line-col-top{
    margin-left: 125px;
    width: calc(85% - 125px);
    position: relative;
}
.story .post-metadata {
    margin: 10px 0;
}
.story .post-metadata span {
    display: inline-block;
    margin: 0 10px 0 0;
}
.story .entity-content-right .post-metadata span {
    margin: 0 0 0 10px;
}
.story .post-metadata span.bdp-wrapper-like {
    padding: 0;
    width: auto;
}
.story .post-metadata span i {
    margin-right: 3px;
    padding: 0;
}
.story .post-metadata span#bdp-loader {
    margin: 0;
}
.story .post-metadata span.bdp-wrapper-like .bdp-count {
    margin: 0;
    padding: 0;
}
.wl_pagination_box {
    margin-top: 30px;
}
.author-avatar-div.bdp_blog_template {
    float: left;
    margin-bottom: 80px;
    width: 100%;
}
.blog_footer {
    float: left;
    width: 100%;
}
.bdp_template.story{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.dark_background{
    background-color: #424b54;
}
.footer_meta .category-link {
    margin-bottom: 10px;
    display: block;
}
.footer_meta .tags {
    display: block;
}
.startup > span{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.startup.ending.right_ending{
    bottom: -35px;
    right: auto;
    left: 22%;
    top: auto;
    z-index: 99;
}
.startup.ending.left_ending{
    bottom: -35px;
    left: auto;
    right: 22%;
    top: auto;
    z-index: 99;
}
.startup.ending > span > a{
    color: inherit;
}
.startup{
    text-transform: uppercase;
    color: #333;
    background: #ade175;
    width: 115px;
    height: 115px;
    display: table;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 50%;
    border: 10px solid #fff;
    text-align: center;
    position: absolute;
    left: 15px;
    top: -35px;
}
#bdp-preview-box .story.yearly-info:first-child{
    margin-top: 0;
}
.blog_post_wrap .post-media.audio{
    width: 100%;
}
.blog_post_wrap .post-media.gallery .flexslider .slides > li{
    width: 150px !important;
}
.blog_post_wrap .post-media{
    max-width: 150px;
}
.blog_post_wrap iframe{
    width: 100%;
    height: auto;
    /*max-width: 150px;*/
}


@media only screen and (max-width : 1100px) {
    .yearly-info:first-child .line-col-top {
        margin-right: 18%;
        width: calc(82% - 125px)
    }
    .story .line-col-top,
    .story .line-col-bottom-secound,
    .story .post_hentry {
        width: 64%;
        margin-left: 18%;
        margin-right: 18%;
    }
    .story .line-col-left,
    .story .line-col-right {
        width: 30%;
    }
}

@media only screen and (max-width : 950px) {
    .story .line-col-top,
    .story .line-col-bottom-secound,
    .story .post_hentry {
        width: 56%;
        margin-left: 22%;
        margin-right: 22%;
    }
    .yearly-info:first-child .line-col-top {
        margin-right: 22%;
        width: calc(78% - 125px)
    }
    .story .line-col-left,
    .story .line-col-right {
        width: 35%;
    }
}

@media only screen and (max-width : 850px) {
    .story .line-col-top,
    .story .line-col-bottom-secound,
    .story .post_hentry {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .yearly-info:first-child .line-col-top {
        margin-right: 25%;
        width: calc(75% - 125px)
    }
    .story .line-col-left,
    .story .line-col-right {
        width: 45%;
    }
    .story .entity-content-right .blog_post_wrap,
    .story .entity-content-left .blog_post_wrap {
        padding-left: 0;
        padding-right: 0;
        padding-top: 165px;
        text-align: center;
    }
    .story .entity-content-right .blog_post_wrap .post-media,
    .story .entity-content-left .blog_post_wrap .post-media {
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
    }
}

@media only screen and (max-width : 480px) {
    .story .left-year {
        margin-left: 15px;
    }
    .story .date-icon-rights {
        right: 140px;
    }
    .story .date-icon-left {
        left: 140px;
    }
    .story .line-col-bottom-secound {
        margin-left: 22%;
    }
    .story .line-col-top {
        margin-left: 28%;
    }
    .story .line-col-right {
        right: 0;
    }
    .story .line-col-left {
        left: 0;
    }
    .story .entity-content-left .blog_post_wrap .post-media {
        top: 5px;
    }
/*    .story .line-col-top,
    .story .line-col-bottom-secound {
        height: 0;
    }*/
}