.bdp_blog_template.tagly{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 50px;
    background: transparent;
    position: relative;
}
.bdp_blog_template.tagly .label_featured_post {
    position: relative;
    right: 0;
    top: 0;
    z-index: 1;
    color: #ffffff !important;
    background: #000000;
    padding: 7px 15px;
    font-size: 14px;
    float: right;
}

.bdp_blog_template.tagly .post-has-image + .label_featured_post {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.bdp_blog_template.tagly .bdp-post-image{
    overflow: hidden;
}
.bdp_blog_template.tagly .left-side-area{
    background: #D4C6A8 none repeat scroll 0 0;
    left: 0;
    padding: 25px 0 10px;
    position: absolute;
    top: 0;
    width: 80px;
}
.bdp_blog_template.tagly .left-side-area:before{
    border-left: 40px solid rgba(0, 0, 0, 0);
    border-right: 40px solid rgba(0, 0, 0, 0);
    border-top: 20px solid #d4c6a8;
    bottom: -20px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.bdp_blog_template.tagly .left-side-area > span i{
    color: #fff !important;
}
.bdp_blog_template.tagly .left-side-area > span{
    display: block;
    padding: 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: normal;
    margin-bottom: 10px;
}
.bdp_blog_template.tagly .left-side-area > span .bdp-count{
    display: none;
}
.bdp_blog_template.tagly .social-share:hover .social-component{
    visibility: visible;
    opacity: 1;
}
.bdp_blog_template.tagly .social-share{
    position: relative;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.bdp_blog_template.tagly .social-component::before {
    border-bottom: 10px solid #d4c6a8;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    content: "";
    left: 15px;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.bdp_blog_template.tagly .social-component.right{
    width: 50px;
    width: 100px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.bdp_blog_template.tagly .social-component{
    background: #ffffff none repeat scroll 0 0;
    display: inline-block;
    left: 15px;
    margin: 0;
    opacity: 0;
    padding: 20px 6px 10px;
    position: absolute;
    text-align: center;
    top: 35px;
    visibility: hidden;
    width: 50px;
    z-index: 2;
    transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
}
.bdp_blog_template.tagly .social-component.bottom .social-share{
    float: none;
    margin: 0 0 5px;
}
.bdp_blog_template.tagly .right-side-area{
    min-height: 179px;
    padding-left: 120px;
    padding-right: 10px;
}
.bdp_blog_template.tagly .post-content-wrapper{
    position: relative;
    margin-top: 20px;
}
.bdp_blog_template.tagly .right-side-area .categories{
    display: block !important;
    margin-bottom: 7px;
}
.bdp_blog_template.tagly .right-side-area .categories,
.bdp_blog_template.tagly .right-side-area .categories a{
    color: #b79a5e;
    display: inline-block;
    font-size: 13px;
    font-family: ubuntu;
}
.bdp_blog_template.tagly .right-side-area h2.bdp_post_title a:hover{
    color: #b79a5e;
}
.bdp_blog_template.tagly .right-side-area h2.bdp_post_title a{
    color: #333333;
    font-size: inherit;
}
.bdp_blog_template.tagly .right-side-area h2.bdp_post_title{
    color: #333333;
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    margin: 0 0 5px;
    padding-left: 20px;
    position: relative;
    word-wrap: break-word;
}
.bdp_blog_template.tagly .right-side-area h2.bdp_post_title::before{
    background: #bf9f5a none repeat scroll 0 0;
    box-shadow: 6px -2px 0 #bf9f5a;
    content: "";
    height: 30px;
    left: 5px;
    position: absolute;
    top: 7px;
    transform: rotate(20deg);
    width: 2px;
}
.bdp_blog_template.tagly .metadatabox{
    margin-bottom: 15px;
}
.bdp_blog_template.tagly .metadatabox span a:hover{
    color: #b79a5e;
}
.bdp_blog_template.tagly .metadatabox span a{
    color: #999999;
}
.bdp_blog_template.tagly .metadatabox span{
    color: #999999;
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    margin-right: 20px;
    font-family: ubuntu;
    text-transform: uppercase;
}
.bdp_blog_template.tagly .metadatabox span i{
    margin-right: 10px;
}
.bdp_blog_template.tagly .post_content{
    color: #555555;
    line-height: 24px;
    font-family: ubuntu;
    font-size: 14px;
    margin-bottom: 25px;
}
.bdp_blog_template.tagly .right-side-area .read-more > a{
    color: #b79a5e;
    font-family: ubuntu;
    font-size: 14px;
    font-weight: bold;
}
.bdp_blog_template.tagly .right-side-area .tags a:hover{
    color: #b79a5e;
}
.bdp_blog_template.tagly .right-side-area .tags{
    margin-bottom: 25px;
}
.bdp_blog_template.tagly .right-side-area .tags,
.bdp_blog_template.tagly .right-side-area .tags a{
    color: #999;
    font-size: 14px;
    font-family: ubuntu;
}
.bdp_blog_template.tagly .right-side-area .read-more > a{
    transition: 0.2s all;
    -ms-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    display: inline-block;
}
/*Archive author style*/
.bdp_archive.tagly .author_content .social-component{
    display: inline-block;
    float: none;
    margin: 0;
}
.bdp_archive.tagly .author_content p{
    margin-bottom: 10px;
}
.tagly .author-avatar-div.bdp_blog_template{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    padding-bottom: 40px;
}
.tagly .author-avatar-div.bdp_blog_template .avtar-img{
    position: absolute;
    width: 80px;
}
.tagly .author-avatar-div.bdp_blog_template .author_content{
    padding-left: 100px;
}
@media screen and (max-width: 480px){
    .bdp_blog_template.tagly .left-side-area{
        width: 50px;
    }
    .bdp_blog_template.tagly .social-component {
        left: 0;
    }
    .bdp_blog_template.tagly .right-side-area{
        padding-left: 70px;
    }
    .bdp_blog_template.tagly .left-side-area::before{
        border-left-width: 25px;
        border-right-width: 25px;
    }
}