.bdp_blog_template.timeline {
    padding: 0;
    box-sizing: border-box;
}
.bdp_blog_template .post_content_wrap {
    font-family: sans-serif;
}
.timeline_bg_wrap:before {
    background: none repeat scroll 0 0 #F15F74;
    content: "";
    height: 100%;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 3px;
}
.blog_template.bdp_blog_template.timeline .label_featured_post {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.blog_template.bdp_blog_template.timeline .label_featured_post span {
    color: #ffffff;
    background: #000000;
    border: 1px solid #000000;
    font-size: 14px;
    padding: 7px 15px;
    display: inline-block;
    margin-bottom: 10px;
}

.blog_template.bdp_blog_template.timeline .label_featured_post + .no_post_media {
    position: relative;
    margin-top: 20px;
}
.blog_template.bdp_blog_template.timeline .photo {
    text-align: center;
    margin-bottom: 15px;
}
.timeline_bg_wrap {
    padding: 0 0 50px;
    position: relative;
    margin-bottom: 20px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.timeline_bg_wrap .timeline_back {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.bdp_blog_template.timeline .social-component {
    padding: 0 5px;
    margin: 0;
}
.datetime {
    background: none repeat scroll 0 0 #000;
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    height: 70px;
    line-height: 1;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: -30px;
    width: 70px;
    z-index: 1;
}
.timeline.blog-wrap.odd_class .datetime {
    left: -30px;
}
.timeline.blog-wrap.even_class .datetime {
    left: inherit;
    right: -30px;
}
.timeline .datetime .month {
    font-size: 15px;
    color: #fff;
    float: left;
    width: 100%;
    padding-bottom: 5px;
}
.timeline .datetime .date {
    font-size: 30px;
    color: #fff;
    float: left;
    width: 100%;
}
.timeline_bg_wrap .timeline_back .timeline.blog-wrap {
    display: block;
    padding-bottom: 45px;
    padding-top: 45px;
    position: relative;
    width: 50%;
}
.timeline_bg_wrap .timeline_back div.timeline.blog-wrap.even_class {
    clear: right;
    float: right;
    padding-left: 50px;
    padding-right: 30px;
    margin-top: 100px;
}
.timeline_bg_wrap .timeline_back div.timeline.blog-wrap.odd_class {
    clear: left;
    float: left;
    padding-right: 50px;
    padding-left: 30px;
}
.post_hentry {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.post_hentry:before {
    background: #000;
    box-shadow: 0 0 0 4px white, 0 1px 0 rgba(0, 0, 0, 0.2) inset, -3px 3px 8px 5px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 0 4px white, 0 1px 0 rgba(0, 0, 0, 0.2) inset, -3px 3px 8px 5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 0 4px white, 0 1px 0 rgba(0, 0, 0, 0.2) inset, -3px 3px 8px 5px rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    height: 35px;
    position: absolute;
    right: -68px;
    top: 0;
    width: 35px;
    box-sizing: unset;
    color: #fff;
    display: block;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
}
.blog_template.bdp_blog_template.timeline.blog-wrap.even_class .post_hentry:before {
    left: -68px;
    right: auto;
}
.bdp_blog_template.blog_template.timeline {
    border: none;
    box-shadow: none;
    margin: 0;
}
.bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:before,
.bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #000;
    border-top: 8px dashed transparent;
    content: "";
    position: absolute;
    right: -8px;
    top: 13px;
}
.bdp_blog_template.timeline.blog-wrap.even_class .post_content_wrap:before,
.bdp_blog_template.timeline.blog-wrap.even_class .post_content_wrap:after {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #000;
    border-top: 8px dashed transparent;
    content: "";
    left: -8px;
    position: absolute;
    top: 13px;
}
.bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap {
    float: right;
    margin-left: 0;
}
.bdp_blog_template.timeline.blog-wrap .post_content_wrap {
    border-radius: 3px;
    margin: 0;
    border: 1px solid #000;
    word-wrap: break-word;
    font-weight: normal;
    float: left;
    width: 100%;
}
.blog_template.bdp_blog_template.timeline.blog-wrap .post_wrapper.box-blog {
    float: left;
    padding: 15px;
    width: 100%;
    position: relative;
}
.clearfix:after {
    clear: both;
}
.template timeline .post_wrapper.box-blog .label_featured_post {
    position: absolute;
    padding: 5px 10px;
    color: #ffffff;
    background: #000000;
    right: auto;
    left: 0;
    z-index: 1;
    top: 0;
}
.template timeline.odd_class .post_wrapper.box-blog .label_featured_post {
    right: 0;
    left: auto;
}
.blog_template.bdp_blog_template.timeline.blog-wrap.even_class {
    margin-top: 100px;
}

.timeline_bg_wrap.center .blog_template.bdp_blog_template.timeline.blog-wrap:nth-of-type(1),
.timeline_bg_wrap.center .blog_template.bdp_blog_template.timeline.blog-wrap:nth-of-type(2) {
    padding-top: 45px;
}
.blog_template.bdp_blog_template.timeline.blog-wrap {
    background: none;
}
.blog-wrap .desc a.desc_content {
    display: block;
    padding: 15px 15px 5px;
    position: relative;
    text-align: center;
}
.bdp_blog_template.timeline.blog-wrap .post_content_wrap .blog_footer {
    border-top: 1px solid #000;
    padding-left: 10px;
    width: 100%;
}
.blog_footer span {
    text-transform: capitalize;
    display: inherit;
    line-height: 1.5;
}
.blog_footer span.link-lable {
    display: inline-block;
}
.blog_footer span.seperater {
    display: inline-block;
    padding: 0 5px 0 0;
}
span.leave-reply i,
.blog_footer span i {
    padding-right: 5px;
}
.bdp_blog_template.timeline .read_more {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: medium none;
    display: inline-block;
    float: none;
    margin: 10px auto 20px;
    text-align: center;
    transition: all 0.6s ease 0s;
    width: 100%;
}
.bdp_blog_template.timeline .read_more a.btn-more {
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid;
}
.post-icon {
    background: #000;
    color: #ffffff;
}
.date_wrap {
    padding-bottom: 15px;
    padding-top: 7px;
}
.date_wrap > span {
    display: inline-block;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 5px;
    word-break: break-all;
}
.datetime span.month {
    color: #555;
}
.blog_template.bdp_blog_template.timeline.blog-wrap {
    box-sizing: border-box;
}
.blog_template.bdp_blog_template.timeline .blog_footer {
    box-sizing: border-box;
    float: left;
    padding: 15px;
    width: 100%;
}
.bdp_archive.timeline .blog_template.bdp_blog_template.timeline .blog_footer {
    padding: 5px 15px 15px;
}
.blog_template.bdp_blog_template.timeline .social-component.spektrum-social {
    box-sizing: border-box;
    float: left;
    margin-bottom: 0;
    width: 100%;
    margin-top: 20px;
}
.bdp_blog_template.timeline .social-component a,
.bdp_blog_template.timeline .social-component .social-share {
    margin-right: 7px;
}
.blog_template.bdp_blog_template.timeline .post_content {
    padding-bottom: 10px;
    margin-top: 0;
}
.blog_template.bdp_blog_template.timeline .post_content a.more-link {
    display: none;
}
.bdp_blog_template.timeline .desc a h3 {
    color: #000;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.3;
}
.blog_template.bdp_blog_template.timeline.blog-wrap .categories,
.blog_template.bdp_blog_template.timeline.blog-wrap .tags {
    padding: 5px;
}
.bdp_blog_template.timeline.blog-wrap .tags a,
.bdp_blog_template.timeline.blog-wrap .categories a {
    color: #000;
}
.bdp_blog_template.timeline .photo img {
    width: 100%;
}
.timeline:nth-of-type(even) .post_content_wrap.animateblock {
    visibility: hidden;
}
.timeline:nth-of-type(odd) .post_content_wrap.animateblock {
    visibility: hidden;
}
.timeline:nth-of-type(odd) .post_content_wrap.animated {
    visibility: visible;
    -webkit-animation: timeline-bounce-2 0.7s;
    -moz-animation: timeline-bounce-2 0.7s;
    animation: timeline-bounce-2 0.7s;
}
.timeline:nth-of-type(even) .post_content_wrap.animated {
    visibility: visible;
    -webkit-animation: timeline-bounce-2-inverse 0.7s;
    -moz-animation: timeline-bounce-2-inverse 0.7s;
    animation: timeline-bounce-2-inverse 0.7s;
}
.timeline .animateblock.post_hentry:before {
    visibility: hidden;
}
.timeline .animated.post_hentry:before {
    -webkit-animation: timeline-bounce-1 0.7s;
    -moz-animation: timeline-bounce-1 0.7s;
    animation: timeline-bounce-1 0.7s;
    visibility: visible;
}
.timeline_bg_wrap.left_side .timeline:nth-of-type(even) .post_content_wrap.animated,
.timeline_bg_wrap.left_side .timeline:nth-of-type(odd) .post_content_wrap.animated {
    -webkit-animation: timeline-bounce-2 0.7s;
    -moz-animation: timeline-bounce-2 0.7s;
    animation: timeline-bounce-2 0.7s;
    visibility: visible;
}
.timeline_bg_wrap.right_side .timeline:nth-of-type(even) .post_content_wrap.animated ,
.timeline_bg_wrap.right_side .timeline:nth-of-type(odd) .post_content_wrap.animated {
    visibility: visible;
    -webkit-animation: timeline-bounce-2-inverse 0.7s;
    -moz-animation: timeline-bounce-2-inverse 0.7s;
    animation: timeline-bounce-2-inverse 0.7s;
}
.timeline .social-component {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.bdp-load-more.text-center {
    margin-top: 15px;
}
.timeline .post_hentry {
    width: 100%;
    display: block;
}
.timeline .blog_footer:empty {
    display: none;
}
.bdp_archive.timeline .author {
    text-transform: capitalize;
}
.bdp_archive.timeline .author-avatar-div {
    box-shadow: 1px 1px 5px 1px #dddddd;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    width: 100%;
}
.bdp_archive.timeline .author-avatar-div .avtar-img {
    display: inline-block;
    position: absolute;
    top: -13px;
    left: 15px;
}
.bdp_archive.timeline .author-avatar-div .avtar-img img.avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    width: 85px;
    border-top: 1px solid;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: auto;
}
.bdp_archive.timeline .author-avatar-div .author_content {
    margin: 10px 15px 10px 110px;
}
.bdp_archive.timeline .author-avatar-div .author_content > p {
    margin: 0;
    font-family: fantasy;
}
.blog_template.bdp_blog_template.timeline .read_more a.btn-more,
.bdp_archive.timeline .author-avatar-div .author_content {
    display: inline-block;
}
.timeline .no_post_media {
    height: 30px;
}
.bdp_archive.timeline .author-avatar-div.bdp_blog_template .social-component {
    margin: 0 0 5px;
}
.bdp_archive.timeline .wl_pagination_box .paging-navigation ul.page-numbers li {
    margin-bottom: 1px;
}
.bdp_archive.timeline .wl_pagination_box.timeline {
    padding: 10px;
    text-align: center;
}
.blog_template.timeline .social-component.bottom .social-share,
.blog_template.timeline .social-component.bottom a,
.blog_template.timeline .social-component.right .social-share,
.blog_template.timeline .social-component.right a {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.blog_template.timeline .social-component.bottom .social-share .count {
    float: none;
}
.timeline_year {
    float: left;
    height: 100px;
    position: relative;
    width: 100%;
}
.timeline_year span.year_wrap {
    background: none repeat scroll 0 0 #414a54;
    border-radius: 100%;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100px;
    color: #ffffff;
}
.timeline_year span.year_wrap .only_year{
    float: left;
    font-size: 30px;
    line-height: 2.2;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}
.timeline_year span.year_wrap .year{
    float: left;
    font-size: 30px;
    line-height: 1.5;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}
.timeline_year span.year_wrap .month{
    float: left;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    width: 100%;
}
/* left side design */
.timeline_bg_wrap.right_side:before{
    left: 25px;
}
.timeline_bg_wrap.right_side .timeline_back .timeline.blog-wrap{
    width: 100%;
}
.timeline_bg_wrap.right_side .post_hentry:before{
    right: auto;
    left: -71px;
}
.timeline_bg_wrap.right_side .timeline_back .timeline.blog-wrap.odd_class,
.timeline_bg_wrap.right_side .timeline_back .timeline.blog-wrap.even_class{
    padding-right: 30px;
    padding-left: 80px;
}
.timeline_bg_wrap.right_side .timeline.blog-wrap.odd_class .datetime,
.timeline_bg_wrap.right_side .timeline.blog-wrap.even_class .datetime{
    right: -30px;
    left: auto;
}
.timeline_bg_wrap.right_side .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:before,
.timeline_bg_wrap.right_side .bdp_blog_template.timeline.blog-wrap.even_class .post_content_wrap:after{
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid #000000;
    border-top: 8px dashed rgba(0, 0, 0, 0);
    left: -8px;
}
.timeline_bg_wrap.right_side .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:before,
.timeline_bg_wrap.right_side .blog_template.bdp_blog_template.timeline.blog-wrap.even_class .post_content_wrap:before,
.timeline_bg_wrap.right_side .blog_template.bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:after{
    border-left: 0;
    left: -8px;
    right: auto;
}
.timeline_bg_wrap.right_side .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap,
.timeline_bg_wrap.right_side .timeline_back .timeline.blog-wrap.even_class{
    float: left;
}

.timeline_bg_wrap.right_side.with_year:before{
    left: 50px;
    right: auto;
}
.timeline_bg_wrap.right_side.with_year .post_hentry:before,
.timeline_bg_wrap.right_side.with_year .blog_template.bdp_blog_template.timeline.blog-wrap.even_class .post_hentry:before{
    right: auto;
    left: -68px;
}
.timeline_bg_wrap.right_side.with_year .timeline_back .timeline.blog-wrap.odd_class,
.timeline_bg_wrap.right_side.with_year .timeline_back .timeline.blog-wrap.even_class{
    padding-right: 30px;
    padding-left: 100px;
}
.timeline_bg_wrap.right_side.with_year .timeline_year span.year_wrap{
    right: auto;
}
.timeline_bg_wrap.right_side.with_year .blog_template.bdp_blog_template.timeline.blog-wrap:nth-of-type(1),.timeline_bg_wrap.right_side.with_year .blog_template.bdp_blog_template.timeline.blog-wrap:nth-of-type(2) {
    padding-top: 0px;
}
/* right side design */
.timeline_bg_wrap.left_side .timeline_back .timeline.blog-wrap{
    width: 100%;
}
.timeline_bg_wrap.left_side:before{
    right: 25px;
    left: auto;
}
.timeline_bg_wrap.left_side .post_hentry:before,
.timeline_bg_wrap.left_side .blog_template.bdp_blog_template.timeline.blog-wrap.even_class .post_hentry:before{
    left: auto;
    right: -71px;
}
.timeline_bg_wrap.left_side .timeline_back .timeline.blog-wrap.odd_class,
.timeline_bg_wrap.left_side .timeline_back .timeline.blog-wrap.even_class{
    padding-right: 80px;
    padding-left: 30px;
}
.timeline_bg_wrap.left_side .timeline.blog-wrap.odd_class .datetime,
.timeline_bg_wrap.left_side .timeline.blog-wrap.even_class .datetime{
    left: -30px;
    right: auto;
}
.timeline_bg_wrap.left_side .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:before,
.timeline_bg_wrap.left_side .bdp_blog_template.timeline.blog-wrap.even_class .post_content_wrap:after{
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid #000000;
    border-top: 8px dashed rgba(0, 0, 0, 0);
    right: -8px;
}
.timeline_bg_wrap.left_side .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:before,
.timeline_bg_wrap.left_side .blog_template.bdp_blog_template.timeline.blog-wrap.even_class .post_content_wrap:before,
.timeline_bg_wrap.left_side .blog_template.bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:after{
    border-left: 0;
    right: -8px;
    left: auto;
}
.timeline_bg_wrap.left_side .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap,
.timeline_bg_wrap.left_side .timeline_back .timeline.blog-wrap.even_class{
    float: left;
}
.timeline_bg_wrap.left_side.with_year:before{
    right: 50px;
    left: auto;
}
.timeline_bg_wrap.left_side.with_year .post_hentry:before,
.timeline_bg_wrap.left_side.with_year .blog_template.bdp_blog_template.timeline.blog-wrap.even_class .post_hentry:before{
    left: auto;
    right: -68px;
}
.timeline_bg_wrap.left_side.with_year .timeline_back .timeline.blog-wrap.odd_class,
.timeline_bg_wrap.left_side.with_year .timeline_back .timeline.blog-wrap.even_class{
    padding-right: 100px;
    padding-left: 30px;
}
.timeline_bg_wrap.left_side.with_year .timeline_back .timeline.blog-wrap:nth-of-type(2),
.timeline_bg_wrap.right_side.with_year .timeline_back .timeline.blog-wrap:nth-of-type(2){
    padding-top: 0;
}
.timeline_bg_wrap.left_side.with_year .timeline_year span.year_wrap{
    left: auto;
}
.timeline_bg_wrap.left_side,
.timeline_bg_wrap.right_side,
.timeline_bg_wrap.left_side.with_year,
.timeline_bg_wrap.right_side.with_year{
    margin-bottom: 20px;
}
.post-comment{
    padding-right: 3px;
}
.timeline_bg_wrap.center {
    text-align: center;
}
.timeline_bg_wrap.center .timeline_back .timeline.blog-wrap.even_class,
.timeline_bg_wrap.center .timeline_back .timeline.blog-wrap.odd_class {
    width: 100%;
}
.timeline_bg_wrap.center .blog_template.bdp_blog_template.timeline.blog-wrap .post_hentry:before,
.timeline_bg_wrap.center .blog_template.bdp_blog_template.timeline.blog-wrap.even_class .post_hentry:before {
    height: 60px;
    width: 60px;
    font-size: 30px;
    line-height: 60px;
    top: -24px;
    left: auto;
    right: -24px;
    z-index: 1;
}
.timeline_bg_wrap.center .timeline.blog-wrap .datetime {
    left: -30px;
}
.timeline_bg_wrap.center .bdp_blog_template .bdp-pinterest-share-image {
    top: 20px;
    left: 15px;
}
@-webkit-keyframes timeline-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes timeline-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes timeline-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes timeline-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes timeline-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes timeline-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes timeline-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes timeline-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@keyframes timeline-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@media screen and (max-width: 992px) {
    .timeline_bg_wrap:before {
        left: 6%;
    }
    .blog_template.bdp_blog_template.timeline.blog-wrap.even_class {
        margin-top: 0 !important;
    }
    .timeline_bg_wrap .timeline_back .timeline.blog-wrap.odd_class {
        clear: right !important;
        float: right !important;
        padding-left: 100px;
        padding-right: 30px;
    }
    .timeline_bg_wrap .timeline_back .timeline.blog-wrap {
        width: 94%;
    }
    .blog_template.bdp_blog_template.timeline.blog-wrap:nth-of-type(n) .post_hentry:before {
        left: -68px;
        right: auto;
    }
    .timeline_bg_wrap.left_side .blog_template.bdp_blog_template.timeline.blog-wrap:nth-of-type(n) .post_hentry:before {
        right: -68px;
        left: auto;
    }
    .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:before,
    .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap:after {
        left: -8px;
        border-right: 8px solid #000000;
        border-left: none !important;
        right: auto;
    }
    .datetime {
        height: 60px;
        width: 60px;
    }
    .timeline .datetime .month {
        font-size: 14px;
    }
    .timeline .datetime .date {
        font-size: 20px;
    }
    .timeline.blog-wrap.odd_class .datetime,
    .timeline.blog-wrap.even_class .datetime {
        left: inherit;
        right: -30px;
    }
    .blog_template.bdp_blog_template.timeline.blog-wrap:nth-of-type(2) {
        margin-top: 0;
        padding-top: 45px;
    }
    .bdp_blog_template.timeline.blog-wrap.odd_class .post_content_wrap {
        float: left;
    }
    .timeline_bg_wrap.center .timeline_back .timeline.blog-wrap.even_class,
    .timeline_bg_wrap.center .timeline_back .timeline.blog-wrap.odd_class {
        width: 95%;
    }

    .timeline_bg_wrap.center .timeline.blog-wrap .datetime {
        left: -74px;
        top: -10px;
    }
}
@media screen and (max-width: 550px) {
    .timeline_bg_wrap:before {
        left: 10%;
    }
    .timeline_bg_wrap .timeline_back .timeline.blog-wrap {
        width: 90%;
    }
    .timeline_bg_wrap.center .timeline_back .timeline.blog-wrap.even_class,
    .timeline_bg_wrap.center .timeline_back .timeline.blog-wrap.odd_class {
        width: 90%;
    }

    .timeline_bg_wrap.center .timeline.blog-wrap .datetime {
        left: -84px;
        top: -10px;
    }
}
@media screen and (max-width: 480px) {
    .bdp_archive.timeline .author-avatar-div .avtar-img {
        left: 0;
        margin: auto;
        right: 0;
        text-align: center;
    }
    .bdp_archive.timeline .author-avatar-div .author_content {
        margin: 65px 15px 10px;
        text-align: center;
    }
}
