/* OPTIN/ LEAD CAPTURE META BOX (BUSINESS ONLY) */

.fca_qc_input_wide {
	width: 100% !important;
	max-width: 300px !important;
	margin-bottom: 5px !important;
}

.fca_qc_api_link {
	text-decoration: none;
}

.fca_qc_icon {
	position: relative;
	top: 5px;
	color: #666;
	left: -25px;
    margin-right: -20px;
}
.dashicons-image-rotate {
	font-size: 13px;
	margin-top: 2px;
}


/* TAGS */

.fca-qc-tag {
	margin-left: 2px;
}
.fca-qc-tag-wrapper {
	margin: 5px;
}
.fca-qc-tag-delete {
	cursor: pointer;
	vertical-align: text-top;
}
.fca-qc-tag-delete:hover {
	color: #d54e21;
}
button.button-secondary.button.fca_qc_add_tag_btn {
	vertical-align: initial;
}
/* SPINNER CSS */
.fca_qc_spin {
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 0.8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 0.8s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	-webkit-transform-origin: 50% calc(50% - 3.5px);
    transform-origin: 50% calc(50% - 3.5px);
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(-360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(-360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(-360deg);}
}


/* QUIZ TYPE META BOX (PREMIUM ONLY) */
#fca_qc_quiz_type_meta_box {
	padding-top: 50px;
	background-color: white;
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2 !important;
}

#fca-quiz-select-wrapper {
	max-width: 900px;
	margin: 0 auto;
}

#fca_qc_quiz_type_meta_box button.handlediv,
#fca_qc_quiz_type_meta_box h2.ui-sortable-handle {
	display: none;
}
	
#fca-quiz-select h2 {
    text-align: center;
    font-size: 1.8rem;
	margin-bottom: 40px;
}

.fca_qc_add_personality_answer_btn {
	cursor: pointer;
}

#fca-quiz-select p {
    font-size: 0.9rem;
}

.fca-quiz-select-option {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
}

.select2-selection--multiple {
	border: 1px solid #ddd !important;
	border-radius: 0!important;
}
/* FIX SELECT2 PLACEHOLDER CUT OFF */
.select2-container .select2-search__field:not([placeholder='']) {
	width: 100% !important;
	margin-right: 300px;
}


/*FIX WP OVERLAY*/

#adminmenuback {
	z-index: 10;
}