.fca_qc_quiz_title {
display: none;
}

page .fca_qc_quiz {
	color: 	#FFFFFF;
	background-color: #a37ca3;
	border-radius: 10px;
}

div.fca_qc_quiz img[src=''] {
	display: none;
}

body div.fca_qc_quiz {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 30px 50px;
	background-color: #a27ca3;
	color: 	#FFFFFF;
	border-radius: 10px;
}

.fca_qc_quiz p {
	width: auto;
}

h2.fca_qc_quiz_title {
	color: #FFFFFF;
	margin: 0 0 20px 0;
}

.fca_qc_quiz_description {
	font-size: 16px;
	margin: 0 0 20px 0;
	color: #ffffff;
}

body .fca_qc_quiz_description {
	font-size: 16px;
	margin: 0 0 20px 0;
	color: #ffffff;
}

img.fca_qc_quiz_description_img, img.fca_qc_quiz_question_img {
	display: block;
	max-width: 100%;
	max-height: 400px;
	margin-left: auto;
	margin-right: auto;
  border-radius: 15px;
}
img.fca_qc_quiz_answer_img {
	max-width: 100%;
	max-height: 200px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}

img.fca_qc_quiz_question_img {
	margin-bottom: 15px;
}

#fca_qc_question {
	font-size: 20px;
	margin-bottom: 15px;
	color: #FFFFFF;
}
#fca_qc_question_back {
	display: block;
	margin-bottom: 15px;
}
div.fca_qc_quiz svg.fca_qc_rectancle {
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
}

div.fca_qc_quiz span.fca_qc_answer_span {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #151515;
	margin-left: 35px;
	text-indent: -35px;
}

div.fca_qc_quiz button.fca_qc_button {
	width: 200px;
	margin-top: 20px;
	border-radius: 2px;
	font-weight: bold;
	background-color: #58afa2;
	box-shadow: 0 2px 0 0 #3c7d73;
	color: #FFF;
	font-size: 20px;
	transition: all 0s;
	-webkit-transition: all 0s;
	border: none;
}

div.fca_qc_quiz button:hover {
	background-color: #3c7d73;
}

div.fca_qc_quiz button.fca_qc_next_question {
	background-color: transparent;
	color: black;
	width: 140px;
	border-radius: 2px;
	border: solid 2px #151515;
}

div.fca_qc_quiz button.fca_qc_next_question:hover {
	background-color: black;
	color: white;
}

body div.fca_qc_quiz div.fca_qc_answer_div {
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	border-radius: 2px;
	background-color: #E39631;
	color: white;
	text-align: left;
	text-transform: none;
	font-weight: normal;
	cursor: pointer;
	padding: 10px;
	border-radius: 15px;
}
div.fca_qc_quiz div.fca_qc_answer_div.fca-qc-twoup {
	width: calc(50% - 8px);
	margin: 4px;
	vertical-align: top;
}

div.fca_qc_quiz div.fca_qc_answer_div.fca-qc-threeup {
	width: calc(33% - 8px);
	margin: 4px;
	vertical-align: top;
}


#fca_qc_your_answer, #fca_qc_correct_answer {
	font-weight: normal;
}

body div.fca_qc_quiz div.fca_qc_answer_div.fakehover, div.fca_qc_quiz div.fca_qc_answer_div:active {
	background-color: #E39631;
}

body .fca_qc_score_text{
	display: none;
	font-size: 14px;
	margin: 30px 0 10px 0;
	color: #151515;
}
h3.fca_qc_score_title{
	font-size: 26px;
	margin: 0 0 20px 0;
	color: #ffffff;
}
.fca_qc_score_img{
	margin: 0 0 20px 0;
	max-width: 100%;
	border-radius: 15px;
}
.fca_qc_score_desc{
	font-size: 16px;
	margin: 0 0 30px 0;
	color: #ffffff;

}

.fca_qc_quiz_footer {
	margin-top: 20px;
	font-size: 16px;
	color: #151515;
}

.fca_qc_your_answers_text{
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 15px 0;
	color: #151515;
}

div.fca_qc_quiz div.fca_qc_question_response_item {
	margin: 0 0 15px 0;
	color: #151515;
}

div.fca_qc_quiz h3.fca_qc_question_response_question {
	font-size: 20px;
	font-weight: bold;
	margin:0 0 10px 0;
	padding-top: 15px;
	color: #151515;
}

div.fca_qc_quiz p.fca_qc_question_response_response {
	font-size: 16px;
	margin: 0 0 10px 0;
	color: #151515;
}
div.fca_qc_quiz p.fca_qc_question_response_correct_answer {
	font-size: 16px;
	margin: 0;
	padding-bottom: 15px;
	color: #151515;
}
div.fca_qc_quiz p.fca_qc_question_response_hint {
	font-size: 16px;
	margin: 0;
	padding-bottom: 15px;
	color: #151515;
}

.fca_qc_bold {
	font-weight: bold;
}

#fca_qc_question_count{
	font-size: 16px;
	color: #151515;
}

#fca_qc_question_right_or_wrong{
	font-size: 20px;
	margin: 20px 0;
	color: #151515;

}

#fca_qc_question_back {
	font-size: 18px;
	color: #151515;
}

.fca-qc-flipper div {
	padding: 5px;
}

div.fca_qc_quiz p.fca_qc_back_response {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #151515;
}

#fca_qc_hint_p {
	font-weight: normal;
}

div.fca_qc_quiz div.correct-answer {
	background-color: #abdc8c;
}
div.fca_qc_quiz div.wrong-answer {
	background-color: #f57484;
}

/**** FLIP CARD CSS ****/

/* entire container, keeps perspective */
.flip-container {
	width: 100%;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.flip-container, .fca-qc-front, .fca-qc-back {
	width: 100%;
	height: 400px;
}

/* flip speed goes here */
.fca-qc-flipper {
	transition: transform 0.6s;
	-webkit-transition: transform 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.fca-qc-front, .fca-qc-back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: transform 0.6s;
	-webkit-transition: transform 0.6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

/*  front pane, placed above back */
.fca-qc-front {
	z-index: 2;
	transform: rotateY(0deg);
	-webkit-transform:  rotateY(0deg);
}

/* back, initially hidden pane */
.fca-qc-back {
	transform: rotateY(-180deg);
	-webkit-transform:  rotateY(-180deg);
}


.flip-container.flip .fca-qc-flipper {
	transform: rotateY(180deg);
	-webkit-transform:  rotateY(180deg);
}

/* SVG SHARE ICONS */

.fca_qc_social_share h3{
	margin: 0 0 18px 0;
	font-size: 20px;
}

.fca_qc_social_share {
	margin: 0 0 30px 0;
}

.fca_qc_social_share a.fca_qc_share_link {
	margin: 2px;
	display: inline-block;
	width: 120px;
	padding: 8px 10px;
	color: white;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	border-radius: 2px;
	text-decoration: none;
	box-shadow: none;
	border-bottom: none;
	line-height: 1.43;
}
.fca_qc_social_share a.fca_qc_share_link:hover {
	opacity: 0.8;
}

.fca_qc_share_link svg {
	float: left;
	height: 18px;
	width: 18px;
	fill: white;

}
#fca_qc_share_link_twitter {
	background-color: #5bc3ee;
}
#fca_qc_share_link_facebook {
	background-color: #386497;
}
#fca_qc_share_link_email {
	background-color: #2a91fb;
}
#fca_qc_share_link_pinterest {
	background-color: #b81621;
}

/* OPTINS */
div.fca_qc_quiz h3.fca_qc_email_headline {
	font-size: 26px;
	font-weight: 400;

}

div.fca_qc_quiz button.fca_qc_button.fca_qc_submit_email_button {
	width: 100%;
}

div.fca_qc_quiz button.fca_qc_skip_email_button {
	background-color: #aaa !important;
	margin-top: 15px;
	font-size: 0.8em !important;
}
div.fca_qc_quiz input.fca_qc_optin_input {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 37px;
	-webkit-transition: All 0.5s ease-in-out;
	-moz-transition: All 0.5s ease-in-out;
	-o-transition: All 0.5s ease-in-out;
	-ms-transition: All 0.5s ease-in-out;
	transition: All 0.5s ease-in-out;
}

div.fca_qc_quiz p.fca_qc_after_button_text {
	margin-top: 16px;
	font-size: 12px;
}

/* GDPR */

div.fca_qc_quiz .fca-qc-gdpr-consent {
	cursor: pointer;
	margin: 0;
 	position: relative;
 	top: 2px;
}

div.fca_qc_quiz .fca-qc-gdpr div {
	margin-bottom: 16px;
}

div.fca_qc_quiz .fca-qc-gdpr label {
	display: block;
	cursor: pointer;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	margin-bottom: 0;
}

div.fca_qc_quiz .fca-qc-gdpr label p {
	display: inline;
}

@keyframes pulse {
	from {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
	50% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	to {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

div.fca_qc_quiz input.fca_qc_optin_input.fca_qc_invalid {
	border: 1px solid #e74c3c;
	-webkit-animation: pulse .5s;
	-moz-animation: pulse .5s;
	-o-animation: pulse .5s;
	-ms-animation: pulse .5s;
	animation: pulse .5s;

}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-quiz-cat .tooltipster-box {
	background-color: #ea6153;
}
.tooltipster-arrow-border {
	border-top-color: #ea6153 !important;
}

/* WYSIWIG */
.wysiwyg-text-align-left {
  text-align: left !important;
}
.wysiwyg-text-align-right {
  text-align: right !important;
}
.wysiwyg-text-align-center {
  text-align: center !important;
}


page-id-10328 .fca_qc_quiz_title {
display: none;
}

/* A HIDDEN SELECTOR TO TELL US IF MEDIA QUERIES ARE ACTIVE */
div.fca_qc_quiz span.fca_qc_mobile_check {
	display: none;
}
@media (max-width: 600px) {
	.fca-qc-flipper div {
		padding: 0;
	}

	div.fca_qc_quiz span.fca_qc_mobile_check {
		display: inline;
	}

	div.fca_qc_quiz {
		padding: 30px 0px;
	}

	body div.fca_qc_quiz button.fca_qc_button {
		width: 80%;
		font-size: 16px;
		background-color: #DC973A;
	}

	div.fca_qc_quiz div.fca_qc_answer_div.fca-qc-twoup img.fca_qc_quiz_answer_img, div.fca_qc_quiz div.fca_qc_answer_div.fca-qc-threeup img.fca_qc_quiz_answer_img {
		max-height: 110px;
	}

	div.fca_qc_quiz span.fca_qc_answer_span {
		margin-left: 27px;
		text-indent: -30px;
		font-size: 14px;
	}

	div.fca_qc_quiz svg.fca_qc_rectancle {
		margin-right: 3px;
		vertical-align: bottom;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
}