/*
Custom theme styles 
*/

/* Theme Styles import */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Lora:400,400i,700,700i');

html {
  font-size: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Lora', serif;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 0;
}

body *, 
body *:before, 
body *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: #583A58;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-weight: 900;
}

h1 {
    font-size: 40px;
    line-height: 55px;
    margin: 0 0 30px;
}


h2, h1.homeSubTitle {
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 20px;
}

h2.Callout {
    color: #583A58;	
    font-family: 'Lora';	
    font-size: 30px;	
    font-style: italic;	
    font-weight: 400;
    line-height: 40px;
    padding: 5px 0 5px 30px;
    border-left: solid 4px #583A58;
}

h2 > a {
    color: #583A58;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-weight: 900;  
}

h2 > a:hover,
h2 > a:focus {
    color: #583A58;
    text-decoration: none;
}

h3 {
    font-size: 25px;
    line-height: 35px;
    margin: 0 0 15px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 10px;
}

p {
    margin-bottom: 25px;
}
 
a {
    -webkit-transition: color ease-in-out .33s;
    -moz-transition: color ease-in-out .33s;
    -ms-transition: color ease-in-out .33s;
    transition: color ease-in-out .33s;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.nowrap {
    white-space: nowrap;
}

@media screen and (max-width: 991px) {
    body {
        font-size: 1em;
        line-height: 1.625em;
    }
    
    h1 {
        font-size: 26px;	
        line-height: 34px;
    }


    h2 {
        font-size: 22px;
        line-height: 32px;
    }

    h2.Callout {	
        font-size: 22px;	
        line-height: 32px;
    }


    h3 {
        font-size: 20px;
        line-height: 28px;
    }

    h4 {
        font-size:18px;
        line-height: 26px;
    }

    p {
        margin-bottom: 20px;
    }
}

.mobile-only,
.desktop-only {
    display: none;
}

@media screen and (max-width: 991px) {
    .mobile-only { display:inherit };
}

@media screen and (min-width: 992px) {
    .desktop-only { display:inherit };
}

#main-column .attachment .entry-title, 
#main-column .post .entry-title, 
#main-column .page .entry-title {
    word-wrap: normal;
}

#main-column .post, 
#main-column .page {
    border: none;
    padding: 0;
}

.btn,
.submit_wrapper > input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border:none;
    border-radius: 5px;
    transition: all ease-in-out .33s;
}

.btn-danger, 
.btn-default, 
.btn-info, 
.btn-primary, 
.btn-success, 
.btn-warning,
.submit_wrapper > input[type="submit"] {
    text-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.btn-primary,
.submit_wrapper > input[type="submit"] {
    color: #fff;
    background-color: #E39631;
    background-image:none;
    filter:none;
    border:none;
    border-radius: 5px;	
    font-family: 'Lato';
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
}

.btn-primary:hover,
.submit_wrapper > input[type="submit"]:hover {
    background-color: #D28624;
}

.btn-primary:focus,
.submit_wrapper > input[type="submit"]:focus {
    background-color: #D28624;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width: 991px) {
    .btn-primary,
    .submit_wrapper > input[type="submit"] {
        padding: 12px 30px;
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
    }
}

@media screen and (max-width: 499px) {
    .banner_content_wrapper--inner .btn-primary {
        width: 100%;
    }
}

/* Form elements */
input::-webkit-input-placeholder {
    color: #666;
    transition: color ease-in-out .15s;
}
input:focus::-webkit-input-placeholder {
    color: #fff;
}

/* Firefox < 19 */
input[type="text"], 
input[type="email"],
textarea {
    color: #333;
    background-color: #FFFFFF;
    border: 1px solid #666;
}

input[type="text"]:focus, 
input[type="email"]:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #583A58;		
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.43);
}
input:-moz-placeholder {
    color: #666;
    transition: color ease-in-out .15s;
}
input:focus:-moz-placeholder {
    color: #fff;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #666;
    transition: color ease-in-out .15s;
}
input:focus::-moz-placeholder {
    color: #fff;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #666;
    transition: color ease-in-out .15s;
}
input:focus:-ms-input-placeholder {
    color: #fff;
}

textarea::-webkit-input-placeholder {
    color: #666;
    transition: color ease-in-out .15s;
}
textarea:focus::-webkit-input-placeholder {
    color: #fff;
}

/* Firefox < 19 */
textarea:-moz-placeholder {
    color: #666;
    transition: color ease-in-out .15s;
}
textarea:focus:-moz-placeholder {
    color: #fff;
}

/* Firefox > 19 */
textarea::-moz-placeholder {
    color: #666;
    transition: color ease-in-out .15s;
}
textarea:focus::-moz-placeholder {
    color: #fff;
}

/* Internet Explorer 10 */
textarea:-ms-input-placeholder {
    color: #666;
    transition: color ease-in-out .15s;
}
textarea:focus:-ms-input-placeholder {
    color: #fff;
}

/*
* Header styles
*/
.header_top {
    background-color: #583A58;
    padding-top: 10px;
}
.header_top,
.footer {
    font-family: 'Lato', sans-serif;
}

.header_top .site_logo--desktop {
    display: none;
}

.header_top .site_logo--mobile a {
    display: inline-block;
}

.header_top .site_logo--mobile img {
    max-width: 80px;
    height: auto;
    display: block;
}

.header_top--right-menu {
    display: none;
}

.header_top--right-content {
    text-align: right;
    margin-top: 15px;
}

.header-right-cta-1,
.header-right-cta-1 a {
    color: #F7D684;	
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    text-align: left;
}

.header-right-cta-1 a:hover,
.header-right-cta-1 a:focus {
    text-decoration: none;
}

.header-right-cta-1 > span {
    position: relative;
}

.header-right-cta-1 > span.mobile-only {
    color: #fff;
    font-size: 18px;
    float: right;
    width: 33px;
    height: 30px;
    margin: -3px 10px 0 0;
    padding: 4px 6px;
    border: solid 1px #fff;
    border-radius: 4px;
    text-align: center;
}

.header-right-cta-1 > span.mobile-only a {
    color: #fff;
}

.header-right-cta-1 > span.mobile-only i {
    text-align: center;  
    float: none;
    display: block;
    width: 21px;
    height: 22px;
    line-height: 22px;
}

.header-right-cta-2 {
    display: none;
}

.header-right-cta-2 .hrc-number {
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 991px) {
    .header_top--right {
        border-top: solid 1px rgba(255, 255, 255, 0.36);
    }
}

@media screen and (min-width: 992px) {
    .header_top {
        padding-top: 15px;
    }
    .header_top .site_logo--mobile {
        display: none;
    }
    
    .header_top .site_logo--desktop,
    .header_top .site_logo--desktop a {
        display: inline-block;
    }
    
    .header_top .site_logo--desktop  img {
        display: block;
        max-width: 210px;
        height: auto;
    }
    
    .header_top--right-menu {
        float:right;
        display: block;
    }

    .header_top--right-menu ul.menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .header_top--right-menu ul.menu li {
        float:left;
    }

    .header_top--right-menu ul.menu li a {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        padding-left: 20px;
    }

    .header_top--right-menu ul.menu li a:hover, 
    .header_top--right-menu ul.menu li a:focus,
    .header_top--right-menu ul.menu li.active a {
        text-decoration: none;
        color: rgba(255,255,255,.9);
    }
    
    .header_top--right-content {
        float: right;
        clear: right;
        text-align: right;
        margin-top: 20px;
    }

    .header-right-cta-1 {
        margin-bottom: 10px;
    }
    
    .header-right-cta-1,
    .header-right-cta-1 a {
        font-size: 25px;
        text-align: right;
    }
    
    .header-right-cta-2 {
        color: rgba(255,255,255,.7);
        font-size: 18px;
        line-height: 25px;
        display: block;
    }
}

/* Top navigation bars */

.top_nav .navbar-default {
    background-image: none;
    filter: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background:none;
    border:none;
    min-height:inherit;
    margin: 0;
}

.top_nav .navbar-default ul.navbar-nav {
    width: 100%;
    margin:0;
}

.top_nav .navbar-default ul.navbar-nav > li > a {
     background: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    line-height: 27px;
    transition: all ease-in-out .15s;
}

/* Main navigation */
.main_navigation {
    border-top: solid 1px #6b516b;
}

.main_navigation .navbar-collapse {
    padding: 0;
}

.main_navigation .navbar-default ul.navbar-nav > li {
    margin:0 0px 1px;
}

.top_nav .navbar-default ul.navbar-nav > li > a:hover,
.top_nav .navbar-default ul.navbar-nav > li > a:focus,
.top_nav .navbar-default ul.navbar-nav > li.active > a {
    background-color: rgba(0,0,0,0.2);;
    color: #fff;
    text-decoration: none;
}


.top_nav.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 220px !important;
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border:none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.top_nav li a .caret  {
    display: none;
}

.top_nav .dropdown-menu li a {
    color: #333;
    background: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

.top_nav .dropdown-menu li a:focus,
.top_nav .dropdown-menu li a:hover,
.top_nav .dropdown-menu li.current-menu-item.active a {
    color: #583A58;
    background: none;
}

.top_nav .navbar-nav .open > .dropdown-menu {
    display: block; 
}

.top_nav .navbar-nav:not(.sm-collapsible) ul .caret {
    margin-top: 12px;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: hidden;
    -webkit-overflow-scrolling:none;
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.top_nav .navbar-default  .navbar-header {
    float: none;
}

.search_toggle_wrapper,
.top_nav .navbar-nav .dropdown-menu a.mobilebackLink,
.top_nav .navbar-nav .dropdown-menu h3 {
    display: none;
}

@media screen and (min-width: 992px) {
    .top_nav .navbar-default ul.navbar-nav > li > a {
        padding: 12px 12px 13px;
    }
    
    .top_nav .dropdown-menu {
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.5);
        -ms-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.5);
        box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.5);
        padding: 10px 0;
    }
}

@media screen and (min-width: 1200px) {
    .main_navigation .navbar-default ul.navbar-nav > li > a {
        font-size: 22px;
        padding: 12px 15px 13px;
    }
}


@media screen and (max-width: 991px) {

    .top_nav .navbar-default ul.navbar-nav > li {
        width: 100%;
    }
    .navbar-default .navbar-toggle {
        display: block;
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: -105px;
        margin-right: 15px;
        margin-bottom: 0;
        background-color: transparent;
        background-image: none;
        border: 0;
        border-radius: 0;
    }
    
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;

    }
    
    .top_nav .collapse {
        display: none !important;
    }
    
    .top_nav .navbar-default ul.navbar-nav > li > a {
        font-weight: 400;
        border-bottom: solid 1px #6a4b68;
    }
    
    .top_nav .navbar-default ul.navbar-nav > li:first-child > a {
        border-top: solid 1px #6a4b68;
    }
    
    .top_nav .navbar-nav .caret {
        border:none;
        display: inline-block;
        float: right;
        width: 27px;
        height:27px;
        position: relative;
    }
    
    .top_nav .navbar-nav .caret:after {
        position: absolute;
        top: 0;
        left: 5px;
        content:"\f105";
        font-family: 'FontAwesome';
        font-size: 24px;
        line-height: 27px;
        text-align: center;
    }
    
    .main_navigation .navbar-nav .mobilebackLink {
     
    }
    
    .top_nav .navbar-nav > li.dropdown {
        position: inherit;
    }
    
    .top_nav .navbar-nav .dropdown-menu {
        position: absolute;
        top: 100px;
        left:-100%;
        width: 100%;
        height: 100%;
        margin-top: 0;
        background-color: #583a58;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        transition: all ease-in-out .13s;
    }
    
    .top_nav .navbar-nav .open .dropdown-menu {
        left:0;
        float: none;
    }

    .top_nav .navbar-nav .dropdown-menu > li > a {
        border-bottom: solid 1px #6a4b68;
        padding: 15px;
    }
    
    .top_nav .navbar-nav .dropdown-menu .mobileparentTitle + li > a {
        border-top: solid 1px #6a4b68;
    }
    
    .top_nav .navbar-nav .dropdown-menu a.mobilebackLink {
        color: #fff;
        display: block;
        font-size: 22px;
        line-height: 27px;
        margin: 0 15px 10px;
        padding-left: 20px;
        position: relative;
    }
    
    .top_nav .navbar-nav .dropdown-menu a.mobilebackLink:focus {
        text-decoration: none;
    }
    
    .top_nav .navbar-nav .dropdown-menu a.mobilebackLink:after {
        content: "\f104";
        font-family: 'FontAwesome';
        text-align: center;
        position: absolute;
        top: 0;
        left:0;
    }
    
    .top_nav .navbar-nav .dropdown-menu h3 {
        display: block;
        color: #fff;
        font-size: 22px;
        line-height: 27px;
        font-weight: 400;
        margin: 0;
    }
    
    .top_nav .navbar-nav .dropdown-menu h3 a {
        background-color: #432b42;
        color: #fff;
        text-decoration: none;
        padding: 15px;
        display: block;
    }
    
    .top_nav .navbar-nav .dropdown-menu h3 a .caret,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a .caret {
        display: none;
    }
    
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a.highlighted,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
    
    .navbar .navbar-nav .open .dropdown-menu > .active > a, 
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus, 
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
        background: none;
    }

    
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 0;
        -webkit-transition: all ease-in-out .13s;
        -moz-transition: all ease-in-out .13s;
        -ms-transition: all ease-in-out .13s;
        -o-transition: all ease-in-out .13s;
        transition: all ease-in-out .13s;
    }
    
    .navbar-default .navbar-toggle.opened .icon-bar.first {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -ms-transform-origin: center;
        -o-transform-origin: center;
        transform-origin: center;
    }
    
    .navbar-default .navbar-toggle.opened .icon-bar.middle {
        display: none;
    }
    
    .navbar-default .navbar-toggle.opened .icon-bar.last {
        margin-top: -2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -ms-transform-origin: center;
        -o-transform-origin: center;
        transform-origin: center;
    }
    
    .navbar-collapse.collapse {
        display: none !important;
    }
    
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    
    .top_nav .container {
        width: 100%;
    }
    
    .top_nav .col-md-12 {
        padding: 0;
    }
}

/* Search in Header styles */
.search_toggle_wrapper {
    display: none;
    width: 42px;
    height: 42px;
    float:right;
    margin: 10px 0 0;
}
    
.search_toggle_wrapper a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #fff;
    color: #52343C;
    border-radius: 50%;
    transition: all ease-in-out .33s;
}
    
.search_toggle_wrapper a.active {
    background-color: rgba(255,255,255,.74);
}
    
.search_toggle_wrapper .fa {
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #52343C;
}
    
.navbar-collapse .search_form_wrapper {
    background-color: #583a58;
    padding: 0;
    width: 100%;
}
    
.navbar-collapse .search_form_wrapper.opened {
    display: block !important;
    padding: 30px 15px;
}
    
.navbar-collapse .search_form_wrapper form {
    background-color: #583a58;
    padding: 5px 15px;
    width: 100%;
}
    
.navbar-collapse .search_form_wrapper input[type="search"]{
    height: 40px;	
    width: 100%;	
    border: 1px solid #979797;	
    background-color: #FFFFFF;
    padding-right: 10px;
    border-radius: 0;
    border-right: none;
}
    
.navbar-collapse .search_form_wrapper input[type="search"]:focus {
    box-shadow: none;
    border: 1px solid #583A58;	
    border-right: none;
}
    
.navbar-collapse .search_form_wrapper .input-group-btn > .btn {
    color: transparent;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    font-size: 0px;
    font-weight: 500;
    line-height: 40px;
    border: none;
    border-radius: 0;
    transition: all ease-in-out .33s;
    width: 40px;
    height: 40px;
    background-color: #e49631;
    position: relative;
}
    
.navbar-collapse .search_form_wrapper .input-group-btn > .btn:after {
    font-family: 'FontAwesome';
    content: '\f002';
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
}
    
.navbar-collapse .search_form_wrapper .input-group-btn > .btn:focus,
.navbar-collapse .search_form_wrapper .input-group-btn > .btn:hover {
    background-color: #D28624;
}


@media (min-width: 992px) {

    .navbar-collapse .search_toggle_wrapper {
        display: inline-block;
    }

    .navbar-collapse .search_form_wrapper {
        display: inline-block;
        background-color: #583a58;
        padding: 0;
        position: absolute;
        width: 360px;
        z-index: 99;
        right: 0;
        top: 52px;
        bottom: auto;
        left: auto;
        height: 56px;
    }
    
    .navbar-collapse .search_form_wrapper form {
        background-color: #583a58;
        padding: 5px 15px;
        position: absolute;
        right:0;
        bottom: 5px;
        left:auto;
        top: auto;
        width: 360px;
        z-index: 99;
    }
    
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
        position: relative;
    }
    
    .main_navigation .navbar-default ul.navbar-nav {
        width: calc(100% - 42px);
    }
    
    .main_navigation .navbar-default ul.navbar-nav > li {
        margin:0 5px;
    }
}

/* 
* Main content 
*/
.col-md-12.content-area + col-md-3 {
    display: none;
}

.content-area img {
    max-width: 100%;
    height: auto;
}

/* 
* Simple banner
*/
.page_banner_wrapper {
    position: relative;
    min-height: 400px;
    overflow: hidden;
}


.page_banner_wrapper > img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

body:not(.home) .page_banner_wrapper > img {
    height: 120%;
}

.page_banner_wrapper .banner_content_wrapper {
    position: inherit;
}

body:not(.home) .page_banner_wrapper .banner_content_wrapper {
    height: 100%;
}

.page_banner_wrapper .banner_content_wrapper--inner {
    padding: 0;
}

body:not(.home) .page_banner_wrapper .banner_content_wrapper--inner {
    position: absolute;
    left: 15px;
    top: auto;
    right: auto;
    bottom: 30px;
}

.home .banner_content_wrapper--inner {
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
}

.page_banner_wrapper .imageOverlay {
    width: 100%;
    height: 60%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.27) 14.58%, #000000 100%);
}
    
.home .page_banner_wrapper .imageOverlay {
    display: none;
}

.page_banner_wrapper .banner_content_wrapper h1 {
    color: #fff;
    font-size: 30px;	
    font-weight: 900;	
    line-height: 48px;
    margin-top: 30px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}

.page_banner_wrapper .banner_content_wrapper .banner-text {
    color: #fff;
    font-size: 16px;	
    line-height: 26px;
    margin-bottom: 20px;
}

@media screen and (min-width:992px) {
    .page_banner_wrapper {
        min-height: inherit;
        text-align: left;
    }
    
    .page_banner_wrapper > img {
        width: 100%;
        height: auto;
        position:inherit;
        top:inherit;
        left: inherit;
        bottom: inherit;
        right: inherit;
        -webkit-transform: none;
        -moz-transform:  none;
        -ms-transform:  none;
        -o-transform:  none;
        transform:  none;
    }
    
    .page_banner_wrapper .banner_content_wrapper--inner {
        max-width: 50%;    
    }
    
    .page_banner_wrapper .banner_content {
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height: 100%;
    }
    
    
    .page_banner_wrapper .banner_content_wrapper {
        height: 100%;
        position: relative;
    }
    
    .page_banner_wrapper .banner_content_wrapper--inner {
        position: absolute;
        left:0;
        top: auto;
        right: auto;
        bottom: 30px;
    }
    
    .page_banner_wrapper .banner_content_wrapper h1 {
        font-size: 45px;	
        line-height: 48px;
        margin-top: 0;
    }
    
    .page_banner_wrapper .banner_content_wrapper .banner-text {
        color: #fff;
        font-size: 18px;	
        line-height: 24px;
    }
}

@media screen and (min-width:1200px) {
    .page_banner_wrapper {
        max-height: 685px;
    }
    .page_banner_wrapper .banner_content_wrapper--inner {
        bottom: 70px;
    }
}

/*
* Breadcrumbs
*/

ul.breadcrumbs {
    padding: 20px 0;
    margin: 0;
    list-style: none;
}

ul.breadcrumbs li {
    float: left;
    display: block;
    color: #999999;	
    font-family: 'Lato';	
    font-size: 18px;	
    line-height: 40px;
}


ul.breadcrumbs li a {
    color: #999999;	
    font-family: 'Lato';	
    font-size: 18px;	
    line-height: 40px;
}

ul.breadcrumbs li a:hover, 
ul.breadcrumbs li a:focus {
    text-decoration: none;
}

ul.breadcrumbs li.separator {
    padding: 0 10px;
}

ul.breadcrumbs li strong {
    font-weight: normal;
}

.post-type-archive-jobs ul.breadcrumbs  {
    color: #999999;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 40px;
}

@media screen and (max-width: 991px) {
    ul.breadcrumbs li a,
    ul.breadcrumbs li .bread-current {	
        font-size: 16px;	
        line-height: 24px;
    }
}

/*
* Post content
*/
.post_featured_image {
    margin: 20px 0 30px;
}

.post_featured_image img {
    display: block;
    width: 100%;
    height: auto;
}

/* 
* Meta slider flexslider styles
*/

.widget .metaslider {
    margin: 0 auto;
}

.widget .metaslider .flexslider {
    margin: 0;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.metaslider .caption-wrap {
    min-height: 200px;
}

.flexslider ul.slides {
    position: relative;
    z-index: 1;
}

.flexslider ul.slides li .caption-wrap {
    opacity:1;
    background-color: rgba(0,0,0,0.75);
}



.flexslider ul.slides li .caption  {
    padding:20px 15px 30px 15px;
    word-wrap: break-word;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flexslider ul.slides li .caption h2 {
    color: #fff;	
    font-family: 'Lato', sans-serif;	
    font-size: 32px;	
    font-weight: 900;	
    line-height: 42px;	
    text-align: center;
}

.flexslider ul.slides li .caption p {
    color: #fff;	
    font-family: 'Lora', serif;	
    font-size: 20px;	
    line-height: 30px;	
    text-align: center;
}

.flexslider ul.slides li .caption a.angleRight {
    color: #fff;
    display: inline-block;
    line-height: 1.25em;
    text-align: left;
    margin-top: 30px;
}

.flexslider ol.flex-control-nav {
    position: absolute;
    bottom: 20px;
    z-index: 2;
}

.flexslider ol.flex-control-nav li a {
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.flexslider ol.flex-control-nav li a.flex-active {
    background-color: #E39631;
}

@media (min-width: 768px) {
    .metaslider .caption-wrap {
        min-height: 0;
    }
    
    .flexslider ul.slides li .caption {
        width: 750px;
    }
}

@media (min-width: 992px) {   
    .flexslider ul.slides li .caption {
        width: 970px;
    }
}

@media (min-width: 1200px) {   
    .flexslider ul.slides li .caption {
        width: 1170px;
    }
}

@media screen and (max-width:992px) {
    .flexslider ul.slides li .caption-wrap {
        position: relative;
    }
}

@media screen and (max-width:767px) {
    .flexslider ul.slides li .caption {
        padding: 40px 15px;
    }
    
    .flexslider ul.slides li > img {

    }
    
    .flexslider ul.slides li .caption h2 {
        font-size: 24px;		
        line-height: 30px;	
    }

    .flexslider ul.slides li .caption p {
        font-size: 17px;	
        line-height: 23px;	
    }

    .flexslider ul.slides li .caption a.angleRight {
        margin-top: 15px;
    }
}


/* 
* Custom styles for classes added trough TinyMCE
*/
.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

marginZero {
    margin: 0 !important;
}

paddingZero {
    padding: 0 !important;
}

.borderTopThick {
    border-top: solid 5px #583A58;
    padding: 30px 0 0;
}

.inlineBlock {
    display: inline-block;
}

a.angleRight {
    position: relative;
    padding-left: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

a.angleRight:before {
    font-family: 'FontAwesome';
    line-height: 1em;
    content: '\f105';
    position: absolute;
    top:2px;
    left:0;
    right: auto;
    bottom: auto;
}

.greyText {
    clear:both;
    color: #999999;	
    font-family: 'Lora', serif;	
    font-size: 16px;	
    line-height: 19px;
}

.therapyPreview {
    background-color: #F0F0F0;
    width: 100%;
    text-align: center;
    padding:30px 15px;
}

.therapyPreview:before,
.therapyPreview:after,
.videoTeaser:before,
.videoTeaser:after {
    content: " "; 
    display: table;
}

.therapyPreview:after,
.videoTeaser:after {
    clear: both;
}

.therapyPreview .so-widget-sow-image {
    position: relative;
}

.therapyPreview .so-widget-sow-image img {
    max-width: 220px;
}

.therapyPreview h3 {
    color: #666666;	
    font-family: 'Lato', sans-serif;	
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin:15px 0 0 !important;
}

.videoTeaser,
.imageTeaser {
    background-color: #F0F0F0;
    padding: 30px;
}

.videoTeaser .fve-video-wrapper {
    margin-bottom: 15px;
}

.imageTeaser img {
    margin-bottom: 15px;
}

ul.successList,
ul.anglerightVdotList {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}

ul.successList {
    padding: 30px 0 15px;
    text-align: center;
}

ul.successList li {
    color: #583A58;
    margin-bottom: 15px;
    max-width: 290px;
    margin: 0 auto;
}

ul.successList li strong {
    font-size: 72px;
}


ul.anglerightVdotList li {
    position: relative;
    color: #0885B4;	
    font-family: 'Lora', serif;	
    font-size: 20px;	
    line-height: 32px;
    padding-left: 40px;
    margin-bottom: 12px;
}

ul.anglerightVdotList li:before {
    color: #fff;
    background-color: #583a58;
    font-family: 'FontAwesome';
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    content: '\f105';
    position: absolute;
    top: 6px;
    left: 0;
    right: auto;
    bottom: auto;
    padding:0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

ul.prio1List  {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul.prio1List li {
    background-color: #FFEBCD;
    padding: 30px;
    width: 48%;
    margin-bottom: 30px;
}

ul.prio1List li h4 {
    color: black;
    font-family: 'Lato';	
    font-size: 22px;	
    font-weight: 900;	
    line-height: 26px;
}

ul.prio1List li p {
    color: black;
    font-family: 'Lora';	
    font-size: 16px;	
    line-height: 26px;
}

ul.yellowdList {
    padding: 15px 0;
    list-style: none;
}

ul.yellowdList li {
    padding: 0 0 0 30px;
    list-style: none;
    position: relative;
    margin-bottom: 30px;
    line-height: 30px;
}

ul.yellowdList li:after {
    color: #E39631;
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 12px;
    content: "\f111";
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
}

ul.yellowdList.roseBackground {
    background-color: #FFECCD;
    padding: 30px;
}

ul.drugsList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.drugsList li {
    width: 33.33333%;
    padding: 30px 30px 30px 0;
    border-bottom: 1px solid #E0E0E0;
    color: #0885B4;	
    font-family: 'Lato',sans-serif;	
    font-size: 20px;	
    line-height: 24px;
}

ul.violetsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.violetsList li {
    float:left;
    margin: 0 10px 20px 10px;

}

ul.violetsList li a {
    display: block;
    width: 160px;
    height: 160px;
    padding: 60px 10px 0;  
    color: #fff;
    background-color: #a37ca3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.25em;
    font-size: 18px;
    transition: all 0.2s;
}

ul.violetsList li a:hover {
    text-decoration: none;
    background-color: #825e82;
}

@media screen and (min-width: 768px) {
    .videoTeaser .textwidget{
        
    }
    .videoTeaser .fve-video-wrapper {
        display: inline-block;
        width: 60%;
    }
    
    .videoTeaser .fve-video-wrapper + p {
        width: calc(40% - 30px);
        display: inline-block;
        margin-left: 30px;
        float: right;
    }
}

@media screen and (min-width: 992px) {
    .imageTeaser img {
        float: left;
        margin-right: 30px;
    }
    
    .therapyPreview {
        padding: 0;
    }
    
    .complTherapies .widget_sow-image {
        margin-bottom: 10px !important;
    }
    
    .therapyPreview .sow-image-container {
        float: left;
    }
    
    .therapyPreview h3 {
        margin: 0 !important;
        padding-top: 80px;
    }
    
    ul.successList li {
        width: 33.3333%;
        padding: 0 15px;
        float: left;
    }
}

@media screen and (min-width: 1200px) {
    ul.violetsList li {
        margin: 0 15px 30px 15px;
    }

    ul.violetsList li a {
        width: 180px;
        height: 180px;
        padding: 70px 15px 0;
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    ul.drugsList li {
        width: 50%;
        padding:20px 15px 20px 0;
    }
    
    ul.violetsList li {
        margin: 0 10px 15px 10px;
    }

    ul.violetsList li a {
        width: 140px;
        height: 140px;
        padding: 55px 10px 0;
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {
    ul.prio1List li {
        width: 100%;    
    }
    
    ul.drugsList li {
        width: 100%;
        padding:15px 0;
    }
    
    ul.violetsList {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
}

/* Set margin for sections added with visual editor */
.panel-layout .panel-grid.panel-no-style:not(.marginZero), 
.panel-layout .panel-grid.panel-has-style:not(.marginZero),
.panel-layout .panel-grid.panel-has-style > .panel-row-style:not(.marginZero) {
    margin: 0 auto 30px !important;
}


/*
* Testimonial wdiget styles
*/

.testimonialWrapper {
    background-color: #F0F0F0;
    padding: 50px 50px 50px 140px;
    color: #666666;
    font-family: 'Lora', serif;	
    font-size: 30px;	
    font-style: italic;	
    line-height: 40px;
    position: relative;
}

.testimonialWrapper:after {
    position: absolute;
    top: 120px;
    left: 25px;
    display: block;
    content:"\201c";
    font-size: 180px;
    text-align: center;
    color: #583A58;
}

.testimonialWrapper h6 {
    font-size: 17px;
    line-height: 22px;
}

.testimonialWrapper h6 a {
    color: #2090ba;
    text-decoration: underline;
}

.testimonialWrapper h6 a:hover {
    color: #2090ba;
    text-decoration: none;
}

@media screen and (max-width: 767px) {  
    .testimonialWrapper {
        padding: 30px 30px 30px 70px;	
        font-size: 20px;		
        line-height: 30px;
    }

    .testimonialWrapper:after {
        top: 60px;
        left: 15px;
        font-size: 90px;
    }
    
    .testimonialWrapper h6 {
        font-size: 15px;
        line-height: 20px;
    }
}

/* Testimonials list */
.listTestimonials .testimonialWrapper {
    margin-bottom: 20px;
}

/* Pagination for Testimonials list */
.testimonialPager {
    padding: 15px 0;
}

.testimonialPager br {
    display: none;
}

.testimonialPager .prev-posts-links {float: left;}

.testimonialPager .next-posts-links {float: right;}

.testimonialPager a:hover,
.testimonialPager a:focus {
    text-decoration: none;
}

.testimonialPager .prev-posts-links > a,
.testimonialPager .next-posts-links > a {
    display: inline-block;
    position: relative;
    padding: 5px 0 5px  25px;
}

.testimonialPager .next-posts-links > a {
    padding: 5px 25px 5px  0;
}

.testimonialPager .prev-posts-links > a:after,
.testimonialPager .next-posts-links > a:after {
    position: absolute;
    top: 6px;
    left: 5px;
    right: auto;
    content: '\f053';
    font-family: 'FontAwesome';
    font-size: 16px;
}

.testimonialPager .next-posts-links > a:after {
    position: absolute;
    left: auto;
    right: 5px;
    content: '\f054';
}

/* 
* Job posts styles 
*/
ul.listJobs {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}

ul.listJobs li {
    padding: 5px 0;
    margin: 0;
    border-bottom: solid 1px #ddd;
}

ul.listJobs li:last-child {
    border: none;
}

ul.listJobs li a:hover, 
ul.listJobs li a:focus {
    text-decoration: none;
}

ul.listJobs li span {
    position: relative;
    padding-right: 10px;
    display: inline-block;
}

ul.listJobs li span:after {
    display: block;
    position: absolute;
    right: 4px;
    top: 0;
    left: auto;
    bottom: auto;
    content:',';
}

ul.listJobs li span:last-child {
    padding-right: 2px;
}

ul.listJobs li span:last-child:after {
    content: '';
}

.single-jobs .content-meta {
    margin-bottom: 15px;
}

.single-jobs .type-jobs,
.post-type-archive-jobs .content-area,
.tax-jobs_categories .content-area {
    margin-bottom: 30px;
}

.post-type-archive-jobs .type-jobs {
   margin-bottom: 15px; 
}

.single-jobs .content-meta span {
    font-family: 'Lato', sans-serif;
    color: #E39631;
}

.single-jobs .content-meta .job-categories a {
    color: #E39631;
    font-family: 'Lato', sans-serif;
}

.single-jobs .col-md-9.content-area,
.post-type-archive-jobs .col-md-9.content-area,
.tax-jobs_categories .col-md-9.content-area {
    width: 100%;
}

/* 
* Shortcode Insurance Companies logos styles
*/
ul.listInsCompanies {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

ul.listInsCompanies li {
    width:100%;
    min-height: 120px;
    text-align: center;
    margin: 0 0 15px;
    position: relative;
}

ul.listInsCompanies li img {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 991px) {
    ul.listInsCompanies {
        flex-wrap: wrap;
        align-items: left;
        justify-content: left;
        text-align: left;
    }
    
    ul.listInsCompanies li {
        width: calc(50% - 15px);
        min-height: 120px;
        text-align: center;
        margin: 0 30px 15px 0;
        position: relative;
    }
    
    ul.listInsCompanies li:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 992px) {
    ul.listInsCompanies li {
        width: calc(33% - 30px); 
        margin: 0 15px 15px;
    }
}

@media screen and (min-width: 1200px) {
    ul.listInsCompanies li {
        width: calc(20% - 30px); 
    }
}

.homeSection1 {
    padding: 40px 15px;
}

.homepageIntroText p {
    margin-bottom: 0;
}

.homepageSpots {
    padding: 0;
}

.homeSection3 {
    background-color: #f0f0f0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.homeSection3 .teamImage{
    text-align: center;
    margin-bottom: 30px;
}

.homeSection3 .teamImage img {
    max-width: 100%;
    height: auto;
}

.homeSection4Header {
    padding: 30px 15px 0;
}

.homeSection4Footer {
    padding: 30px 0 50px;
}

.homeSection5 {
    background: #F0F0F0;
}

.homeSection6 {
    padding: 50px 0;
}

/* 
* Team members styles
*/
.homeSection3 .teamImage img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
/*
* Sidebar Right
*/

#sidebar-right {
    font-family: 'Lato';    
}

#sidebar-left .widget, 
#sidebar-right .widget {
    border: none;
    padding: 0;
}

#sidebar-left .widget ul, 
#sidebar-right .widget ul {
    padding: 0;
}

#sidebar-right .widget_archive ul,
.sidebar-menu ul {
    padding: 0;
    list-style: none;
}

#sidebar-right .widget_archive h1,
.sidebar-menu  h3 a,
.sidebar-menu  h3 span {
    display: block;
    background-color: #E39631;
    color: #FFFFFF;	
    font-size: 18px;	
    font-weight: 900;	
    line-height: 27px;
    padding: 15px;
    margin-bottom: 10px;
    transition: all ease-in-out .33s;
}

.sidebar-menu h3 a:hover {
    text-decoration: none;
    background-color: #F1A33D;
}

#sidebar-right .widget_archive ul li a:hover, 
#sidebar-right .widget_archive ul li a:focus,
.sidebar-menu ul li a:hover, 
.sidebar-menu ul li a:focus {
    text-decoration: none;
}

#sidebar-right .widget_archive ul,
#sidebar-right .sidebar-menu ul {
    padding: 30px 15px;   
}

#sidebar-right .widget_archive ul,
.sidebar-menu ul {
    background-color: #F0F0F0;
}

#sidebar-right p,
#sidebar-right ul li {
    font-size: 16px;
    line-height: 20px;
}

#sidebar-right .sidebar-back {
    color: #999;
}

#sidebar-right ul li a,
.sidebar-menu ul li a {
    color: #444444; 
    display: block;
    padding: 10px 0 10px 20px;
    position: relative;
}

#sidebar-right .widget_archive ul li a:hover,
#sidebar-right .widget_archive ul li a:focus,
#sidebar-right #relatedpages ul li a:hover, 
#sidebar-right #relatedpages ul li a:focus,
.sidebar-menu ul li a:hover,
.sidebar-menu ul li a:focus,
.sidebar-menu ul li.current_page_item a {
    color: #E39631;
    text-decoration: none;
}

.sidebar-menu ul li.current_page_item {
    font-weight: bold;
}

#sidebar-right .widget_archive ul li a:after,
#sidebar-right #relatedpages ul li a:after,
.sidebar-menu ul li a:after {
    color: #E39631;
    position: absolute;
    left: 5px;
    right:auto;
    top: 10px;
    bottom: auto;
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 20px;
}

#sidebar-right #relatedpages {
    padding: 15px;
    border-top: solid 3px #E39631;
    border-bottom: solid 1px #E39631;
}

#sidebar-right #relatedpages h3 {
    color: #583A58;	
    font-size: 22px;	
    font-weight: 900;	
    line-height: 27px;
}

#sidebar-right #relatedpages ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 991px) {
    #sidebar-left {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #sidebar-left, 
    #sidebar-right {
        margin-top: 120px;
    }

    #sidebar-right .widget_archive ul li a,
    #sidebar-right #relatedpages ul li a,
    .sidebar-menu ul li a {
        font-size: 18px;  
        line-height: 22px;  
    }

    #sidebar-right .widget_archive h1,
    .sidebar-menu h3 a,
    .sidebar-menu h3 span {
        font-size: 22px;      
        line-height: 27px;
        padding: 15px;
    }
 }


/**
 * Index Navigation
 */

.index_nav {
    margin-bottom: 15px;
}

.index_nav div:nth-child(2n+1) { 
    clear: left; 
}

.index_nav div a {
    display: block;
    background-color: #f0f0f0;
    font-family: 'Lato';
    font-size: 18px;
    padding: 10px 10px 10px 15px;
    margin-bottom: 10px;
    box-shadow: 1px;
    font-family: 
}

@media screen and (min-width: 992px) {
    .index_nav div a {
        font-size: 22px;
        padding: 15px 15px 15px 20px;
        margin-bottom: 15px;
    }
}


/*
* Newsletter Sign up
*/

.content_bottom_wrapper h2.title {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #583A58;
}

.content_bottom_wrapper .mc4wp-form-theme-blue input[type=submit] {
    background-color: #E39631 !important;
    border: none;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 20px;
    min-width: 150px;
    line-height: 25px;
    font-weight: 900;
}

/*
* Footer contact CTA
*/
.footer_contact_wrapper {
    padding-top: 20px;
    border-top: 5px dotted #583A58;
}

.footer_contact_cta_wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_contact_cta-one {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 20px;
}

.footer_contact_cta-one img {
    display: inline-block;
    max-width:135px;
    max-height: 135px;
}

.footer_contact_cta-one p {
    display: block;
    color: #583A58;	
    font-family: 'Lato';	
    font-size: 45px;	
    line-height: 54px;	
    text-align: center;
}

.footer_contact_cta-one p span {
    display: block;
}

.footer_contact_cta-one p span + span {
    font-weight: 900;
}

.footer_contact_cta-two {
    margin-bottom: 20px;
}

.footer_contact_cta-two p .cbct-number {
    display: block;
    margin-bottom: 15px;
    color: #583A58;	
    font-family: 'Lato';	
    font-size: 22px;	
    line-height: 25px;	
    text-align: center;
}

@media screen and (max-width: 991px) {
    .footer_contact_wrapper .container {
        width: 100%;
    }
    
    .footer_contact_cta-one p {
        margin-top: 15px;
        font-size: 25px;	
        line-height: 30px;
    }
    
    .footer_contact_cta-one {
        margin: 0 auto;
    }
    
    .footer_contact_cta-two {
        color: #583A58;	
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        line-height: 28px;
    }
    
    .footer_contact_cta-two span {
        display: block;
    }
}

@media screen and (min-width: 768px) {

    .footer_contact_cta-one img {
        float: left;    
    }
    
    .footer_contact_cta-one p {

        margin:15px 0 0;
        padding-left: 165px;
    }
    
    .footer_contact_cta-two p .cbct-number {
        width: 49%;
        display: inline-block;
        margin-right: 2%;
        float: left;
    }
    
    .footer_contact_cta-two p span + .cbct-number {
        margin-right: 0;
    }
}

@media screen and (min-width: 992px) {
    
    .footer_contact_cta_wrapper {
        max-width: 820px;
    }
    
}

/*
 *  Forms
 */

.wpcf7 label {
    display: inline;
}

.wpcf7-form-control-wrap .wpcf7-text,
.wpcf7-form-control-wrap textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.wpcf7-form .wpcf7-list-item {
    display: block;
    margin-left: 0;
}

.wpcf7-form .wpcf7-list-item-label {
    display: inline-block;
    margin-left: 15px;
    font-weight: normal;
}

.wpcf7-submit {
    border-radius: 5px; 
    background-color: #E39631;
    color: #FFFFFF; 
    font-family: 'Lato';    
    font-size: 20px;    
    font-weight: 900;   
    line-height: 25px;  
    text-align: center;
    border:none;
    box-shadow: none;
    padding: 10px 50px;
    min-width: 200px;
}

@media screen and (max-width: 420px) {
    .contact_form_wrapper .submit_wrapper > input[type="submit"] {
        width: 100%;
    }
}

/*
 * Footer Contact form 
 */
.contact_form_wrapper {
    background-color: #583A58;
    padding: 40px 0;
}

.contact_form_wrapper h2 {
    text-align: center;
    color: #fff;
}

.contact_form_wrapper .wpcf7-form-control-wrap {
    display: block;
}

.contact_form_wrapper .wpcf7-form-control-wrap textarea {
    max-height: 222px;
    margin-top: 30px;
}

.submit_wrapper {
    margin-top: 30px;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .contact_form_wrapper .wpcf7-form-control-wrap textarea {
        margin-top: 0px;
    }
}

/*
* Envira Gallery custom styles
*/
.envira-gallery-wrap .envira-gallery-public.envira-gallery-css-animations .envira-gallery-item {
    opacity: 0.85 !important;
    transition: none;
    transition: opacity ease-in-out .23s;
}

.envira-gallery-wrap .envira-gallery-public.envira-gallery-css-animations .envira-gallery-item:hover {
    opacity: 1 !important;
}

/* 
* Team members styles
*/

.amoteam-sc-team .amoteam-member-info {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    overflow: hidden;
}

.amoteam-sc-team .amoteam-tiles__item {
    position: relative;
    float: left;
    height: auto !important;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.amoteam-sc-team .amoteam-member-name {
    display: inline-block;
    background-color: #583A58;
    font-family: 'Lato', sans-serif;
    float: right;
}

.amoteam-sc-team .amoteam-member-subtitle {
    clear:right;
}

.amoteam-sc-team .amoteam-member-hover-icon {
    background: #583A58;
}

.amoteam-panel__heading .amoteam-panel__title,
.amoteam-panel__header .amoteam-btn-panel-close {
    background: #583A58;
}

.amoteam-panel .amoteam-panel__content {
    color: #000;
}

/*
* Footer styles
*/

#site-footer {
    background: #f0f0f0;
    border:none;
    color: #666666;	
    font-family: 'Lato';	
    font-size: 20px;	
    line-height: 30px;
    padding: 40px 0;
}

.footer-left {
    text-align: center;
}

.footer-coatofarms {
    float: left;
    margin-right: 20px;
    width: 100px;
}

.copyright_text {
    color: #666;
}

.certificate_social-links {
    display: inline-block;
    margin: 0 auto;
}

.certificate_social-links img {
    float: left;
}

.certificate_social-links span > span {
    float: left;
    display: inline-block;
}

.certificate_social-links span.tw-link {
    margin-left: 15px;
}

.certificate_social-links a {
    display: inline-block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #666;
    color: #fff;
    text-align: center;
}

.certificate_social-links .fa {
    font-size: 32px;
    line-height: 68px;
}

.footer-middle,
.footer-right {
    margin-top: 20px;
}

.footer-middle ul.menu,
.footer-right ul.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-middle ul.menu > li,
.footer-right ul.navbar-nav > li {
    width: 100%;
    text-align: center;
}

.footer-middle ul.menu li a,
.footer-right ul.navbar-nav li a {
    display: block;
    color: #666;
    text-shadow: none;
    padding: 2px 0;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}

.footer-middle ul.menu li a:hover,
.footer-right ul.navbar-nav li a:hover,
.footer-middle ul.menu li a:focus,
.footer-right ul.navbar-nav li a:focus,
.footer-middle ul.menu li.active a,
.footer-right ul.navbar-nav li.active a {
   text-decoration: none;
}

@media screen and (max-width: 991px) {
    .copyright_text {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
    }
    
    .certificate_social-links {
        display: block;
    }
    
    .certificate_social-links img {
        max-width: 100px;
        margin-right: 20px;
    }
    
    .certificate_social-links span.social-links-wrapper {
        float: right;
        display: block;
    }
    
    .certificate_social-links span > span {
        margin-top: 0;
    }
}

@media screen and (min-width: 992px) {
    .footer-left {
        text-align: left;
    }
    
    .footer-middle,
    .footer-right {
        margin-top: 0;
    }
    
    .certificate_social-links span.fb-link {
        clear:none;
        margin-left: 20px;
    }
    
    .certificate_social-links span > span {
        margin-top: 10px;
    }
    
    .footer-middle ul.menu > li,
    .footer-right ul.navbar-nav > li {
        float: left;
        width: 100%;
        text-align: left;
        font-size: 20px;
        line-height: 30px;
    }

}