.bdp_single .miracle_blog {
    box-shadow: 0 0 15px -12px #000;
    display: inline-block;
    padding: 20px;
    background: #ffffff;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
.bdp_single .miracle_blog > div,
.bdp_single .miracle_blog > div.post_content {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 0;
}
.bdp_single .miracle_blog > div:last-child {
    margin-bottom: 0;
}
.bdp_single .miracle_blog .bdp-post-format {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.3;
}
.bdp_single .miracle_blog h1.post-title {
    cursor: default;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.bdp_single .miracle_blog .post-meta {
    display: inline-block;
    width: 100%;
}
.bdp_single .miracle_blog .post-meta > span {
    display: inline-block;
    margin-right: 20px;
    padding: 0;
    width: auto;
}
.bdp_single .miracle_blog .bdp-post-image {
    margin-top: 60px;
}
.bdp_single .miracle_blog .bdp-post-image.bdp-no-thumbnail {
    margin: 0 0 20px;
}
.bdp_single .miracle_blog .bdp-author-avatar {
    border: 5px solid #fff;
    width: 110px;
    height: 110px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -60px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}
.bdp_single .miracle_blog .bdp-no-thumbnail .bdp-author-avatar { 
    position: relative;
    top: 0;
}
.bdp_single .miracle_blog .bdp-author-avatar img {
    border-radius: 50%;
}
.bdp_single .miracle_blog .share-this {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 15px;
}
.bdp_single .miracle_blog .social-component {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.bdp_single.miracle .navigation.post-navigation {
    background: #ffffff;
    border: none;
    padding: 15px;
    margin-bottom: 1.5em;
    box-shadow: 0 0 15px -12px #000;
}
.bdp_single.miracle .author-avatar-div {
    background: #ffffff;
    box-shadow: 0 0 15px -12px #000;
    display: inline-block;
    position: relative;
    padding: 15px;
    margin-bottom: 1.5em;
    width: 100%;
}
.bdp_single.miracle .author-avatar-div img.avatar {
    width: auto;
}
.bdp_single.miracle .author-avatar-div .author_content {
    margin-left: 170px;
}
.author-avatar-div .author_content .social-component {
    float: none;
}

.bdp_single.miracle .related_post_wrap {
    background: #ffffff;
    box-shadow: 0 0 15px -12px #000;
    display: inline-block;
    position: relative;
    padding: 15px;
    margin-bottom: 1.5em;
    width: 100%;
}
.bdp_single.miracle  .related_post_wrap .relatedpost_title {
    margin-top: 10px;
}
.bdp_single.miracle .comments-area {
    background: #ffffff;
    box-shadow: 0 0 15px -12px #000;
    display: inline-block;
    position: relative;
    padding: 15px;
    margin-bottom: 1.5em;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .bdp_single.miracle .author-avatar-div .author_content {
        margin-left: 15px;
    }
    .bdp_single.miracle .author-avatar-div .author_content {
        display: inline-block;
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 640px) {
    .bdp_single .miracle_blog .bdp-author-avatar {
        width: 80px;
        height: 80px;
        top: -50px;
    }
}