a:focus,
a:hover {
    outline: none;
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.bdp_single .navigation.post-navigation .nav-links .nav-previous a .left_nav{
    bottom: 0;
    height: 15px;
    line-height: 1;
    margin: auto;
    position: absolute;
    left: 6px;
    top: 0;
}
.bdp-wrapper-like{
    display: inline-block;
    padding-left: 10px;
    width: auto;
}
.bdp-wrapper-like > span {
    display: inline-block;
}
.bdp_single .post-navigation {
    overflow: visible;
    visibility: visible;
}
.bdp_single .comment-list .comment-body {
    padding-left: 70px;
    position: relative;
}
.bdp_single .comment-list .comment-author .avatar {
    left: 0;
}
.bdp_single .comment-list .comment-author {
    position: inherit;
}
.bdp_single .bdp-post-navigation img {
    max-width: initial;
}
.bdp_single {
    display: inline-block;
    width: 100%;
}
.bdp_single #comments{
    margin-left: 0;
    margin-right: 0;
}
.bdp_single .navigation.post-navigation .nav-links .nav-next a .right_nav {
    bottom: 0;
    height: 15px;
    line-height: 1;
    margin: auto;
    position: absolute;
    right: 6px;
    top: 0;
}
.bdp_single .navigation.post-navigation .nav-links .nav-next {
    display: inline-block;
    float: right;
    margin: 15px 0;
    text-align: right;
    position: relative;
    width: auto;
}
.bdp_single .comments-link:before,
.bdp_single .post-navigation .nav-previous:before,
.bdp_single .post-navigation .nav-next:after {
    content: " ";
}

.bdp_single .navigation.post-navigation .nav-links .nav-previous {
    display: inline-block;
    float: left;
    margin: 15px 0;
    position: relative;
    width: auto;
}
.bdp_single .navigation.post-navigation .nav-links .nav-previous a {
    max-width: 320px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}
.bdp_single .navigation.post-navigation .nav-links .nav-next a {
    max-width: 320px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}
.bdp_single .nav-links {
    height: auto;
}
.bdp_single .post-navigation:after {
    clear: both;
}
.bdp_single .post-navigation div + div{
    border:none;
}
.bdp_single .post-navigation:before, .post-navigation:after {
    content: "";
    display: table;
}
.bdp_single .post-navigation .post-title{
    font-size: 16px;
}

.bdp_single .entry-content ul,
.bdp_single .entry-summary ul,
.bdp_single .comment-content ul,
.bdp_single .entry-content ol,
.bdp_single .entry-summary ol,
.bdp_single .comment-content ol{
    margin-left:15px;
    display: table;
}
.bdp_single .entry-content ul li{
    display: list-item;
    width: auto;
}
.post_content.entry-content {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0;
}
/*--- social component start ----*/
.bdp_blog_template .bdp-pinterest-share-image a{
    background-color: #cb2027;
    border-color: #b51d23;
    border-style: solid;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    background-size: 100%;
    box-shadow: none;
    background-image: url("../../images/pinterest.png");
}
.bdp_blog_template .bdp-post-image:hover .bdp-pinterest-share-image{
    visibility: visible;
    opacity: 1;
}
.bdp_blog_template .bdp-pinterest-share-image{
    bottom: 10px;
    left: 10px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    -moz-transition: visibility 0s, opacity 0.5s linear;
    -o-transition: visibility 0s, opacity 0.5s linear;
    -ms-transition: visibility 0s, opacity 0.5s linear;
}
.bdp_blog_template .bdp-post-image {
    position: relative;
}
.bdp_blog_template .bdp-post-image img {
    height: auto;
}
.col-md-12.single_blog_wrapper .bdp_blog_template .bdp-post-image img {
    width: 100%;
}
.bdp_single .social-component.extra_small .social-share {
    display: inline-block;
    margin: 10px 0 0;
}
.bdp_single .social-component.extra_small a {
    font-size: 13px;
    height: 27px;
    line-height: 20px;
    margin: 0px 2px 0 !important;
    padding: 3px 0;
    width: 27px;
}
.bdp_single .social-component.extra_small .social-share a.email{
    margin-left: 7px !important;
}
.bdp_single .social-component.extra_small .social-share .count {
    float: left;
    font-size: 12px;
    height: auto;
    line-height: 1.5;
    margin: 10px 0 0 3px;
    min-height: 27px;
    padding: 5px 0;
    text-align: center;
    width: 27px;
}
.bdp_single .social-component.large a.social-share-default{
    padding: 0;
}
.bdp_single .social-component img{
    max-width: 100%;
}
.bdp_single .social-component a.facebook-share:hover{
    background-color: #3a589d;
    border-color: #3a589d;
    color: #fff;
}
.bdp_single .social-component a.bdp-twitter-share:hover{
    background-color: #2478ba;
    border-color: #2478ba;
    color: #fff;
}
.bdp_single .social-component a.bdp-google-share:hover{
    background-color: #dd4e31;
    border-color: #dd4e31;
    color: #fff;
}
.bdp_single .social-component a:hover{
    color: #fff;
}
.social-component a.bdp-whatsapp-share:hover {
    background-color: #3cc150;
    border-color: #3cc150;
    color: #fff;
}
.bdp_single .social-component a.bdp-linkedin-share:hover{
    background-color: #0177B5;
    border-color: #0177B5;
    color: #fff;
}
.bdp_single .social-component a.bdp-email-share:hover{
    background-color: #111111;
    border-color: #111111;
    color: #fff;
}
.bdp_single .social-component a.bdp-pinterest-share:hover{
    background-color: #cb2320;
    border-color: #cb2320;
    color: #fff;
}
.bdp_single .social-component a.bdp-website-share:hover{
    background-color: #4285F4;
    border-color: #4285F4;
    color: #fff;
}
.bdp_single .social-component a.bdp-telegram-share:hover {
    background-color: #2399d6;
    border-color: #2399d6;
    color: #fff;
}
.bdp_single .social-component a.bdp-pocket-share:hover {
    background-color: #ee4056;
    border-color: #ee4056;
    color: #fff;
}
.bdp_single .social-component a.bdp-reddit-share:hover {
    background-color: #ff4500;
    border-color: #ff4500;
    color: #fff;
}
.bdp_single .social-component a.bdp-digg-share:hover {
    background-color: #245EAD;
    border-color: #245EAD;
    color: #fff;
}
.bdp_single .social-component a.bdp-skype-share:hover {
    background-color: #00aff0;
    border-color: #00aff0;
    color: #fff;
}
.bdp_single .social-component a.bdp-youtube-share:hover {
    background-color: #bb0000;
    border-color: #bb0000;
    color: #fff;
}
.bdp_single .social-component a.bdp-wordpress-share:hover{
    background-color: #21759b;
    border-color: #21759b;
    color: #fff;
}
.bdp_single .social-component a.bdp-tumblr-share:hover{
    background-color: #34526f;
    border-color: #34526f;
    color: #fff;
}
.bdp_single .social-component {
    float: left;
    width: 100%;
}
.bdp_single .author_content .social-component a{
    margin-left: 0;
    margin-right: 10px;
}
.bdp_single .social-component a {
    border: 1px solid #cccccc;
    display: inline-block;
    margin: 5px;
    padding: 8px 0;
    text-align: center;
    width: 38px;
    font-size: 15px !important;
    line-height:20px;
    box-shadow: none;
    vertical-align: top;
}
.bdp_single .social-component .social-share {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}
.bdp_single .social-component .social-share a {
    margin: 0;
    float: left;
}
.bdp_single .social-component.right .social-share a {
    float: none;
}
.bdp_single .social-component a:hover i{
    color: #fff;
}
.bdp_single .social-component.large a{
    height: 45px;
    padding: 12px 0;
    width: 45px;
    box-sizing:border-box;
}
.bdp_single .social-component.large.right .social-share .count{
    height: 45px;
    line-height: 25px;
}
.bdp_single .social-component.large .social-share .count {
    width: 45px;
}
.bdp_single .social-component .social-share .count {
    width: 38px;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #565656;
    text-align: center;
    position: relative;
    min-height: 30px;
    padding: 8px 5px;
    float: left;
    clear: left;
    margin: 8px 0 0;
}
.bdp_single .social-component .social-share .count:before {
    border-bottom: 8px solid #ddd;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px dashed rgba(0, 0, 0, 0);
    top: -8px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
}
.bdp_single .social-component .social-share-default {
    border: none;
    padding: 0;
}
/*------ square - top ---------*/
.bdp_single .social-component.top a,
.bdp_single .social-component.top .social-share {
    vertical-align: bottom;
}
.bdp_single .social-component.top .social-share .count {
    clear: both;
    float: none;
    line-height: 1;
    margin: 0 0 8px 0;
    min-height: 30px;
}
.bdp_single .social-component.top .social-share .count:before {
    border-top: 8px solid #ddd;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px dashed rgba(0, 0, 0, 0);
    border-bottom: none;
    bottom: -9px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
    top: auto;
}
/*------ square - bottom ---------*/
.bdp_single .social-component.bottom .social-share .count {
    clear: both;
    float: left;
    line-height: 1;
    margin: 8px 0 0;
    word-wrap: break-word;
    min-height: 30px;
}
.bdp_single .social-component.bottom .social-share .count:before {
    border-bottom: 8px solid #ddd;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px dashed rgba(0, 0, 0, 0);
    top: -8px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
}
/*------ square - right ---------*/
.bdp_single .social-component.right .social-share .count {
    box-sizing: border-box;
    float: right;
    line-height: 20px;
    margin: 0 0 0 8px;
    min-height: 35px;
    min-width: 35px;
    width: auto;
}
.bdp_single .social-component.right .social-share .count:before {
    border-bottom: 8px dashed rgba(0, 0, 0, 0);
    border-right: 8px solid #dddddd;
    border-top: 8px solid rgba(0, 0, 0, 0);
    bottom: 0;
    content: "";
    height: 8px;
    left: -16px;
    margin: auto;
    min-width: 0;
    position: absolute;
    top: 0;
    width: 0;
    right: auto;
}
/*--- social component end ----*/
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}
.related_post_div {
    width: 100%;
}
.bdp_single .related_post_div,.bdp_single .relatedposts,.bdp_single .relatedposts a {
    display: inline-block;
    width: auto;
    vertical-align: top;
    overflow: hidden;
}
.bdp_single .relatedposts,
.bdp_single .related_post_div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.bdp_single .relatedposts a {
    text-align: center;
}
.bdp_single .post_content.entry-content {
    margin-bottom: 0;
}
.bdp_single .related_post_div.two_post .relatedthumb {
    float: left;
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 10px 0;
    display: inline-block;
    padding: 0 10px
}
.bdp_single .related_post_div.three_post .relatedthumb {
    float: left;
    width: 33.333%;
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0 10px
}
.bdp_single .related_post_div.four_post .relatedthumb {
    float: left;
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    padding: 0 10px
}
.bdp_single .related_post_div .relatedthumb img {
    width: auto;
    max-width: 100%;
    display: inline-block;
}
.post_content.entry-content blockquote:not(.alignleft):not(.alignright),
.entry-summary blockquote,
.comment-content blockquote,
.post-content blockquote:not(.alignleft):not(.alignright){
    display: inline-block;
    margin-left: 0;
}
.bdp_single .author-avatar-div img.avatar{
    height: auto;
    float: left;
    width: 100%;
}
.bdp_single.masonry_timeline .masonry-timeline-wrapp {
    margin-bottom: 35px;
}
.bdp_single.masonry_timeline .author-avatar-div {
    margin-top: 5px;
}
.bdp_single .navigation.post-navigation .nav-links {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.single .bdp_single .navigation.post-navigation{
    margin-left: 0;
    margin-right: 0;
}
.bdp_single .comments-title,.bdp_single .comment-reply-title{
    border-top: 0;
}
.bdp_single .navigation.post-navigation .nav-links .nav-previous,
.bdp_single .navigation.post-navigation .nav-links .nav-next {
    margin: 15px 0;
    width: 100%;
}
.bdp_single .navigation.post-navigation .nav-links .previous-post,
.bdp_single .navigation.post-navigation .nav-links .next-post {
    width: 50%;
    box-sizing: border-box;
}
.bdp_single .navigation.post-navigation .nav-links .nav-previous a,
.bdp_single .navigation.post-navigation .nav-links .nav-next a {
    padding: 15px;
}
.bdp_single .navigation.post-navigation .post-data {
    display: table-cell;
    vertical-align: middle;
}
.bdp_single .navigation.post-navigation .nav-previous .navi-post-thumbnail,
.bdp_single .navigation.post-navigation .nav-next .navi-post-thumbnail {
    display: table-cell;
    vertical-align: middle;
}
.bdp_single .navigation.post-navigation .nav-next .navi-post-thumbnail,
.bdp_single .navigation.post-navigation .nav-next .post-data {
    padding-right: 10px;
    text-align: right;
}
.bdp_single .navigation.post-navigation .post-data .navi-post-text{
    margin-bottom: 0;
}
.bdp_single .navigation.post-navigation .post-data span {
    display: block;
    text-transform: none;
}
.bdp_single .navigation.post-navigation .post-data span.navi-post-title,
.bdp_single .navigation.post-navigation .post-data span.navi-post-text{
    font-size: 16px;
    word-wrap: break-word;
}
.bdp_single .navigation.post-navigation .nav-previous .navi-post-thumbnail,
.bdp_single .navigation.post-navigation .nav-previous .post-data {
    padding-left: 10px;
    text-align: left;
}
.bdp_single .navigation.post-navigation .nav-links .next-post{
    float: right;
}
.bdp_single .navigation.post-navigation .nav-links .previous-post{
    float: left;
}
.bdp_single .navigation.post-navigation .post-data .navi-post-date {
    font-size: 12px;
    color: #aaaaaa;
    line-height: normal;
}
.bdp_single .relatedposts .relatedthumb .related_post_content{
    font-size: 14px;
    color: #444;
    padding: 10px;
    line-height: 1.5;
}
.bdp_single .author-avatar-div,
.bdp_single .related_post_wrap {
    margin: 0 0 30px;
}
.related_post_wrap .bdp-no-post-found{
    display: block;
    text-align: center;
}
/* social media links style */
.bdp_single .author-social-links {
    display: inline-block;
    margin-top: 10px;
}
.bdp_single .author-social-links ul {
    margin: 0;
    font-size: 0;
}
.bdp_single .author-social-links ul li {
    list-style-type: none;
    display: inline-block;
}
.bdp_single .author-social-links ul li a.social-icon{
    border: 1px solid #999999;
    box-sizing: border-box;
    color: #999999;
    display: inline-block;
    height: 38px;
    line-height: 20px;
    margin-left: 8px;
    margin-top: 8px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    width: 38px;
}
.bdp_single .author-social-links ul li a.social-icon:hover,
.bdp_single .author-social-links ul li a.social-icon:active {
    border: 1px solid #333333;
    color: #333333;
}
.bdp_single .author-social-links ul li:first-child a.social-icon {
    margin-left: 0;
}
/* social media links style */
.bdp_single .share-this {
    display: table-cell;
    font-size: 22px;
    vertical-align: middle;
}
.bdp_single .share-this span{
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    line-height: 1;
}
.bdp_single .post_content.entry-content{
    margin-left: 0;
    margin-right: 0;
}
.bdp_single {
    box-sizing: border-box;
}
.bdp_single .author-avatar-div{
    box-sizing: border-box;
}
.display_post_views{
    display: inline-block;
    text-align: right;
    width: 100%;
}
.bdp_single .display_post_views p {
    margin: 0;
}
/*Social Icon style*/
.bdp_single .social-component a.social-share-default:hover{
    opacity: 1.0;
}
.bdp_single .social-component a.social-share-default{
    height: 38px;
    background-image: url('../../images/social_default_image.png');
    opacity: 0.9;
    background-color: transparent !important;
}
/*First Social Icon Style*/
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-facebook-share{
    background-position: -10px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-google-share {
    background-position: -58px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-twitter-share {
    background-position: -202px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-email-share {
    background-position: -250px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-website-share {
    background-position: -346px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-pocket-share {
    background-position: -394px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-telegram-share {
    background-position: -442px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-reddit-share {
    background-position: -490px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-vine-share {
    background-position: -538px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-instagram-share {
    background-position: -634px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-youtube-share {
    background-position: -682px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-skype-share {
    background-position: -1066px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -10px;
}
.bdp_single .social-component.default_social_style_1 a.social-share-default.bdp-digg-share {
    background-position: -1210px -10px;
}

/*Second Social Icon Style*/
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-facebook-share{
    background-position: -10px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-google-share {
    background-position: -58px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-twitter-share {
    background-position: -202px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-email-share {
    background-position: -250px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-website-share {
    background-position: -346px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-pocket-share {
    background-position: -394px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-telegram-share {
    background-position:  -442px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-reddit-share {
    background-position: -490px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-vine-share {
    background-position: -538px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-instagram-share {
    background-position: -634px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-youtube-share {
    background-position: -682px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-skype-share {
    background-position: -1066px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -58px;
}
.bdp_single .social-component.default_social_style_2 a.social-share-default.bdp-digg-share {
    background-position: -1210px -58px;
}

/*Third Social Icon Style*/
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-facebook-share{
    background-position: -10px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-google-share {
    background-position: -58px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-twitter-share {
    background-position: -202px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-email-share {
    background-position: -250px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-website-share {
    background-position: -346px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-pocket-share {
    background-position: -394px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-telegram-share {
    background-position: -442px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-reddit-share {
    background-position: -490px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-vine-share {
    background-position: -538px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-instagram-share {
    background-position: -634px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-youtube-share {
    background-position: -682px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-skype-share {
    background-position: -1066px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -106px;
}
.bdp_single .social-component.default_social_style_3 a.social-share-default.bdp-digg-share {
    background-position: -1210px -106px;
}

/*Fourth Social Icon Style*/
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-facebook-share{
    background-position: -10px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-google-share {
    background-position: -58px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-twitter-share {
    background-position: -202px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-email-share {
    background-position: -250px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-website-share {
    background-position: -346px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-pocket-share {
    background-position: -394px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-telegram-share {
    background-position:  -442px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-reddit-share {
    background-position: -490px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-vine-share {
    background-position: -538px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-instagram-share {
    background-position: -634px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-youtube-share {
    background-position: -682px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-skype-share {
    background-position: -1066px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -154px;
}
.bdp_single .social-component.default_social_style_4 a.social-share-default.bdp-digg-share {
    background-position: -1210px -154px;
}

/*Fifth Social Icon Style*/
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-facebook-share{
    background-position: -10px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-google-share {
    background-position: -58px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-twitter-share {
    background-position: -202px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-email-share {
    background-position: -250px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-website-share {
    background-position: -346px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-pocket-share {
    background-position: -394px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-telegram-share {
    background-position: -442px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-reddit-share {
    background-position: -490px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-vine-share {
    background-position: -538px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-instagram-share {
    background-position: -634px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-youtube-share {
    background-position: -682px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-skype-share {
    background-position: -1066px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -202px;
}
.bdp_single .social-component.default_social_style_5 a.social-share-default.bdp-digg-share {
    background-position: -1210px -202px;
}

/*Sixth Social Icon Style*/
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-facebook-share{
    background-position: -10px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-google-share {
    background-position: -58px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-twitter-share {
    background-position: -202px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-email-share {
    background-position: -250px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-website-share {
    background-position: -346px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-pocket-share {
    background-position: -394px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-telegram-share {
    background-position: -442px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-reddit-share {
    background-position: -490px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-vine-share {
    background-position: -538px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-instagram-share {
    background-position: -634px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-youtube-share {
    background-position: -682px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-skype-share {
    background-position: -1066px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -250px;
}
.bdp_single .social-component.default_social_style_6 a.social-share-default.bdp-digg-share {
    background-position: -1210px -250px;
}

/*Seventh Social Icon Style*/
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-facebook-share{
    background-position: -10px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-google-share {
    background-position: -58px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-twitter-share {
    background-position: -202px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-email-share {
    background-position: -250px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-website-share {
    background-position: -346px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-pocket-share {
    background-position: -394px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-telegram-share {
    background-position: -442px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-reddit-share {
    background-position: -490px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-vine-share {
    background-position: -538px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-instagram-share {
    background-position: -634px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-youtube-share {
    background-position: -682px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-skype-share {
    background-position: -1066px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -298px;
}
.bdp_single .social-component.default_social_style_7 a.social-share-default.bdp-digg-share {
    background-position: -1210px -298px;
}

/*Eighth Social Icon Style*/
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-facebook-share{
    background-position: -10px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-google-share {
    background-position: -58px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-twitter-share {
    background-position: -202px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-email-share {
    background-position: -250px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-website-share {
    background-position: -346px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-pocket-share {
    background-position: -394px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-telegram-share {
    background-position: -442px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-reddit-share {
    background-position: -490px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-vine-share {
    background-position: -538px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-instagram-share {
    background-position: -634px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-youtube-share {
    background-position: -682px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-skype-share {
    background-position: -1066px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -346px;
}
.bdp_single .social-component.default_social_style_8 a.social-share-default.bdp-digg-share {
    background-position: -1210px -346px;
}

/*Ninth Social Icon Style*/
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-facebook-share{
    background-position: -10px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-google-share {
    background-position: -58px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-twitter-share {
    background-position: -202px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-email-share {
    background-position: -250px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-website-share {
    background-position: -346px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-pocket-share {
    background-position: -394px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-telegram-share {
    background-position: -442px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-reddit-share {
    background-position: -490px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-vine-share {
    background-position: -538px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-instagram-share {
    background-position: -634px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-youtube-share {
    background-position: -682px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-skype-share {
    background-position: -1066px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -394px;
}
.bdp_single .social-component.default_social_style_9 a.social-share-default.bdp-digg-share {
    background-position: -1210px -394px;
}

/*Tenth Social Icon Style*/
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-facebook-share{
    background-position: -10px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-google-share {
    background-position: -58px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-linkedin-share {
    background-position: -106px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-pinterest-share {
    background-position: -154px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-twitter-share {
    background-position: -202px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-email-share {
    background-position: -250px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-whatsapp-share {
    background-position: -298px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-website-share {
    background-position: -346px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-pocket-share {
    background-position: -394px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-telegram-share {
    background-position: -442px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-reddit-share {
    background-position: -490px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-vine-share {
    background-position: -538px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-tumblr-share {
    background-position: -586px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-instagram-share {
    background-position: -634px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-youtube-share {
    background-position: -682px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-wordpress-share {
    background-position: -970px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-skype-share {
    background-position: -1066px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-snapchat-share {
    background-position: -1114px -442px;
}
.bdp_single .social-component.default_social_style_10 a.social-share-default.bdp-digg-share {
    background-position: -1210px -442px;
}

.bdp_single .bwp-recaptcha.g-recaptcha {
    margin-bottom: 1.75em;
    display: inline-block;
    width: 100%;
}
.bdp_single .bwp-recaptcha-error.error {
    color: #ff0000;
}
.bdp_email_share {
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 0 10px #cccccc;
    padding: 15px;
    position: absolute;
    display: none;
    z-index: 2;
}
.bdp-close {
    cursor: pointer;
    display: inline;
    float: right;
}
.bdp-close_button {
    padding-left: 10px;
    display: inline;
    cursor: pointer;
}
#bdp_email_share form > div {
    padding-top: 12px;
}
#bdp_email_share label {
    font-weight: normal;
    font-size: 12px;
}
#bdp_email_share input[type='text'],
#bdp_email_share input[type='email'] {
    padding: 5px;
}
@media screen and (max-width: 992px) {
    .bdp_single .related_post_div.three_post .relatedthumb{
        width: 33.333%;
    }
    .bdp_single .related_post_div.four_post .relatedthumb {
        width: 50%;
    }
    .bdp_single .related_post_div.four_post .relatedthumb:nth-child(2n + 1) {
        clear: left;
    }
}
@media screen and (max-width: 910px) {
    .bdp_single {
        padding: 0 15px;
    }
    .bdp_single .post-navigation,
    .bdp_single .comments-area {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 640px) {
    .bdp_single .share-this {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 480px) {
    .author-avatar-div .avtar-img {
        float: left;
        text-align: center;
        width: 100%;
        margin-right: 0;
    }
    .author-avatar-div .author_content {
        margin-left: 0;
        padding: 10px;
        text-align: center;
    }
    .bdp_single .related_post_div.two_post .relatedthumb,
    .bdp_single .related_post_div.three_post .relatedthumb,
    .bdp_single .related_post_div.four_post .relatedthumb {
        width: 100%;
        text-align: center;
    }
    .related_post_wrap {
        display: inline-block;
        width: 100%;
    }
    .bdp_single .navigation.post-navigation .nav-links .nav-next,
    .bdp_single .navigation.post-navigation .nav-links .nav-previous,
    .bdp_single .navigation.post-navigation .nav-links .previous-post,
    .bdp_single .navigation.post-navigation .nav-links .next-post {
        width: 100%;
    }
    .bdp_single .author-avatar-div img.avatar{;
        float: none;
    }
    .bdp_single .author_content .social-component a {
        float: none;
    }
}

@media screen and (max-width: 320px) {
    .bdp_single .social-component a{
        margin: 3px;
    }
}

@media screen and (max-width: 480px) {
    .bdp_single .author-avatar-div img.avatar {
        width: auto;
    }
}
